@charset "UTF-8";

/* ----- Base ----- */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, pre, a, abbr, acronym, cite,
code, del, dfn, em, img, ins, q, s, samp, strike, strong, sub, sup, u, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, embed { margin:0; padding:0; border:0 none; font-size:100%; font:inherit; }
header, section, nav, article, aside, footer { display:block; }
body {
	color:#474747; font-size:15px; font-family:"Malgun Gothic", 돋움, Dotum, 굴림, Gulim, sans-serif, Arial, Verdana, sans-serif;
	line-height:1; -webkit-text-size-adjust:none; word-wrap:break-word; word-break:break-all; background:#1e1e1e;
}
ol, ul { list-style:none; }
img { border:0 none; vertical-align:top; }
table { width:100%; border-collapse:collapse; border-spacing:0; }
address, caption, cite, code, dfn, em, th, var { font-style:normal; font-weight:normal; }
input, textarea, button { outline:none; padding:0;  }
button { margin:0; padding:0; border:0; cursor:pointer; font-family:inherit; line-height:inherit; text-indent:-9999px; }
input[type="button"], input[type="text"], input[type="image"], input[type="submit"], textarea { -webkit-appearance:none; -webkit-border-radius:0; }
input[type="checkbox"] { -webkit-appearance:checkbox; }
input[type="radio"] { -webkit-appearance:radio; }
hr, legend { display:none; }
input, select, button { vertical-align:middle; }
a { text-decoration:none; }
/* to preserve line-height and selector appearance */
sup { vertical-align:text-top; }
sub { vertical-align:text-bottom; }
input, textarea, select { font-family:inherit; font-size:inherit; font-weight:inherit; }
textarea, input { outline-color:-moz-use-text-color; outline-style:none; outline-width:medium; }
textarea { resize:none; }