@charset 'utf-8';
@import url(font-noto.css);
@import url(http://fonts.googleapis.com/css?family=Roboto:100,300,400,600);

/* ----- SK Planet - Base 1.0 ----- */
html, body, form, div, p, h1, h2, h3, h4, h5, h6, dl, dt, dd, ul, ol, li, fieldset, th, td, button {margin:0;padding:0;border:0;font-size:100%;}
body {-webkit-text-size-adjust:none}
input, textarea, select, button {font:inherit;vertical-align:middle;padding:0;}
input[type="button"], input[type="text"], input[type="image"], input[type="submit"], input[type="tel"], input[type="date"], textarea, select {-webkit-appearance:none;border-radius:0;}
input[type="checkbox"] {-webkit-appearance:checkbox;}
input[type="radio"] {-webkit-appearance:radio;}
textarea {resize:none;}
table {width:100%;border-collapse:collapse;border-spacing:0;}
ol, ul {list-style:none;}
img, fieldset, iframe {border:none;}
address, cite, code, dfn, em, var, th, strong {font-style:normal;}
a {text-decoration:none;}
article, aside, dialog, figure, footer, header, hgroup, nav, section {display:block;}
img {vertical-align:top;}

/* ----- Common ----- */
* {-webkit-tap-highlight-color:rgba(0,0,0,0);}
html, body {font-size:16px;}
html, body, .full-page {height:100%;}
body {background-color:#ebebeb;}
.ui-wrap section, .ui-wrap article, .ui-wrap div, .ui-wrap header, .ui-wrap span, .ui-wrap em, .ui-wrap h1, .ui-wrap h2, .ui-wrap h3, .ui-wrap h4, .ui-wrap h5, .ui-wrap h6, .ui-wrap figcaption, .ui-wrap p, .ui-wrap address, .ui-wrap a, .ui-wrap button, .ui-wrap small, .ui-wrap textarea {font-family:'NotoSansCJKkr', sans-serif;}
button {cursor:pointer;margin:0;padding:0;border:0;color:#fff;background-color:transparent;background-repeat:no-repeat;background-position:0 0;outline:none;box-shadow:none;}
button span {height:1px;display:block;overflow:hidden;visibility:hidden;}
.ui-hidden {height:1px;display:block;overflow:hidden;visibility:hidden;}
select, .inp-st {
	box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;
	-moz-appearance:none;-webkit-appearance:none;appearance:none;margin:0;padding:0;border:0 none;
}
.alt-bg {background:#fff;}
.hidden{display:none !important;}
@media screen and (-ms-high-contrast:active), (-ms-high-contrast:none) {select::-ms-expand {display:none;} input::-ms-clear {display:none;}}
/* top header */
	.ui-trend-list header {-webkit-transform:translateY(0%);-moz-transform:translateY(0%);transform:translateY(0%);-webkit-transition:all 0.1s;-moz-transition:all 0.1s;transition:all 0.1s;position:relative;height:195px;width:100%;background:url(../img/i_trend_bg.png) 0 0 no-repeat;background-size:cover;}
	.ui-trend-list header .ui-keyword {background:url(../img/i-trend-kw.png) 0 56px no-repeat;background-size:100% auto;width:108px;height:195px;margin:0 auto;}
	.ui-trend-list header .ui-share {height:28px;text-align:right;position:absolute;bottom:20px;right:12px;}
	.ui-trend-list header .ui-share button {background-repeat:no-repeat;background-size:100%;margin-left:7px;}
	.ui-trend-list header .ui-share button.ui-kakao {background-image:url(../img/i-share01.png);width:28px;height:26px;}
	.ui-trend-list header .ui-share button.ui-fb {background-image:url(../img/i-share02.png);width:28px;height:28px;}
	.ui-trend-list header .ui-share button.ui-sms {background-image:url(../img/i-share03.png);width:28px;height:28px;}
	.ui-trend-list header .ui-info {display:block;background:url(../img/i-trend-info.png) 0 0 no-repeat;width:24px;height:24px;background-size:100%;position:absolute;bottom:20px;left:12px;}
	.ui-trend-list header .logo {position:absolute;left:17px;top:11px;width:94px;height:35px;background:url(../img/bi02.png) 0 10px no-repeat;background-size:94px 15px;}
	.ui-trend-list header .logo a {display:block;overflow:hidden;width:94px;height:35px;white-space:nowrap;text-indent:100%;}
	.ui-trend-list header h2 {display:none;font-size:1rem;font-weight:bold;color:#2c5b00;margin:0 auto;width:auto;text-align:center;line-height:1;}
	.ui-smaller h2 {background:url(../img/bul_bar.png) no-repeat;background-position:0 18px;background-size:1px 19px;}
	.ui-wrap .ui-smaller h2 {overflow:hidden;text-align:left;padding:17px 0 0 10px;margin-left:121px;font-size:20px;font-weight:700px;line-height:22px;width:auto;color:#fff;white-space:nowrap;text-overflow:ellipsis;}
	#ui-header {z-index:4;overflow:hidden;position:fixed;width:100%;height:241px;}
	#ui-header.no-fixed {position:static;}
	#ui-header.ui-smaller {height:112px !important;}
	#ui-header.ui-smaller header {height:55px;background-image:url(../img/i_trend_bg2.png);background-size:cover;}
	#ui-header.ui-smaller header .ui-share, #ui-header.ui-smaller header .ui-keyword, #ui-header.ui-smaller header .ui-info {display:none;}
	#ui-header.ui-smaller header h2 {display:block;}
	#ui-header.ui-smaller header h2 em {font-weight:normal;}
	#ui-header header h1 {padding:0 17px;line-height:55px;font-size:19px;color:#fff;}
	#ui-header header h1 .lbs {display:inline-block;padding-left:22px;background:url('../img/ic-lbs.png') 0 50% no-repeat;background-size:16px 21px;}
/* footer */
	#footer {padding:15px 0 16px 0;margin-top:25px;text-align:center;background:#f9f9f9;}
	#footer.only-pcweb {display:none;}
	#footer .btn-module {padding:0 12px;}
	#footer .btn-module a {display:block;height:51px;color:#fff;background:#60c701;font-size:17px;line-height:51px;}
	#footer .menu-list {margin-top:23px;}
	#footer .menu-list li {display:inline-block;vertical-align:top;padding-left:6px;font-size:10px;line-height:12px;background:url('../img/bul_bar02.png') 0 1px no-repeat;background-size:1px 9px;}
	#footer .menu-list li:first-of-type {padding-left:0;margin-left:0;background:none;}
	#footer .menu-list li a {color:#333;}
	#footer .menu-list .point a {}
	#footer .linker-btn-box {padding-top:16px;}
	#footer .linker-btn-box a {
		display:inline-block;vertical-align:top;width:89px;height:26px;margin-left:-1px;border:1px solid #d9d9d9;line-height:26px;font-size:12px;color:#333;background:#fff;
	}
	#footer .linker-btn-box a:first-of-type {margin-left:0;}
	#footer .toggle-info-box {padding-top:23px;}
	#footer .toggle-info-box .show-hide {
		display:inline-block;vertical-align:top;padding-right:11px;color:#333;font-size:10px;line-height:12px;
		background:url('../img/ic_below_arrow.png') 100% 3px no-repeat;background-size:7px 5px;
	}
	#footer address {display:none;color:#a3a3a3;font-size:10px;line-height:14px;}
	#footer address ul {padding:13px 0 8px 0;}
	#footer address em {color:#666;}
	#footer .toggle-info-box.open address {display:block;}
	#footer .toggle-info-box.open .show-hide {background-image:url('../img/ic_upper_arrow.png');}
/* main gnb group */
	.main-gnb-grp .logo, .hd-src-module .inp-st, .main-gnb-grp .btn-module {display:none;}
	.main-gnb-grp {position:absolute;left:0;top:0;width:100%;padding-top:15px;z-index:2;}
	.hd-src-module .search-btn {
		position:absolute;right:5px;top:10px;
		overflow:hidden;width:40px;height:40px;text-indent:-9999px;background:url('../img/ic-search.png') 10px 10px no-repeat;background-size:20px;
	}
	.gnb ul {box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;width:189px;height:29px;border:1px solid #fff;border-radius:15px;margin:0 auto;overflow:hidden;}
	.gnb ul li {box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;float:left;width:50%;}
	.gnb ul li:first-of-type a {border-right:1px solid #fff;}
	.gnb ul a {float:left;width:100%;height:27px;line-height:29px;font-size:17px;color:#fff;text-align:center;}
	.gnb ul .selected a {color:#333;background:#fff;}
/* main visual image group */
	.main-vi-grp {overflow:hidden;position:relative;height:223px;}
	.carousel-item, .carousel-item h1 {height:223px;background-repeat:no-repeat;background-position:50% 50%;background-size:cover;}
	.carousel-item h1 a {display:block;overflow:hidden;width:100%;height:223px;white-space:nowrap;text-indent:100%;}
	.lbs-box {position:absolute;left:50%;top:58px;z-index:1;width:auto;text-align:center;font-size:13px;line-height:25px;-webkit-transform:translate(-50%, 0);transform:translate(-50%, 0);} /*수정1210*/
	.lbs-box .lbs-txt {padding-left:12px;background:url('../img/ic-lbs.png') 0 50% no-repeat;background-size:8px 11px;}
	.lbs-box .txt-inner {padding-right:14px;color:#fff;font-weight:bold;background:url('../img/ic_below_arrow03.png') 100% 50% no-repeat;background-size:9px 5px;}
	.total-store {position:absolute;left:0;bottom:12px;z-index:1;width:100%;text-align:center;}
	.total-store a {font-size:13px;line-height:17px;color:#fff;}
	.total-store strong {font-weight:bold;text-decoration:underline;font-size:15px;color:#d5eb19;}
	.main-vi-grp h2 {
		position:absolute;right:0;bottom:0;z-index:1;
		overflow:hidden;width:71px;height:77px;white-space:nowrap;text-indent:100%;background:url('../img/vi_lunch.png') no-repeat;background-size:71px 77px;
	}
	.main-vi-grp h2 a {display:block;width:71px;height:77px;}
/* main snb group */
	.main-snb-grp {position:relative;height:44px;background:#fff;}
	.main-snb-grp.ui-fixed {position:fixed;width:100%;z-index:100;left:0;top:0;}
	.main-snb-grp .main-snb-module {box-sizing: border-box;background-image:url('../img/bg_shadow02.png');background-position:100% 7px;background-repeat:no-repeat;background-size:5px 30px;width:80%;margin:0;padding:0 0 0 10px;}/*15.12.17 notyet*/
	.main-snb-grp .swiper-wrapper {position:relative;height:44px;width:100%;}/*15.12.17 notyet*/
	.main-snb-grp .swiper-slide {padding:0 7px;width:auto;}/*15.12.17 notyet*/
	.main-snb-grp .swiper-slide a {
		box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;
		display:inline-block;overflow:hidden;height:44px;vertical-align:top;color:#3a3a3a;font-size:16px;line-height:44px;text-align:center;
	}
	.main-snb-grp .more {
		position:absolute;right:35px;top:0;width:36px;height:44px;
		display:block;overflow:hidden;text-indent:100%;width:36px;height:44px;white-space:nowrap;
		background:url('../img/i-more.png') 50% 50% no-repeat;background-size:20px auto;
	}
	.main-snb-grp .fold {
		position:absolute;right:0;top:0;
		display:block;overflow:hidden;width:35px;height:44px;white-space:nowrap;text-indent:100%;
		background:url('../img/ic-fold.png') 0 10px no-repeat;background-size:25px 30px;
	}
	/*.main-snb-grp .swiper-slide.swiper-slide-active a {font-weight:bold;color:#60c701;border-bottom:2px solid #60c701;}*/ /*수정1210*/
	.main-snb-grp .swiper-slide.selected a {font-weight:bold;color:#60c701;border-bottom:2px solid #60c701;} /*수정1210*/
	.main-snb-grp.map-view-st {top:55px;position:relative;z-index:3;}
	.main-snb-grp.map-view-st .swiper-container{background:;width:100%;}/*15.12.17 notyet*/
	.main-snb-grp.map-view-st .main-snb-module {margin-right:12px;}
	.main-snb-grp.map-view-st .swiper-wrapper {}/*15.12.17 notyet*/
/* ui container group */
	.ui-cont-grp {padding:0 6px;}
	/* my surround - popular */
	.ui-cont-grp .ui-trend-list {box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;padding:10px 6px 0 6px;min-height:300px;}
/* pinterest style group */
	.pin-st-grp {position:relative;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
	.pin-st-panel {position:absolute;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;padding:10px 6px 0 6px;}
	.pin-st-module {cursor:pointer;display:block;background:#fff;}
	.pin-st-module .vi-box {position:relative;}
	.pin-st-module .vi-box .sns {display:block;position:absolute;left:12px;top:15px;width:12px;height:12px;overflow:hidden;white-space:nowrap;text-indent:100%;}
	.pin-st-module .vi-box .sns.insta {background:url('../img/i_photos01.png') no-repeat;background-size:12px;}
	.pin-st-module .vi-box .sns.fb {width:9px;background:url('../img/i_photos02.png') no-repeat;background-size:9px 12px;}
	.pin-st-module .vi-box .img-notice img {width:100%;height:auto}
	.pin-st-module .vi-box .img-box {width:100%;height:45vw;background-size:cover;background-repeat: no-repeat;}
	.pin-st-module .breifing-info {padding:11px 11px 7px 11px;border-bottom:1px solid #f0f0f0;}
	.pin-st-module .breifing-info h3 {font-size:16px;line-height:18px;font-weight:bold;color:#232323;}
	.pin-st-module .breifing-info p {margin-top:1px;font-size:12px;line-height:18px;color:#969696;}
	.pin-st-module .breifing-info p span {padding-left:5px;margin-left:4px;background:url('../img/bul_bar04.png') 0 50% no-repeat;background-size:1px 9px;}
	.pin-st-module .breifing-info p span:first-of-type {padding-left:0;margin-left:0;background:none;}
	.pin-st-module .review-box {position:relative;padding:12px 12px 14px 12px;}
	.pin-st-module .review-box dt {margin-bottom:9px;padding-left:30px;}
	.pin-st-module .review-box dt strong {display:block;font-size:12px;line-height:16px;color:#232323;font-weight:normal;}
	.pin-st-module .review-box .star-pt {
		display:block;width:67px;height:11px;margin:2px 0 0 0;
		background:url('../img/i-star-bg.png') no-repeat;background-size:67px 11px;
	}
	.pin-st-module .review-box .star-pt .star {display:block;overflow:hidden;height:11px;white-space:nowrap;text-indent:100%;background:url('../img/i-star.png') no-repeat;background-size:67px 11px;}
	.pin-st-module .review-box .profile {
		position:absolute;left:12px;top:15px;overflow:hidden;width:25px;height:25px;white-space:nowrap;text-indent:100%;
		border-radius:13px;background-repeat:no-repeat;background-position:0 0;background-size:25px;
	}
	.pin-st-module .review-box .txt-box {
		font-size:13px;line-height:16px;color:#787878;
		display:block;overflow:hidden;max-height:50px;
		display:-moz-box;display:-webkit-box;display:-ms-flexbox;display:box;-webkit-box-orient:vertical;overflow:hidden;
		text-overflow:ellipsis;-webkit-line-clamp:3;
	}
	.pin-st-module .review-box .txt-area ul {padding-top:9px;overflow:hidden;zoom:1;}
	.pin-st-module .review-box .txt-area li {float:left;width:43px;height:43px;margin-right:1px;}
	.pin-st-grp .pin-st-panel .txt-area li img {width:43px;height:43px;}
	.theme-box {
		box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;
		position:absolute;left:0;top:0;display:table;
		width:100%;height:100%;padding:0 19px 0 19px;text-align:center;color:#fff;background:url('../img/bg_layer02.png') repeat;
		display:-moz-box;display:-webkit-box;display:-ms-flexbox;display:box;
		-moz-box-pack:center;-webkit-box-pack:center;box-pack:center;text-align:center;
		-moz-box-align:center;-webkit-box-align:center;box-align:center;text-align:center;
		-moz-box-orient:vertical;-webkit-box-orient:vertical;box-orient:vertical;
	}
	.theme-box-inner {
		display:table-cell;height:100%;vertical-align:middle;
		display:-moz-box;display:-webkit-box;display:-ms-flexbox;display:box;
		-moz-box-pack:center;-webkit-box-pack:center;box-pack:center;text-align:center;
		-moz-box-align:center;-webkit-box-align:center;box-align:center;text-align:center;
		-moz-box-orient:vertical;-webkit-box-orient:vertical;box-orient:vertical;
	}
	.theme-box h2 {font-size:19px;line-height:24px;}
	.theme-box .profile {padding-top:8px;}
	.theme-box .profile img {width:25px;height:25px;border-radius:13px;vertical-align:top;}
	.theme-box strong {display:block;padding-top:5px;font-size:12px;line-height:16px;font-weight:normal;}
/* poi list */
	.ui-trend-list .ui-poi-list .ui-box-poi {background-color:#fff;margin-bottom:10px;padding-bottom:15px;}
	.ui-trend-list .ui-poi-list .ui-box-poi .ui-tit {position:relative;}
	.ui-trend-list .ui-poi-list .ui-box-poi .ui-tit h2{text-overflow:ellipsis;white-space:nowrap;word-wrap:normal;overflow:hidden;width:76%;padding-bottom:4px;}/*15.12.17 notyet*/
	.ui-trend-list .ui-poi-list .ui-box-poi .ui-tit h2 em {font-weight:normal;color:#969696;}
	.ui-trend-list .ui-poi-list .ui-box-poi .ui-tit .distance {position:absolute;right:10px;top:17px;font-size:21px;line-height:1.1;color:#969696;}
	.ui-trend-list .ui-poi-list .ui-box-poi.no-photo {margin-top:65px;}
	.ui-trend-list .ui-poi-list .ui-badge {position:relative;padding:0;margin:0;width:100%;}
	.ui-trend-list .ui-poi-list .ui-badge .ui-img-area {background-size:cover;background-position:50% 50%;width:100%;height:269px;display:block;}
	.ui-trend-list .ui-poi-list .ui-badge .ui-photos {position:absolute;bottom:14px;left:14px;background:url(../img/ic-photos.png) 0 1px no-repeat;background-size:21px auto;padding-left:26px;color:#fff;height:17px;display:block;line-height:1;font-family:'Roboto';font-weight:600;font-size:1.1875rem;line-height:1;}
	.ui-trend-list .ui-poi-list .ui-badge .ui-insta {position:absolute;top:14px;left:14px;background:url(../img/i_photos01.png) 0 0 no-repeat;background-size:20px auto;width:20px;height:20px;}
	.ui-trend-list .ui-poi-list .ui-badge .ui-fs {position:absolute;top:14px;left:14px;background:url(../img/i_photos02.png) 0 0 no-repeat;background-size:auto 20px;width:20px;height:20px;}
	.ui-trend-list .ui-poi-list .ui-badge .ui-badge-selec {position:absolute;bottom:-15px;right:5px;display:block;text-indent:-9999px;background:url(../img/i-select.png) 0 0 no-repeat;width:57px;height:57px;background-size:100%;}
	.ui-trend-list .ui-poi-list h2 {font-size:1.3125rem;font-weight:700;color:#232323;line-height:1.1;padding:12px 15px 0 15px;}
	.ui-trend-list .ui-poi-list .ui-info {padding:0 0 3px 15px;}
	.ui-trend-list .ui-poi-list .ui-info span {display:inline-block;color:#969696 !important;font-weight:300;font-size:0.75rem;}
	.ui-trend-list .ui-poi-list .ui-info .ui-star-rate {width:68px;height:11px;background:url(../img/i-star-bg.png) 0 0 no-repeat;background-size:68px 11px;margin-top:5px;position:relative;}
	.ui-trend-list .ui-poi-list .ui-info .ui-star-rate .ui-inner-star {height:11px;background:url(../img/i-star.png) 0 0 no-repeat;background-size:68px 11px;position:absolute;top:0;left:0;}
	.ui-trend-list .ui-poi-list .ui-info .ui-review {background:url(../img/ic-bar1.gif) 0 1px no-repeat;background-size:1px 9px;height:12px;margin:0 0 0 2px;line-height:1;padding:0 0 0 5px;}
	.ui-trend-list .ui-poi-list .ui-address {padding:0 15px;margin:5px 0 5px 0;font-weight:400;font-size:13px;line-height:1;display:block;color:#666;}
	.ui-trend-list .ui-poi-list .ui-tag {display:block;max-height:38px;min-height:1px;overflow:hidden;padding:0 15px;font-size:13px;line-height:19px;}
	.ui-trend-list .ui-poi-list .ui-tag span {color:#666;display:inline-block;white-space:nowrap;margin-right:5px;}
	.ui-trend-list .ui-poi-list .ui-time {margin:4px 0 2px 0;font-size:13px;color:#666;background:url(../img/ic-clock.png) 15px 2px no-repeat;background-size:auto 10px;padding-left:30px;line-height:13px;height:13px;}
	.ui-trend-list .ui-poi-list .ui-stickr {height:11px;padding:7px 15px 0 15px;}
	.ui-trend-list .ui-poi-list .ui-stickr span {display:inline-block;height:11px;vertical-align:top;margin-right:2px;text-indent:-9999px;}
	.ui-trend-list .ui-poi-list .ui-stickr .ui-stk-ad {width:17px;background:url(../img/ic-ad.png) 0 0 no-repeat;background-size:100% 100%;}
	.ui-trend-list .ui-poi-list .ui-stickr .ui-stk-coupon {width:46px;background:url(../img/ic-coupon.png) 0 0 no-repeat;background-size:100% 100%;}
	.ui-trend-list .ui-poi-list .ui-stickr .ui-stk-order {width:65px;background:url(../img/ic-syruporder.png) 0 0 no-repeat;background-size:100% 100%;}
	.cnt-empty{position:absolute;top:110px;left:0;text-align:center;width:100%;height:100%;font-size:20px;color:#232323;}/*15.12.17 notyet*/
/* photo list group */
	.photo-list-grp {box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;display:table;width:100%;padding:0 2px;}
	.photo-list-grp .sns {display:block;position:absolute;left:10px;top:10px;width:12px;height:12px;overflow:hidden;white-space:nowrap;text-indent:100%;}
	.photo-list-grp .sns.insta {background:url('../img/i_photos01.png') no-repeat;background-size:12px;}
	.photo-list-grp .sns.fb {width:9px;background:url('../img/i_photos02.png') no-repeat;background-size:9px 12px;}
	.photo-list-grp ul {clear:both;}
	.photo-list-grp ul:after{content:" ";display:table;}
	.photo-list-grp li {box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;float:left;width:33.3%;padding:1px;}
	.photo-list-grp li a {
		position:relative;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;
		overflow:hidden;display:block;width:100%;height:117px;border:1px solid rgba(204,204,204,.5);
		text-indent:-9999px;background-repeat:no-repeat;background-position:50% 50%;background-size:cover;
	}
/* photo view group */
	.photo-view-grp {position:relative;height:100%;min-height:100%;background:#000;}
	.photo-tit-box, .ui-photo-box {
		box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;
		position:fixed;left:0;width:100%;z-index:100;background:url('../img/bg_layer03.png') repeat;
	}
	.photo-tit-box {top:0;height:56px;padding:0 55px 0 17px;}
	.ui-photo-box {bottom:0;height:89px;}
	.photo-tit-box h1 {overflow:hidden;color:#fff;font-size:20px;line-height:56px;white-space:nowrap;text-overflow:ellipsis;}
	.photo-tit-box .list-linker {
		position:absolute;right:8px;top:8px;z-index:101;overflow:hidden;display:block;width:39px;height:39px;
		text-indent:100%;white-space:nowrap;background:url('../img/ic_list.png') 50% 50% no-repeat;background-size:19px;
	}
	.photo-swipe-module {overflow:hidden;height:100%;}
	.photo-swipe-module img {width:100%;vertical-align:middle;}
	.photo-swipe-module .swiper-slide-outer {display:table;width:100%;height:100%;}
	.photo-swipe-module .swiper-slide-inner {display:table-cell;width:100%;height:100%;vertical-align:middle;}
	.photo-swipe-module .photo-box {position:relative;}
	.photo-swipe-module .sns {display:block;position:absolute;left:18px;top:18px;width:12px;height:12px;overflow:hidden;white-space:nowrap;text-indent:100%;}
	.photo-swipe-module .sns.insta {background:url('../img/i_photos01.png') no-repeat;background-size:12px;}
	.photo-swipe-module .sns.fb {width:9px;background:url('../img/i_photos02.png') no-repeat;background-size:9px 12px;}
	.ui-photo-box {padding:17px 18px 0 18px;color:#ebebeb;}
	.ui-photo-box .info {position:relative;font-size:16px;line-height:20px;}
	.ui-photo-box .info .sub-txt {position:absolute;right:0;top:0;}
	.ui-photo-box .count {padding-top:6px;}
	.ui-photo-box .count a {display:inline-block;padding:1px 0;color:#ebebeb;font-size:15px;line-height:17px;}
	.ui-photo-box .count .like {margin-right:3px;padding-left:26px;background:url('../img/ic-like02.png') 0 0 no-repeat;background-size:20px 18px;}
	.ui-photo-box .count .like.selected {background-image:url('../img/ic-liked02.png');}
	.ui-photo-box .count .reply {padding-left:28px;background:url('../img/ic_reply.png') 0 0 no-repeat;background-size:21px 20px;}
/* title group */
	.tit-grp {position:relative;height:52px;padding-left:12px;}
	.tit-grp h2 {padding-top:17px;font-size:17px;line-height:20px;}
	.tit-grp .more-cont {position:absolute;right:12px;top:18px;font-size:14px;color:#666;line-height:16px;}
/* story list group */
	.story-list-grp li:first-of-type {margin-top:0;}
	.story-list-grp li {margin-top:12px;}
	.photo-zone {position:relative;height:200px;border-bottom:1px solid #dbdbdb;}
	.photo-zone .link-wrapper {display:block;height:200px;background-position:50% 50%;background-size:cover;background-repeat:no-repeat;}
	.photo-zone .reviewr-profile {
		position:absolute;left:20px;bottom:10px;
		display:block;height:29px;padding-left:37px;line-height:29px;font-size:13px;color:#fff;
	}
	.photo-zone .reviewr-profile .profile {
		position:absolute;left:0;top:0;display:block;overflow:hidden;width:29px;height:29px;border-radius:15px;
		white-space:nowrap;text-indent:100%;background-position:50% 50%;background-repeat:no-repeat;background-size:29px;
	}
	.photo-zone .count {position:absolute;right:14px;bottom:18px;z-index:1;font-size:13px;line-height:16px;}
	.photo-zone .count .like, .photo-zone .count .reply {
		display:inline-block;margin-left:8px;vertical-align:top;font-weight:bold;color:#fff;
		background-repeat:no-repeat;
	}
	.photo-zone .count .like {padding-left:15px;background-image:url('../img/ic-like.png');background-position:0 50%;background-size:11px 10px;}
	.photo-zone .count .reply {padding-left:16px;background-image:url('../img/ic-reply.png');background-position:0 50%;background-size:12px 11px;}
	.txt-info-zone {position:relative;height:115px;margin:0 12px;padding:0 15px;background:#fff;}
	.txt-info-zone .link-wrapper {position:absolute;left:0;top:0;z-index:1;display:block;height:115px;}
	.txt-info-zone .link-wrapper .txt {
		display:block;overflow:hidden;
		height:32px;padding:70px 15px 0 15px;font-size:13px;line-height:16px;color:#666;
		display:-moz-box;display:-webkit-box;display:-ms-flexbox;display:box;-webkit-box-orient:vertical;overflow:hidden;
		text-overflow:ellipsis;-webkit-line-clamp:2;
	}
	.txt-info-zone .tit-inner-module {position:relative;padding-top:10px;}
	.txt-info-zone .tit-inner-module h3 {
		overflow:hidden;width:83%;height:52px;font-size:24px;line-height:26px;
		display:-moz-box;display:-webkit-box;display:-ms-flexbox;display:box;-webkit-box-orient:vertical;overflow:hidden;
		text-overflow:ellipsis;-webkit-line-clamp:2;
	}
	.txt-info-zone .tit-inner-module em {position:absolute;right:0;top:8px;display:block;text-align:center;color:#666;font-size:18px;line-height:20px;}
	.txt-info-zone .tit-inner-module em span {display:block;margin-top:-2px;font-size:12px;line-height:14px;}
/* certification list group */
	.certi-list-grp {padding:0 12px;}
	.certi-list-grp .ui-box-poi {border-bottom:1px solid #eaeaea !important;background-color:#fff;height:75px;position:relative;color:#787878;padding:20px;}
	.certi-list-grp .ui-box-poi:last-child {border-bottom:0;}
	.certi-list-grp .ui-box-poi h2 {
		box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;
		font-size:1rem;font-weight:700;color:#232323;line-height:1.2;
		padding-top:0;width:100%;padding-right:120px;text-overflow:ellipsis;white-space:nowrap;word-wrap:normal;overflow:hidden;position:absolute;top:20px;left:20px;
	}
	.certi-list-grp .ui-box-poi h2 em {font-weight:normal;color:#969696;}
	.certi-list-grp .ui-box-poi .ui-badge {position:absolute;top:20px;right:20px;margin:0;padding:0;}
	.certi-list-grp .ui-box-poi .ui-badge img {width:75px;height:75px;}
	.certi-list-grp .ui-box-poi .ui-badge .ui-badge-selec {
		position:absolute;top:37px;left:42px;display:block;text-indent:-9999px;background:url(../img/i-select.png) 0 0 no-repeat;
		width:52px;height:52px;background-size:52px;
	}
	.certi-list-grp .ui-box-poi .ui-info {padding-top:18px;line-height:16px;}
	.certi-list-grp .ui-box-poi .ui-info span {display:inline-block;color:#969696;font-weight:300;font-size:0.75rem;}
	.certi-list-grp .ui-box-poi .ui-info .ui-star-rate {width:68px;height:11px;margin-right:2px;background:url(../img/i-star-bg.png) 0 0 no-repeat;background-size:68px 11px;position:relative;}
	.certi-list-grp .ui-box-poi .ui-info .ui-star-rate .ui-inner-star {height:11px;background:url(../img/i-star.png) 0 0 no-repeat;background-size:68px 11px;position:absolute;top:0;left:0;}
	.certi-list-grp .ui-box-poi .ui-info .ui-review {background:url(../img/ic-bar1.gif) 0 0 no-repeat;background-size:1px 9px;height:12px;margin:0 0 0 2px;line-height:1;padding:0 0 0 5px;}
	.certi-list-grp .ui-box-poi .ui-info .ui-bar {background:url(../img/ic-bar1.gif) 0 50% no-repeat;background-size:1px 9px;margin-left:1px;padding-left:5px;}
	.certi-list-grp .ui-box-poi .ui-address {margin:7px 0 5px 0;font-weight:400;font-size:0.75rem;line-height:1.2;display:block;}
	.certi-list-grp .ui-box-poi .ui-tag, .certi-list-grp .ui-box-poi .ui-clock {
		box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;
		text-overflow:ellipsis;padding-right:85px;white-space:nowrap;word-wrap:normal;overflow:hidden;
		font-size:0.75rem;line-height:1.2;margin-bottom:0;display:block;
	}
	.certi-list-grp .ui-box-poi .ui-clock {margin-top:12px;padding-left:16px;line-height:12px;background:url('../img/ic-clock.png') 0 50% no-repeat;background-size:11px 10px;}
	.certi-list-grp .ui-box-poi .ui-tag span {display:inline;margin-right:5px;}
/* keyword list group */
	.keyword-list-grp li {position:relative;overflow:hidden;zoom:1;height:120px;margin-top:5px;}
	.keyword-list-grp li:first-of-type {margin-top:0;}
	.keyword-list-grp h2 {position:absolute;left:0;top:0;z-index:3;width:100%;height:120px;}
	.keyword-list-grp h2 a {
		display:block;overflow:hidden;width:100%;height:120px;text-align:center;white-space:nowrap;text-overflow:ellipsis;
		font-size:24px;line-height:120px;color:#fff;
	}
	.keyword-list-grp .thumb {
		position:relative;float:left;overflow:hidden;width:33.3%;height:120px;white-space:nowrap;text-indent:100%;
		background-repeat:no-repeat;background-position:50% 50%;background-size:auto 120px;
	}
	.keyword-list-grp .thumb:first-of-type {width:33.4%;}
	.keyword-list-grp .thumb:after {
		position:absolute;left:0;top:0;z-index:1;
		content:'';display:block;width:100%;height:100%;background:url('../img/bg_layer04.png') repeat;
	}
	.keyword-list-grp .sns {display:block;position:absolute;left:10px;top:10px;z-index:2;width:12px;height:12px;overflow:hidden;white-space:nowrap;text-indent:100%;opacity:0.65;}
	.keyword-list-grp .sns.insta {background:url('../img/i_photos01.png') no-repeat;background-size:12px;}
	.keyword-list-grp .sns.fb {width:9px;background:url('../img/i_photos02.png') no-repeat;background-size:9px 12px;}
/* app download */
	.ui-popup .ui-bg-lyr {position:absolute;top:0;left:0;bottom:0;right:0;width:100%;height:100%;z-index:6;background:url('../img/bg_layer.png') repeat;}
	.app-down-box {position:fixed;left:0;bottom:0;z-index:30;width:100%;height:210px;text-align:center;background:#fff;}
	.app-down-box .vi {position:absolute;left:50%;top:-35px;display:block;overflow:hidden;width:82px;height:77px;margin-left:-41px;white-space:nowrap;text-indent:100%;background:url(../img/bi03.png) no-repeat;background-size:82px 77px;}
	.app-down-box .close {position:absolute;top:18px;right:18px;display:block;overflow:hidden;width:18px;height:18px;white-space:nowrap;text-indent:100%;background:url(../img/btn_close.png) no-repeat;background-size:18px;}
	.app-down-box .main-txt {padding-top:50px;font-weight:700;font-size:17px;line-height:21px;}
	.app-down-box .sub-txt {margin-top:8px;font-size:15px;line-height:19px;color:#666;}
	.app-down-box .btn-module {padding:20px 18px 0 18px;}
	.app-down-box .btn-module a {display:block;width:100%;color:#fff;line-height:51px;height:51px;font-size:17px;background:#60c701;}
	.app-down-pc-box {position:absolute;left:50%;top:150px;z-index:6;width:360px;height:445px;margin:0 0 0 -180px;text-align:center;background:#fff;}
	.app-down-pc-box .vi {position:absolute;left:50%;top:-39px;display:block;overflow:hidden;width:83px;height:78px;margin-left:-42px;white-space:nowrap;text-indent:100%;background:url(../img/bi03_pc.png) no-repeat;}
	.app-down-pc-box .close {position:absolute;top:20px;right:20px;display:block;overflow:hidden;width:19px;height:19px;white-space:nowrap;text-indent:100%;background:url(../img/btn_close_pc.png) no-repeat;}
	.app-down-pc-box .main-txt {padding-top:57px;font-family:'Malgun Gothic';font-weight:700;font-size:22px;line-height:26px;}
	.app-down-pc-box .sub-txt {margin-top:10px;font-family:'Dotum', sans-serif;font-size:12px;line-height:15px;color:#666;}
	.app-down-pc-box .btn-module {padding:22px 17px 0 17px;}
	.app-down-pc-box .btn-module a {display:block;height:58px;margin-bottom:8px;background-color:#f4f4f4;}
	.app-down-pc-box .btn-module a span {display:inline-block;overflow:hidden;vertical-align:top;width:153px;height:58px;white-space:nowrap;text-indent:100%;background-position:50% 50%;background-repeat:no-repeat;}
	.app-down-pc-box .btn-module .tstore span {background-image:url(../img/bi_appdown01.png);}
	.app-down-pc-box .btn-module .googleplay span {background-image:url(../img/bi_appdown02.png);}
	.app-down-pc-box .btn-module .appstore span {background-image:url(../img/bi_appdown03.png);}
	.app-down-pc-box .btn-module .naver span {background-image:url(../img/bi_appdown04.png);}
/* error 404 page */
	.error404 {position:absolute;top:0;left:0;right:0;bottom:0;width:100%;height:100%;background-color:#ebebeb;}
	.error404 .inner {position:absolute;top:50%;left:0;-webkit-transform:translate(0, -50%);transform:translate(0, -50%);text-align:center;background:url(../img/i_error1.png) 50% 0 no-repeat;padding-top:5.3125rem;background-size:auto 4.0625rem;width:100%;}
	.error404 strong {font-size:1.25rem;font-weight:600;color:#232323;display:block;margin-bottom:8px;}
	.error404 .txt {display:block;font-size:0.875rem;color:#666;line-height:1.4;width:100%;margin-bottom:25px;}
	.error404 a {display:block;background:url(../img/btn_tablehome.png) 0 0 no-repeat;width:169px;height:47px;background-size:100% 100%;margin:0 auto;}
	.error404 button {background:url(../img/ic-close2.png) 0 0 no-repeat;position:absolute;top:10px;right:10px;width:20px;height:20px;background-size:100% 100%;}
/* sticky mode */
	.stickem-container {position:relative;}
	.stickit {position:fixed;width:100%;top:0;z-index:6000;}
	.stickit-end {bottom:0;position:absolute;right:0;}
/* T map download group */
	.tmap-down-grp {display:table;width:100%;height:100%;}
	.tmap-down-grp .tmap-down-inner {display:table-cell;vertical-align:middle;}
	.tmap-down-grp h1 {overflow:hidden;width:198px;height:100px;margin:0 auto;white-space:nowrap;text-indent:100%;background:url('../img/bi04.png') no-repeat;background-size:198px 100px;}
	.tmap-down-grp .tip-list {padding:35px 21px 0 21px;}
	.tmap-down-grp .tip-list li {margin-top:15px;padding-left:10px;font-size:16px;line-height:20px;color:#898989;background:url('../img/bul_tiny.png') 0 8px no-repeat;background-size:3px;}
	.download-list {padding-top:43px;}
	.download-list li {margin-top:10px;}
	.download-list a {position:relative;overflow:hidden;display:block;height:54px;padding-left:20px;line-height:54px;font-size:16px;color:#666;background:#fff;}
	.download-list a:after {
		content:'';position:absolute;right:20px;top:50%;width:11px;height:19px;margin-top:-10px;background:url('../img/ic-arrow.png') no-repeat;background-size:11px 19px;
	}
	.download-list span {display:block;height:54px;padding-left:43px;background-position:0 50%;background-repeat:no-repeat;}
	.download-list .skt {background-image:url('../img/bi_skt.png');background-size:28px 29px;}
	.download-list .kt {background-image:url('../img/bi_kt.png');background-size:26px 27px;}
	.download-list .lgu {background-image:url('../img/bi_lgu.png');background-size:31px 28px;}
/* agreement */
	.ui-agreement {padding:19px 18px 0 18px;}
	.ui-agreement h1 {margin-bottom:15px;font-weight:bold;font-size:16px;line-height:18px;color:#232323;}
	.bd-view {border:1px solid #cecece;border-collapse:collapse;}
	.bd-view th, .bd-view td {border-bottom:1px solid #cecece;padding:12px 16px 13px 16px;font-size:13px;line-height:18px;color:#666;}
	.bd-view th {padding-left:0;padding-right:0;font-weight:bold;color:#232323;background:#f2f2f2;}
	.ui-agreement p {padding-top:12px;font-size:13px;line-height:18px;color:#666;}

/* ----- 320px Layout ----- */
@media only all and (max-width:320px) {
html, body {font-size:14px;}
.ui-wrap section, .ui-wrap article, .ui-wrap div, .ui-wrap header, .ui-wrap span, .ui-wrap em, .ui-wrap h1, .ui-wrap h2, .ui-wrap h3, .ui-wrap h4, .ui-wrap h5, .ui-wrap h6, .ui-wrap figcaption, .ui-wrap p, .ui-wrap address, .ui-wrap a, .ui-wrap button, .ui-wrap small, .ui-wrap textarea {font-family:'Dotum', sans-serif;}
/* top header */
	.ui-trend-list header .logo {left:16px;top:8px;width:83px;height:33px;background-image:url(../img/bi02_ios.png);background-size:83px 13px;}
	.ui-trend-list header .logo a {width:83px;height:33px;}
	.ui-smaller h2 {background-position:0 17px;background-size:1px 16px;}
	.ui-trend-list header {height:175px !important;}
	.ui-trend-list header .ui-keyword {width:91px;height:175px;margin:0 auto;background-position:0 52px;}
	.ui-trend-list header .ui-share {height:28px;bottom:15px;right:11px;}
	.ui-trend-list header .ui-share button {margin-left:6px;}
	.ui-trend-list header .ui-info {width:22px;height:22px;bottom:15px;left:11px;}
	#ui-header {height:216px !important;}
	#ui-header.ui-smaller {height:108px !important;}
	#ui-header.ui-smaller header {height:49px !important;}
	.ui-wrap #ui-header {height:261px;}
	.ui-wrap #ui-header header {height:215px;}
	.ui-wrap #ui-header header .ui-share {padding-top:38px;}
	.ui-wrap #ui-header.ui-smaller {height:132px !important;}
	.ui-wrap #ui-header.ui-smaller header {height:75px;}
	.ui-wrap #ui-header.ui-smaller header .ui-share, .ui-wrap #ui-header.ui-smaller header .ui-keyword, .ui-wrap #ui-header.ui-smaller header .ui-info {display:none;}
	.ui-wrap #ui-header.ui-smaller header h2 {display:block;text-align:left;font-size:18px;font-weight:700px;padding:16px 0 0 10px;margin-left:109px;line-height:19px;width:auto;color:#fff;}
	#ui-header header h1 {overflow:hidden;line-height:49px;font-size:18px;text-align:center;}
	#ui-header header h1 .lbs {padding-left:18px;line-height:51px;background-size:13px 17px;}
/* footer */
	#footer {padding-top:13px;padding-bottom:17px;margin-top:20px;}
	#footer .btn-module {padding:0 10px;}
	#footer .btn-module a {height:45px;font-size:15px;line-height:45px;}
	#footer .menu-list {margin-top:21px;}
	#footer .linker-btn-box {padding-top:17px;}
	#footer .linker-btn-box a {width:77px;height:21px;line-height:23px;font-size:11px;}
	#footer .toggle-info-box {padding-top:21px;}
	#footer address ul {padding-top:14px;padding-bottom:5px;}
/* main gnb group */
	.main-gnb-grp {padding-top:12px;}
	.hd-src-module .search-btn {right:3px;top:7px;width:38px;height:38px;background-size:18px;}
	.gnb ul {width:168px;height:26px;border-radius:13px;}
	.gnb ul a {height:24px;line-height:26px;font-size:16px;}
/* main visual image group */
	.main-vi-grp {height:198px;}
	.carousel-item, .carousel-item h1 {height:198px;}
	.carousel-item h1 a {height:198px;}
	.lbs-box {top:50px;font-size:12px;}
	.total-store {bottom:11px;}
	.total-store a {font-size:12px;}
	.total-store strong {font-size:13px;}
	.main-vi-grp h2 {width:65px;height:70px;background-size:65px 70px;}
	.main-vi-grp h2 a {width:65px;height:70px;}
/* main snb group */
	.main-snb-grp {height:39px;}
	.main-snb-grp .main-snb-module {width:75%;}/*15.12.17 notyet*/
	.main-snb-grp .swiper-wrapper {height:39px;}/*15.12.17 notyet*/
	.main-snb-grp .swiper-slide a {height:39px;font-size:14px;line-height:41px;}
	.main-snb-grp .more {right:40px;height:39px;}
	.main-snb-grp .fold {width:40px;height:39px;background-position:0 6px;background-size:29px 34px;}
	.main-snb-grp.map-view-st {top:49px;}
	.main-snb-grp.map-view-st .main-snb-module {margin-right:10px;}
	.main-snb-grp.map-view-st .swiper-wrapper {}/*15.12.17 notyet*/
/* ui container group */
	.ui-cont-grp {padding:0 5px;}
	/* my surround - popular */
	.ui-cont-grp .ui-trend-list {padding:10px 5px 0 5px;}
/* pinterest style group */
	.pin-st-panel {padding:10px 5px 0 5px;}
	.pin-st-module .vi-box .sns {left:10px;top:10px;width:10px;height:10px;}
	.pin-st-module .vi-box .sns.insta {background-size:10px;}
	.pin-st-module .vi-box .sns.fb {width:7px;background-size:7px 10px;}
	.pin-st-module .breifing-info {padding:9px 10px 6px 10px;}
	.pin-st-module .breifing-info h3 {font-size:14px;line-height:16px;}
	.pin-st-module .breifing-info p {margin-top:0;font-size:10px;line-height:16px;}
	.pin-st-module .review-box {padding:10px 10px 14px 10px;}
	.pin-st-module .review-box dt {margin-bottom:9px;padding-left:28px;}
	.pin-st-module .review-box dt strong {font-size:10px;line-height:14px;}
	.pin-st-module .review-box .star-pt {width:60px;height:9px;margin-top:0;background-size:60px 9px;}
	.pin-st-module .review-box .star-pt .star {height:9px;background-size:60px 9px;}
	.pin-st-module .review-box .profile {left:10px;top:10px;width:23px;height:23px;border-radius:12px;background-size:23px;}
	.pin-st-module .review-box .txt-box {font-size:12px;line-height:14px;}
	.pin-st-module .review-box .txt-area ul {padding-top:4px;}
	.pin-st-module .review-box .txt-area li {width:38px;height:38px;}
	.pin-st-grp .pin-st-panel .txt-area li img {width:38px;height:38px;}
	.theme-box {padding:0 15px;}
	.theme-box h2 {font-size:17px;line-height:21px;}
	.theme-box .profile {padding-top:11px;}
	.theme-box .profile img {width:23px;height:23px;border-radius:12px;}
	.theme-box strong {padding-top:4px;font-size:10px;line-height:14px;}
/* poi list */
	.ui-trend-list .ui-poi-list .ui-box-poi {padding-bottom:12px;}
	.ui-trend-list .ui-poi-list .ui-box-poi .ui-img-area {height:244px;}
	.ui-trend-list .ui-poi-list .ui-box-poi.no-photo {margin-top:50px;}
	.ui-trend-list .ui-poi-list .ui-badge .ui-insta {top:12px;left:13px;background-size:11px auto;width:11px;height:11px;}
	.ui-trend-list .ui-poi-list .ui-badge .ui-fs {top:12px;left:13px;background-size:auto 11px;width:20px;height:11px;}
	.ui-trend-list .ui-poi-list .ui-badge .ui-badge-selec {bottom:-10px;right:5px;width:50px;height:50px;}
	.ui-trend-list .ui-poi-list h2 {padding:12px 12px 0 12px;}
	.ui-trend-list .ui-poi-list .ui-info {padding:0 0 3px 12px;}
	.ui-trend-list .ui-poi-list .ui-address {padding:0 12px;font-size:12px;}
	.ui-trend-list .ui-poi-list .ui-tag {max-height:28px;padding:0 12px;line-height:14px;font-size:12px;}
	.ui-trend-list .ui-poi-list .ui-stickr {padding:7px 12px 0 12px;}
/* photo list group */
	.photo-list-grp li a {height:104px;}
/* photo view group */
	.photo-tit-box {height:50px;padding:0 45px;}
	.ui-photo-box {height:80px;}
	.photo-tit-box h1 {font-size:18px;line-height:50px;text-align:center;}
	.photo-tit-box .list-linker {right:5px;top:7px;overflow:hidden;display:block;width:35px;height:35px;background-size:15px;}
	.ui-photo-box {padding:16px 15px 0 15px;}
	.ui-photo-box .info {font-size:14px;line-height:18px;}
	.ui-photo-box .count {padding-top:7px;}
	.ui-photo-box .count a {font-size:13px;}
/* title group */
	.tit-grp {height:42px;padding-left:10px;}
	.tit-grp h2 {padding-top:14px;font-size:15px;line-height:18px;}
	.tit-grp .more-cont {right:10px;top:16px;font-size:12px;line-height:14px;}
/* story list group */
	.story-list-grp li {margin-top:14px;}
	.photo-zone {height:179px;}
	.photo-zone .link-wrapper {height:179px;}
	.photo-zone .reviewr-profile {left:18px;bottom:10px;height:27px;padding-left:32px;line-height:27px;font-size:12px;}
	.photo-zone .reviewr-profile .profile {width:27px;height:27px;border-radius:14px;background-size:27px;}
	.photo-zone .count {right:12px;bottom:17px;font-size:11px;line-height:14px;}
	.photo-zone .count .like, .photo-zone .count .reply {margin-left:4px;}
	.photo-zone .count .like {padding-left:13px;background-size:10px 9px;}
	.photo-zone .count .reply {padding-left:14px;background-size:11px 10px;}
	.txt-info-zone {height:105px;margin:0 10px;}
	.txt-info-zone .link-wrapper {height:105px;}
	.txt-info-zone .link-wrapper .txt {height:30px;padding-top:61px;font-size:13px;line-height:15px;}
	.txt-info-zone .tit-inner-module {padding-top:10px;}
	.txt-info-zone .tit-inner-module h3 {height:44px;font-size:21px;line-height:22px;}
	.txt-info-zone .tit-inner-module em {top:8px;font-size:15px;line-height:15px;}
	.txt-info-zone .tit-inner-module em span {margin-top:-1px;font-size:11px;line-height:11px;}
/* certification list group */
	.certi-list-grp {padding:0 10px;}
	.certi-list-grp .ui-box-poi {height:67px;padding:18px;}
	.certi-list-grp .ui-box-poi .ui-badge {top:18px;right:18px;}
	.certi-list-grp .ui-box-poi .ui-badge img {width:68px;height:68px;}
	.certi-list-grp .ui-box-poi .ui-badge .ui-badge-selec {top:35px;left:37px;width:45px;height:46px;background-size:100% 100%;}
	.certi-list-grp .ui-box-poi .ui-info .ui-star-rate {margin-left:1px;width:62px;height:11px;background-size:62px 11px;}
	.certi-list-grp .ui-box-poi .ui-info .ui-star-rate .ui-inner-star {height:11px;background-size:62px 11px;}
	.certi-list-grp .ui-box-poi .ui-address {margin:4px 0 0 0;}
/* keyword list group */
	.keyword-list-grp li {height:108px;margin-top:4px;}
	.keyword-list-grp h2 {height:108px;}
	.keyword-list-grp h2 a {height:108px;font-size:21px;line-height:108px;}
	.keyword-list-grp .thumb {height:108px;background-size:auto 108px;}
/* app download */
	.app-down-box {height:190px;}
	.app-down-box .vi {top:-31px;width:71px;height:67px;margin-left:-36px;background-size:71px 67px;}
	.app-down-box .close {width:16px;height:16px;background-size:16px;}
	.app-down-box .main-txt {padding-top:45px;font-size:15px;line-height:17px;}
	.app-down-box .sub-txt {margin-top:5px;font-size:13px;line-height:16px;}
	.app-down-box .btn-module {padding:21px 17px 0 17px;}
	.app-down-box .btn-module a {font-size:15px;line-height:45px;height:45px;}
/* T map download group */
	.tmap-down-grp .tmap-down-inner {padding-top:10px;}
	.tmap-down-grp h1 {width:177px;height:90px;background-size:177px 90px;}
	.tmap-down-grp .tip-list {padding:20px 16px 0 16px;}
	.tmap-down-grp .tip-list li {margin-top:12px;padding-left:8px;font-size:14px;line-height:17px;background-size:2px;background-position:0 6px;}
	.download-list {padding-top:24px;}
	.download-list li {margin-top:9px;}
	.download-list a {height:48px;line-height:50px;font-size:14px;}
	.download-list a:after {right:18px;width:10px;height:18px;margin-top:-9px;background-size:10px 18px;}
	.download-list span {height:48px;padding-left:37px;}
	.download-list .skt {background-size:25px auto;}
	.download-list .kt {background-size:23px auto;}
	.download-list .lgu {background-size:27px auto;}
/* agreement */
	.ui-agreement {padding:15px 15px 0 15px;}
	.ui-agreement h1 {margin-bottom:13px;font-size:14px;line-height:16px;}
	.bd-view th, .bd-view td {padding:13px 14px 12px 14px;font-size:12px;line-height:16px;}
	.bd-view th {padding-left:0;padding-right:0;}
	.ui-agreement p {padding-top:13px;font-size:12px;line-height:16px;}
	.cnt-empty{font-size:16px;}

	.certi-list-grp .ui-box-poi h2{padding-right:110px;}/*15.12.17 notyet*/
}

/* ----- 375px Layout ----- */
@media only all and (min-width:375px) { 
/* main snb group */
	/*.main-snb-grp .swiper-wrapper {margin-left:-109px;}*//*15.12.17 notyet*/
	.main-snb-grp.map-view-st .swiper-wrapper {}/*15.12.17 notyet*/
}

/* ----- 384px Layout ----- */
@media only all and (min-width:384px) { 
/* main snb group */
	/*.main-snb-grp .swiper-wrapper {margin-left:-113px;}*//*15.12.17 notyet*/
	.main-snb-grp.map-view-st .swiper-wrapper {}/*15.12.17 notyet*/
}

/* ----- 400px Layout ----- */
@media only all and (min-width:400px) { 
/* main snb group */
	/*.main-snb-grp .swiper-wrapper {margin-left:-119px;}*//*15.12.17 notyet*/
	.main-snb-grp.map-view-st .swiper-wrapper {}/*15.12.17 notyet*/
}

/* ----- 414px Layout ----- */
@media only all and (min-width:414px) { 
html, body {font-size:18px;}
/* top header */
	.ui-trend-list header {height:224px;}
	.ui-trend-list header .ui-keyword {width:124px;height:224px;margin:0 auto;background-position:0 66px;}
	.ui-trend-list header .ui-share {height:32px;bottom:22px;right:14px;}
	.ui-trend-list header .ui-share button {width:32px;height:32px;margin-left:12px;}
	.ui-trend-list header .ui-info {width:28px;height:28px;bottom:22px;left:14px;}
	.ui-trend-list header .logo {left:20px;top:10px;width:108px;height:38px;background-size:108px 18px;}
	.ui-trend-list header .logo a {width:108px;height:38px;}
	.ui-smaller h2 {background-position:0 17px;background-size:1px 23px;}
	.ui-trend-list nav ul li {height:51px;padding-top:0;}
	.ui-trend-list nav ul li a {height:34px;font-size:1.125rem;}
	#ui-header {height:276px;}
	#ui-header.ui-smaller {height:118px !important;}
	#ui-header.ui-smaller header {height:64px;}
	.ui-wrap #ui-header {height:287px;}
	.ui-wrap #ui-header header {height:235px;}
	.ui-wrap #ui-header header .ui-share {padding-top:38px;}
	.ui-wrap #ui-header.ui-smaller {height:152px !important;}
	.ui-wrap #ui-header.ui-smaller header {height:55px;}
	.ui-wrap #ui-header.ui-smaller header .ui-share, .ui-wrap #ui-header.ui-smaller header .ui-keyword, .ui-wrap #ui-header.ui-smaller header .ui-info {display:none;}
	.ui-wrap #ui-header.ui-smaller header h2 {display:block;text-align:left;padding:13px 0 0 11px;margin-left:141px;font-size:23px;font-weight:700px;line-height:25px;width:auto;color:#fff;}
/* main snb group */
	/*.main-snb-grp .swiper-wrapper {margin-left:-124px;}*//*15.12.17 notyet*/
	.main-snb-grp.map-view-st .swiper-wrapper {}/*15.12.17 notyet*/
/* poi list */
	.ui-trend-list .ui-poi-list .ui-badge .ui-img-area {height:316px;}
	.ui-trend-list .ui-poi-list .ui-badge .ui-photos {height:21px;}
	.ui-trend-list .ui-poi-list .ui-badge .ui-badge-selec {bottom:-14px;right:9px;width:68px;height:68px;}
	.ui-trend-list .ui-poi-list h2 {padding:15px 15px 0 15px;}
	.ui-trend-list .ui-poi-list .ui-info {padding:2px 0 7px 15px;}
	.ui-trend-list .ui-poi-list .ui-info .ui-star-rate {width:90px;height:14px;background-size:100%;}
	.ui-trend-list .ui-poi-list .ui-info .ui-star-rate .ui-inner-star {height:14px;background-size:90px 14px;}
	.ui-trend-list .ui-poi-list .ui-stickr {height:13px;padding:9px 15px 0 15px;}
	.ui-trend-list .ui-poi-list .ui-stickr span {height:13px;}
	.ui-trend-list .ui-poi-list .ui-stickr .ui-stk-ad { width:20px;}
	.ui-trend-list .ui-poi-list .ui-stickr .ui-stk-coupon {width:54px;}
	.ui-trend-list .ui-poi-list .ui-stickr .ui-stk-order {width:77px;}
/* app download */
	.app-down-box {height:242px;}
	.app-down-box .vi {top:-40px;width:91px;height:87px;margin-left:-46px;background-size:91px 87px;}
	.app-down-box .close {top:23px;right:23px;width:20px;height:20px;background-size:20px;}
	.app-down-box .main-txt {padding-top:63px;font-size:20px;line-height:23px;}
	.app-down-box .sub-txt {margin-top:8px;font-size:17px;line-height:20px;}
	.app-down-box .btn-module {padding:24px 21px 0 21px}
	.app-down-box .btn-module a {font-size:20px;line-height:58px;height:59px;}

	.certi-list-grp .ui-box-poi h2{padding-bottom:3px;padding-right:122px;}/*15.12.17 notyet*/
	.certi-list-grp .ui-box-poi .ui-info{padding-top:24px;}/*15.12.17 notyet*/
}

/* ----- Desktop Layout ----- */
@media only all and (min-width:730px) {
html, body {height:100%;}
body {background:#fff;overflow:visible;}
/* layout re-define */
	.ui-wrap {border-right:1px solid #bfbfbf;border-left:1px solid #bfbfbf;position:relative;left:50%;width:560px;margin-left:-281px;min-height:100%;background:#ebebeb;}
	.ui-wrap .ui-story-bg {z-index:1;position:absolute;}
	.ui-wrap #ui-header {left:50%;width:560px;margin-left:-280px;}
	.ui-wrap .ui-panel-poi .ui-poi-header, .ui-wrap .ui-panel-reply .ui-reply-header {position:absolute;overflow:visible;}
	.ui-wrap .ui-panel-poi .ui-trend-list .ui-poi-list, .ui-wrap .ui-panel-reply .ui-reply-list {position:absolute;}
	.ui-wrap .ui-panel-reply .ui-reply-header h3 em, .ui-wrap .ui-panel-poi .ui-poi-header h3 em {line-height:28px;}
	/* footer */
	#footer {margin-top:0;width:560px;border-right:1px solid #bfbfbf;border-left:1px solid #bfbfbf;margin:0 auto;}
	#footer.only-pcweb {display:block;}
/* main visual image group */
	.main-vi-grp {height:346px;}
	.carousel-item, .carousel-item h1 {height:346px;}
	.carousel-item h1 a {height:346px;}
/* main snb group */
	/*.main-snb-grp .swiper-wrapper {margin-left:-179px;}*//*15.12.17 notyet*/
	.main-snb-grp.ui-fixed {left:50%;width:560px;margin-left:-280px;}
	.main-snb-grp.map-view-st .swiper-wrapper {}/*15.12.17 notyet*/
/* poi list */
	.ui-cont-module {padding-bottom:10px;}
	.ui-cmm-cont {padding-bottom:25px;}
	/* my surround - popular */
	.ui-cont-module .ui-trend-list {padding-bottom:5px;}
/* photo list group */
	.photo-list-grp li a {height:182px;}
/* photo view group */
	.photo-tit-box, .ui-photo-box {left:50%;width:560px;margin-left:-280px;}
/* sticky mode */
	.stickit {position:fixed;width:560px !important;top:0;z-index:6000;}
/* etc */
	.review-group .swiper-slide:last-of-type {display:none;}
/* pinterest style group */
	.pin-st-module .vi-box .img-box {height:262px;}/*15.12.17 notyet*/
	.certi-list-grp .ui-box-poi h2{padding-bottom:3px;}/*15.12.17 notyet*/
	.certi-list-grp .ui-box-poi .ui-info{padding-top:24px;}/*15.12.17 notyet*/
}