/* top header */
	.ui-wrap #ui-header.ui-smaller {height:55px !important;}
/* content */
	.ui-detail-wrap {padding-top:70px;padding-bottom:53px;}
	.ui-cmm-cont {padding-top:55px;}
	.ui-cmm-cont .story-list-grp {padding-top:20px;}
	/* map view group */
	.ui-map-grp {box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;position:absolute;left:0;top:0;width:100%;height:100%;padding-top:99px;overflow:hidden;}
	.ui-map-grp.detail-map-st {padding-top:55px;}
	.ui-map-grp .map-module {height:100%;position:relative;}/*2015.12.04*/
	.ui-map-grp .map-module img {width:100%;height:100%;}
	.ui-map-grp .map-module .map-marker{position:absolute;background-image:url('../img/marker_2.png');background-repeat:no-repeat;width:35px;height:40px;background-size:auto 100%;}/*2015.12.04*/
	.ui-map-grp .map-module .marker-default{background-position:0 0;}/*2015.12.04*/
	.ui-map-grp .map-module .marker-selected{background-position:100% 0;}/*2015.12.04*/
	.ui-map-grp .swiper-wrapper {position:absolute;left:0;bottom:18px;height:auto;z-index:1;}
	.ui-map-grp .certi-list-grp .ui-box-poi .ui-tag {margin-top:10px;}
	.ui-map-grp .addr-box {box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;position:absolute;left:0;top:55px;width:100%;padding:15px 17px;z-index:1;}
	.ui-map-grp .addr-box p {overflow:hidden;height:37px;padding-left:10px;line-height:37px;font-size:16px;color:#232323;background:#fff;white-space:nowrap;text-overflow:ellipsis;}
/* top image group */
	.top-img-grp {position:relative;height:285px;}
	.sns-box {height:26px;}
	.sns-box a {display:inline-block;overflow:hidden;width:26px;height:26px;white-space:nowrap;text-indent:100%;background-repeat:no-repeat;background-position:0 0;background-size:26px auto;}
	.sns-box .kakao {background-image:url('../img/i-share01-nor.png');background-position:0 1px;}
	.sns-box .facebook {background-image:url('../img/i-share02-nor.png');}
	.sns-box .sms {background-image:url('../img/i-share03-nor.png');}
	.headline {position:absolute;left:0;top:0;z-index:5;width:100%;height:64px;}
	.headline .logo {position:absolute;left:17px;top:14px;width:94px;height:35px;background:url('../img/bi.png') 0 10px no-repeat;background-size:94px 15px;z-index:2;}
	.headline .logo a {display:block;overflow:hidden;width:94px;height:35px;white-space:nowrap;text-indent:100%;}
	.headline .sns-box {position:absolute;right:15px;top:21px;z-index:1;text-align:right;}
	.headline .sns-box a {margin-left:9px;}
	.vi-list {position:relative;overflow:hidden;height:285px;}
	.vi-list .swiper-slide a {overflow:hidden;display:block;width:100%;height:285px;text-indent:100%;white-space:nowrap;background-position:50% 50%;background-repeat:no-repeat;background-size:cover;}
	.vi-list .swiper-slide:before {
		position:absolute;left:0;top:0;z-index:2;content:'';display:block;width:100%;height:100%;/*background:#000;opacity:0.4;*/
		background:url(../img/img_poi_shadow.png) repeat-x;background-size:1px 100%;/*2015.12.18 notyet*/
	}
	.top-img-grp .paging {position:absolute;left:0;bottom:12px;z-index:3;width:100%;text-align:center;color:#dfdfdd;font-size:17px;line-height:20px;}
	.top-img-grp .paging span {padding-left:21px;background:url('../img/ic-photos02.png') 0 50% no-repeat;background-size:16px auto;}
	.top-img-grp .paging .insta {padding-left:20px;background:url('../img/i_photos01.png') 0 50% no-repeat;background-size:12px;}
	.top-img-grp .paging .four {padding-left:20px;background:url('../img/i_photos02.png') 0 50% no-repeat;background-size:auto 12px;}
	.top-img-grp .sticker {
		position:absolute;right:7px;bottom:51px;z-index:4;
		display:block;overflow:hidden;width:57px;height:57px;white-space:nowrap;text-indent:100%;background:url('../img/i-select02.png') no-repeat;background-size:57px;
	}
	.top-img-grp .tel {
		position:absolute;right:6px;bottom:-12px;z-index:4;
		display:block;overflow:hidden;width:58px;height:57px;white-space:nowrap;text-indent:100%;background:url('../img/i-call.png') no-repeat;background-size:58px 57px;
	}
	/* blog type */
	.top-img-grp.blog-type h2 {
		position:absolute;left:0;top:0;z-index:1;width:100%;height:100%;text-indent:100%;overflow:hidden;white-space:nowrap;
		background-position:50% 50%;background-repeat:no-repeat;background-size:cover;
		-webkit-filter:blur(10px);-moz-filter:blur(10px);-o-filter:blur(10px);-ms-filter:blur(10px);filter:blur(10px);
	}
	.top-img-grp.blog-type:after {
		position:absolute;left:0;top:0;z-index:2;width:100%;height:100%;content:'';display:block;
		opacity:0.5;background:#000;
	}
	.thumb-list {position:relative;z-index:3;top:95px;text-align:center;}
	.thumb-list img {width:100px;height:100px;}
	.thumb-list li {display:inline-block;width:100px;height:100px;margin-left:2px;}
	.thumb-list li:first-of-type {margin-left:0;}
	.thumb-list p {padding-top:6px;color:#858689;font-size:12px;line-height:16px;}
	/* no image type */
	.top-img-grp.no-img-type {background:#60c701;}
	.top-img-grp.no-img-type:before {
		position:absolute;left:0;top:0;z-index:2;content:'';display:block;width:100%;height:100%;/*background:#000;opacity:0.4;*/
		background:url(../img/img_poi_shadow.png) repeat-x;background-size:1px 100%;/*2015.12.18 notyet*/
	}
	.top-img-grp.no-img-type:after {
		position:absolute;left:0;top:0;z-index:1;content:'';display:block;width:100%;height:100%;background:url('../img/bg_pattern.png') 0 100% no-repeat;background-size:cover;
	}
	.tip-txt {position:relative;top:131px;z-index:5;text-align:center;color:#fff;}
	.tip-txt h2 {font-size:20px;line-height:24px;}
	.tip-txt p {font-size:14px;line-height:19px;}
/* briefing information group */
	.brief-info-grp {padding:19px 0 18px 0;text-align:center;background:#efefef;}
	.brief-info-grp h2 {margin-bottom:3px;font-size:13px;line-height:15px;color:#969696;font-weight:normal;}
	.brief-info-grp h1 {margin-bottom:16px;font-size:27px;line-height:30px;color:#232323;font-weight:bold;}
	.link-review {display:inline-block;vertical-align:top;width:254px;height:41px;border-radius:22px;line-height:42px;font-size:12px;color:#232323;background:#fff;}
	.link-review em {margin-left:3px;color:#f7941d;}
	.link-review .slash {color:#9d9d9d;}
	.star-pt {
		display:inline-block;position:relative;width:73px;height:12px;margin-top:15px;vertical-align:top;text-align:left;
		background:url('../img/i-star-bg02.png') no-repeat;background-size:73px 12px;
	}
	.star-pt .star {
		position:absolute;left:0;top:0;
		display:inline-block;overflow:hidden;height:12px;white-space:nowrap;text-indent:100%;vertical-align:top;
		background:url('../img/i-star02.png') no-repeat;background-size:73px 12px;
	}
	.brief-info-grp .sub-txt {padding:0 70px;margin-top:17px;font-size:13px;line-height:20px;color:#232323;}
	.brief-info-grp .sub-txt .tag {display:inline;font-weight:normal;white-space:nowrap;}
	.brief-info-grp .ticket-box {height:10px;margin-top:17px;}
	.brief-info-grp .link-review + .ticket-box {margin-top:20px;}
	.brief-info-grp .ticket-box span {
		display:inline-block;overflow:hidden;height:10px;margin-left:2px;white-space:nowrap;text-indent:100%;vertical-align:top;background-repeat:no-repeat;
		background-position:0 0;background-size:auto 10px;
	}
	.brief-info-grp .ticket-box span:first-of-type {margin-left:0;}
	.brief-info-grp .ticket-box .ad {width:15px;background-image:url('../img/ic-ad.png');}
	.brief-info-grp .ticket-box .syrup-order {width:58px;background-image:url('../img/ic-syruporder.png');}
	.brief-info-grp .ticket-box .coupon {width:41px;background-image:url('../img/ic-coupon.png');}
	.brief-info-grp .ticket-box .pre-order {width:30px;background-image:url('../img/ic-preorder.png');background-size:30px 10px;}
	.brief-info-grp .ticket-box .reserve {width:27px;background-image:url('../img/ic-reserve.png');background-size:27px 10px;}
	.brief-info-grp .hint-txt {padding-top:16px;padding-bottom:4px;color:#232323;}
	.brief-info-grp .hint-txt strong {display:block;font-size:16px;line-height:19px;}
	.brief-info-grp .hint-txt .caution {display:inline-block;padding-left:18px;color:#ff0000;background:url('../img/i-closed.png') 0 2px no-repeat;background-size:14px;}
	.brief-info-grp .hint-txt p {margin-top:3px;font-size:13px;line-height:16px;}
/* event button group */
	.evt-btn-grp {display:table;width:100%;margin-bottom:15px;border-top:1px solid #e5e5e5;border-bottom:1px solid #dbdbdb;background:#efefef;}
	.evt-btn-grp .side-module {box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;display:table-cell;width:50%;padding:15px 40px 12px 40px;text-align:center;}
	.evt-btn-grp .side-module .round-btn {
		box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;
		display:inline-block;width:77px;height:77px;padding-top:18px;border-radius:39px;font-size:17px;line-height:20px;font-weight:bold;color:#fff;background:#232323;
	}
	.evt-btn-grp .side-module .round-btn.alt-color {color:#6fd90e;}
	.evt-btn-grp .side-module p {padding-top:13px;font-size:13px;line-height:16px;color:#787878;}
/* segmented tab */
	.segment-tab {
		-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;display:table;
		width:100%;height:46px;margin-bottom:10px;padding:0 17px;background:#fff;
	}
	.segment-tab ul {display:table-row;}
	.segment-tab .item2 li {width:50%;}
	.segment-tab .item3 li {width:33.3%;}
	.segment-tab li {display:table-cell;text-align:center;}
	.segment-tab li a {
		-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;display:block;
		height:46px;padding-top:13px;border-bottom:3px solid #fff;font-size:16px;line-height:18px;font-weight:bold;color:#232323;
	}
	.segment-tab li a em {margin-left:4px;font-weight:normal;color:#969696;line-height:18px;}
	.segment-tab .selected a, .segment-tab .selected a em {border-color:#60c701;color:#60c701;}
/* title module */
	.tit-module {
		-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;position:relative;
		height:49px;padding:17px 25px 0 25px;border-bottom:1px solid #e9e9e9;background:#fff;
	}
	.tit-module h3 {font-size:14px;line-height:17px;color:#232323;}
	.tit-module h3 em {margin-left:4px;color:#969696;font-weight:normal;}
	.tit-module .more {position:absolute;right:26px;top:20px;font-size:11px;color:#969696;line-height:14px;}
	/* other */
	.tit-other-module {
		box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;position:relative;
		height:44px;padding:18px 16px 0 16px;color:#9ea1a4;
	}
	.tit-other-module.etc-st {padding-left:10px;padding-right:10px;}
	.tit-other-module h3 {font-size:14px;line-height:18px;}
	.tit-other-module h3 em {color:#232323;}
/* menu group */
	.menu-grp {margin-bottom:10px;padding-bottom:20px;background:#fff;}
	.meun-list {padding:0 25px 0 25px;}
	.meun-list li {padding:17px 0 19px 0;border-top:1px solid #e9e9e9;}
	.meun-list li:first-of-type {border-top:none;}
	.meun-list li:last-of-type {padding-bottom:0;}
	.meun-list .main-txt, .meun-list .sub-txt {display:block;font-size:14px;line-height:17px;}
	.meun-list .main-txt {color:#232323;}
	.meun-list .sub-txt {margin-top:3px;color:#787878;}
	.menu-grp .btn-module {padding:19px 25px 0 25px;}
	.menu-grp .btn-module a {display:block;height:50px;line-height:50px;font-size:16px;text-align:center;color:#fff;background:#f2b844;}
	.tit-module + .btn-module {padding-top:20px;}
/* detail information group */
	.detail-info-grp {padding-bottom:18px;margin-bottom:10px;background:#fff;}
	.detail-list {padding:12px 25px 0 25px;}
	.detail-list dl {position:relative;margin-top:6px;padding-left:78px;} /*수정1210*/
	.detail-list dt {position:absolute;left:0;top:0;color:#b2b2b2;}
	.detail-list dd {color:#232323;}
	.detail-list dt, .detail-list dd {font-size:14px;line-height:17px;}
	.detail-list a, .detail-list .slash {color:#50a800;}
	.detail-list a {text-decoration:underline;}
	.detail-list dd li {margin-bottom:6px;}
/* LBS information group */
	.lbs-info-grp {margin-bottom:10px;background:#fff;}
	.lbs-info-grp img {width:100%;}
	.address {-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;position:relative;height:60px;padding:12px 108px 0 25px;}
	.address .main-txt, .address .sub-txt {display:block;font-size:13px;line-height:15px;}
	.address .sub-txt {margin-top:2px;}
	.address .sub-txt em {display:inline-block;height:13px;padding:0 3px;margin-top:-4px;vertical-align:middle;font-size:11px;line-height:14px;border:1px solid #787878;}
	.address .tmap-linker {
		position:absolute;right:0;top:0;
		display:block;overflow:hidden;width:107px;height:60px;border-left:1px solid #ebebeb;white-space:nowrap;text-indent:100%;
		background:url('../img/bi_tmap.png') 50% 50% no-repeat;background-size:82px 17px;
	}
/* zzim group */
	.zzim-grp {position:relative;padding:17px 25px 20px 25px;margin-bottom:10px;background:#fff;}
	.zzim-grp h3 {margin-bottom:14px;font-size:14px;line-height:17px;font-weight:bold;color:#232323;}
	.zzim-list li {
		display:inline-block;overflow:hidden;width:48px;height:48px;margin-right:8px;border-radius:24px;
		vertical-align:top;white-space:nowrap;text-indent:100%;background-repeat:no-repeat;background-position:50% 50%;background-size:48px;
	}
	.zzim-grp .etc {position:absolute;right:31px;bottom:30px;color:#b5b5b5;font-size:30px;line-height:32px;}
/* review group */
	.review-group {margin-bottom:10px;background:#fff;}
	.review-wrap {position:relative;padding:0 25px;}
	.review-wrap .mymenu {position:absolute;right:-10px;top:24px;z-index:1;}
	.review-wrap .mymenu a {
		display:block;overflow:hidden;width:25px;height:20px;white-space:nowrap;text-indent:100%;
		background:url('../img/ic-mymenu.png') 10px 0 no-repeat;background-size:5px 20px;
	}
	.review-box {position:relative;padding:0 0 15px 36px;}
	.review-box dt {border-top:1px solid #e9e9e9;padding-top:14px;}
	.review-box dt strong {font-size:13px;line-height:16px;color:#232323;font-weight:normal;}
	.review-box dt .time {font-size:12px;line-height:16px;color:#969696;}
	.review-box:first-of-type dt {border-top:none;}
	.review-box .star-pt {display:block;width:71px;height:11px;margin:2px 0 0 0;background:url('../img/i-star-bg.png') no-repeat;background-size:71px 11px;}
	.review-box .star-pt .star {height:11px;background:url('../img/i-star.png') no-repeat;background-size:71px 11px;}
	.review-box .profile {
		position:absolute;left:0;top:20px;overflow:hidden;width:28px;height:28px;border-radius:14px;
		white-space:nowrap;text-indent:100%;background-position:50% 50%;background-repeat:no-repeat;background-size:28px;
	}
	.review-box .txt-area {padding-top:11px;}
	.review-box .txt-area ul {margin-top:14px;overflow:hidden;zoom:1;}
	.review-box .txt-area li {position:relative;float:left;margin-right:1px;}
	.review-box .txt-area img {width:70px;height:70px;}
	.review-box .txt-area li a {position:relative;display:block;width:70px;height:70px;}
	.review-box .txt-area li a em {
		position:absolute;left:0;top:0;z-index:2;width:100%;height:100%;
		text-align:center;line-height:70px;font-size:25px;font-weight:normal;color:#fff;
		background:url('../img/bg_layer.png') repeat;
	}
	.review-box dt + .txt-area {padding-top:7px;padding-bottom:0;}
	.review-box .txt-box {font-size:14px;line-height:18px;color:#232323;}
	.review-box .txt-box .hash-tag {margin-top:4px;color:#84ad5d;}
	.review-box .txt-box h4 {display:inline;white-space:nowrap;font-weight:normal;color:#84ad5d;}
	.review-box .txt-box .more {font-size:14px;color:#c3c3c3;}
	.review-box .count {padding-top:11px;}
	.review-box .count a {display:inline-block;padding:1px 0;color:#595959;font-size:15px;line-height:17px;}
	.review-box .count .like {margin-right:3px;padding-left:26px;background:url('../img/ic-like02.png') 0 0 no-repeat;background-size:20px 18px;}
	.review-box .count .like.selected {background-image:url('../img/ic-liked02.png');}
	.review-box .count .reply {padding-left:28px;background:url('../img/ic_reply.png') 0 0 no-repeat;background-size:21px 20px;}
	.review-box .zzim-box {position:relative;margin-top:16px;}
	.review-box .zzim-list {overflow:hidden;zoom:1;}
	.review-box .zzim-list li {float:left;margin-right:5px;width:28px;height:28px;border-radius:14px;background-size:28px;}
	.review-box .zzim-box .etc {position:absolute;right:17px;bottom:2px;color:#b5b5b5;font-size:20px;line-height:22px;}
	.rb-reply dt{padding-left:36px}
	.rb-reply .profile{left:36px;}
	.rb-reply .txt-area {padding-left:36px;}

	/* detail :review (re-define) */
	.ui-detail-wrap .review-group {margin-bottom:15px;}
	.ui-detail-wrap .review-wrap .mymenu {right:5px;}
	.ui-detail-wrap .review-wrap {padding:0 0 0 17px;overflow:hidden;}
	.ui-detail-wrap .review-box .txt-box {padding-right:15px;padding-bottom:2px;}
	.ui-detail-wrap .review-box .swiper-container {margin-top:10px;width:100%;width:2000px\0;height:260px;}
	.ui-detail-wrap .review-box .swiper-slide {height:260px;width:260px\0;float:left\0;margin-right:10px\0;}
	.ui-detail-wrap .review-box .swiper-slide a {
		display:block;overflow:hidden;width:260px;height:260px;text-indent:100%;white-space:nowrap;
		background-repeat:no-repeat;background-position:50% 50%;background-size:auto 260px;
	}
/* detail :review title group */
	.review-tit-grp {padding:20px 0 19px 0;border-bottom:1px solid #ebebeb;text-align:center;background:#fff;}
	.review-tit-grp h1 {font-size:17px;line-height:20px;color:#232323;}
	.review-tit-grp h2 {margin-top:3px;font-size:13px;line-height:16px;color:#969696;font-weight:normal;}
/* detail :review input group */
	.reply-input-grp {box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;position:fixed;bottom:0;left:0;right:0;height:55px;padding:17px 82px 0 53px;background:#fff;z-index:1;}
	.reply-input-grp ::-webkit-input-placeholder {color:#bdbdbd;}
	.reply-input-grp .reply-inp {border:none;height:22px;font-size:19px;line-height:22px;vertical-align:top;width:100%;color:#232323;background:transparent;}
	.reply-input-grp .like {
		position:absolute;left:16px;top:16px;overflow:hidden;
		display:block;width:27px;height:24px;white-space:nowrap;text-indent:100%;
		background:url('../img/ic-like03.png') no-repeat;background-size:27px 24px;
	}
	.reply-input-grp .like.selected {background-image:url('../img/ic-liked03.png');}
	.reply-input-grp button {position:absolute;right:0;top:0;display:block;height:55px;width:82px;text-align:center;color:#7f7f7f;font-size:19px;line-height:55px;background:#474747;}
/* floating menu group */
	.float-menu-grp {
		box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;
		position:fixed;left:0;bottom:0;z-index:5;display:table;width:100%;height:50px;padding:10px 0;
		background:url('../img/bg_layer05.png') repeat;
	}
	.float-menu-grp .float-menu {display:table-row;}
	.float-menu-grp .menu-item {display:table-cell;vertical-align:middle;text-align:center;border-left:1px solid #3a3a3a;}
	.float-menu-grp .menu-item:first-of-type {border-left:none;}
	.float-menu-grp .menu-item .ico {
		display:inline-block;height:30px;vertical-align:top;color:#fff;line-height:30px;font-size:14px;
		background-repeat:no-repeat;background-position:0 50%;
	}
	.float-menu-grp .menu-item .ico.like {padding-left:26px;background-image:url('../img/ic-like04.png');background-size:19px 17px;}
	.float-menu-grp .menu-item .ico.like.selected {background-image:url('../img/ic-liked02.png');}
/* box poi */
	.ui-box-poi {background-color:#fff;height:100px;position:relative;color:#787878;padding:20px 127px 20px 0;}
	.ui-box-poi h4 {font-size:16px;font-weight:normal;color:#232323;line-height:17px;padding-top:0;padding-right:0;text-overflow:ellipsis;white-space:nowrap;word-wrap:normal;overflow:hidden;}
	.ui-box-poi .ui-badge {position:absolute;top:20px;right:0;margin:0;padding:0;}
	.ui-box-poi .ui-badge img {width:100px;height:100px;}
	.ui-box-poi .ui-badge .ui-badge-selec {position:absolute;bottom:-14px;right:-13px;display:block;text-indent:-9999px;background:url(../img/i-select.png) 0 0 no-repeat;width:52px;height:52px;background-size:52px;}
	.ui-box-poi .ui-info {margin-top:4px;}
	.ui-box-poi .ui-info span {display:inline-block;vertical-align:top;color:#969696;font-weight:300;font-size:12px;line-height:16px;}
	.ui-box-poi .ui-info .ui-star-rate {width:68px;height:11px;background:url(../img/i-star-bg.png) 0 0 no-repeat;background-size:68px 11px;margin-top:1px;position:relative;}
	.ui-box-poi .ui-info .ui-star-rate .ui-inner-star {height:11px;background:url(../img/i-star.png) 0 0 no-repeat;background-size:68px 11px;position:absolute;top:0;left:0;}
	.ui-box-poi .ui-info .ui-review {background:url(../img/ic-bar1.gif) 0 4px no-repeat;background-size:1px 9px;height:12px;margin:0 0 0 2px;padding:0 0 0 5px;}
	.ui-box-poi .ui-address {margin:1px 0 5px 0;font-weight:400;font-size:12px;line-height:16px;display:block;}
	.ui-box-poi .ui-txt {padding-top:5px;font-size:12px;line-height:17px;color:#666;}
	.ui-box-poi .ui-txt .main-txt, .ui-box-poi .ui-txt .sub-txt {display:block;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;text-overflow:ellipsis;}
	.ui-box-poi .ui-user {padding-top:6px;font-size:12px;line-height:17px;color:#84ad5d;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;text-overflow:ellipsis;}
	.ui-box-poi .ui-user span {color:#d1d1d1;margin:0 -2px;}
	.ui-box-poi .ui-tag {
		-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;
		text-overflow:ellipsis;width:100%;white-space:nowrap;word-wrap:normal;
		overflow:hidden;font-size:13px;line-height:16px;margin-bottom:8px;margin-top:3px;display:block;
	}
	.ui-box-poi .ui-tag span {display:inline;margin-right:5px;}
	.ui-box-poi .ui-stickr span {display:inline-block;height:11px;vertical-align:top;margin-right:2px;text-indent:-9999px;}
	.ui-box-poi .ui-stickr .ui-stk-ad {width:17px;background:url(../img/ic-ad.png) 0 0 no-repeat;background-size:100% 100%;}
	.ui-box-poi .ui-stickr .ui-stk-coupon {width:46px;background:url(../img/ic-coupon.png) 0 0 no-repeat;background-size:100% 100%;}
	.ui-box-poi .ui-stickr .ui-stk-order {width:65px;background:url(../img/ic-syruporder.png) 0 0 no-repeat;background-size:100% 100%;}
	.ui-box-poi .ui-badge .ui-photos {position:absolute;top:8px;left:8px;display:block;} /*수정1210*/
	.ui-box-poi .ui-badge .ui-photos.ui-insta {background:url(../img/i_photos01.png) 0 0 no-repeat;background-size:12px auto;width:12px;height:12px;}
	.ui-box-poi .ui-badge .ui-photos.ui-fs {background:url(../img/i_photos02.png) 0 0 no-repeat;background-size:auto 12px;width:9px;height:12px;}
/* poi group */
	.box-poi-grp {margin-bottom:10px;background:#fff;}
	.box-poi-grp.no-space {margin-bottom:0;}
	.box-poi-grp:last-of-type {margin-bottom:0;}
	.poi-module {padding:0 25px;}
	.poi-module .ui-box-poi {border-top:1px solid #ebebeb;}
	.poi-module .ui-box-poi:first-of-type {border-top:none;}
/* today lunch group */
	.today-lunch-grp {height:145px;background-position:50% 50%;background-repeat:no-repeat;background-size:cover;}/*15.12.16 notyet*/
	.today-lunch-grp h1 {text-align:center;padding-top:18px;font-size:14px;line-height:17px;}
	.today-lunch-grp h1 span {padding-left:12px;color:#fff;background:url('../img/ic-lbs.png') 0 50% no-repeat;background-size:8px 11px;}
	.lunch-list-grp .list-wrapper {display:block;cursor:pointer;}
	.lunch-list-grp .list-wrapper.blank-element {visibility:hidden;}
	.lunch-list-grp .vi-box {
		position:relative;displaY:block;overflow:hidden;width:100%;height:209px;white-space:nowrap;text-indent:100%; /*15.12.16 notyet*/
		background-position:50% 50%;background-repeat:no-repeat;background-size:cover;
	}
	.lunch-list-grp .vi-box .sns {display:block;position:absolute;left:8px;top:8px;width:12px;height:12px;overflow:hidden;white-space:nowrap;text-indent:100%;}
	.lunch-list-grp .vi-box .sns.insta {background:url('../img/i_photos01.png') no-repeat;background-size:12px;}
	.lunch-list-grp .vi-box .sns.fb {width:9px;background:url('../img/i_photos02.png') no-repeat;background-size:9px 12px;}
	.lunch-list-grp .txt-box {displaY:block;height:82px;padding:0 15px;background:#fff;} /*15.12.16 notyet*/
	.lunch-list-grp .txt-box .tit {display:block;overflow:hidden;padding-top:10px;font-size:18px;line-height:20px;color:#232323;white-space:nowrap;text-overflow:ellipsis;} /*15.12.16 notyet*/
	.lunch-list-grp .ui-info {padding-top:0;}
	.lunch-list-grp .ui-info span {display:inline-block;color:#969696;font-weight:300;font-size:0.75rem;}
	.lunch-list-grp .ui-info .ui-star-rate {width:68px;height:11px;background:url(../img/i-star-bg.png) 0 0 no-repeat;background-size:68px 11px;margin-top:5px;position:relative;}
	.lunch-list-grp .ui-info .ui-star-rate .ui-inner-star {height:11px;background:url(../img/i-star.png) 0 0 no-repeat;background-size:68px 11px;position:absolute;top:0;left:0;}
	.lunch-list-grp .ui-info .ui-distance {background:url(../img/ic-bar1.gif) 0 0 no-repeat;background-size:1px 9px;height:12px;margin:0 0 0 2px;line-height:1;padding:0 0 0 5px;}
	.lunch-list-grp .ui-tag {display:block;overflow:hidden;margin-top:3px;font-size:13px;line-height:16px;color:#666;white-space:nowrap;text-overflow:ellipsis;} /*15.12.16 notyet*/
	.lunch-list-grp .ui-tag span {color:#666;margin-right:5px;}
	.lunch-list-grp .like {
		position:absolute;right:5px;bottom:68px;z-index:1;
		display:block;overflow:hidden;width:64px;height:64px;white-space:nowrap;text-indent:100%;background:url('../img/i-like-circle.png') no-repeat;background-size:64px;
	}
	.lunch-list-grp .reservation { /*15.12.16 notyet*/
		position:absolute;right:5px;bottom:133px;z-index:1;
		display:block;overflow:hidden;width:64px;height:64px;white-space:nowrap;text-indent:100%;background:url('../img/i-rsv.png') no-repeat;background-size:64px;
	}
	.lunch-list-grp .swiper-wrapper {width:3000px\0;overflow:hidden\0;}
	.lunch-list-grp .list-wrapper.blank-element {display:none\0;}
	.lunch-list-grp .swiper-slide {width:260px\0;float:left\0;margin-right:10px\0;}
	.event-grp {margin-top:5px;}
	.event-grp h3 {
		overflow:hidden;width:100%;height:59px;border-bottom:3px solid #f8f8f8;text-indent:100%;
		white-space:nowrap;background:url('../img/bg_event_top.png') 50% 50% no-repeat;background-size:360px 62px;
	}
	.event-grp .event-sample a {display:block;}
	.event-grp .event-sample img {display:block;width:100%;}
/* category group */
	.cate-list {box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;display:table;border-collapse:collapse;width:100%;background:#fafafa;}
	.cate-list ul {display:table-row;}
	.cate-list li {box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;display:table-cell;vertical-align:middle;width:33.3%;border:1px solid #ebebeb;}
	.cate-list li a {
		box-sizing:border-box;-moz-box-sizing:border-box;
		display:block;height:45px;text-align:center;font-size:17px;line-height:45px;white-space:nowrap;color:#232323;background:#fff;
	}
	.cate-list li .size-down {font-size:14px;}
	.cate-list li .size-m-down {font-size:15px;}
	.cate-list .selected {border-color:#50a800;}
	.cate-list .selected a {color:#50a800;font-weight:bold;}
/* lbs toggle select */
	.current-box {padding-top:20px;}
	.current-box a {overflow:hidden;display:block;height:50px;padding:0 18px;font-size:19px;font-weight:bold;line-height:50px;color:#232323;background:#fff;}
	.current-box a span {padding-left:26px;background:url('../img/ic-current.png') 0 50% no-repeat;background-size:19px;}
	.lbs-toggle-module dl:first-of-type dt {margin-top:0;border-top:none;}
	.lbs-toggle-module dt a {
		position:relative;display:block;overflow:hidden;padding-left:17px;height:50px;
		line-height:50px;font-size:18px;color:#232323;font-weight:bold;background:#fff;
	}
	.lbs-toggle-module dt {margin-top:-1px;border-bottom:1px solid #ebebeb;border-top:1px solid #dedede;}
	.lbs-toggle-module dt a:after {
		position:absolute;right:21px;top:50%;content:'';display:block;width:19px;height:11px;margin-top:-6px;
		background:url('../img/ic_below_arrow04.png') no-repeat;background-size:19px 11px;
	}
	.lbs-toggle-module dd {display:none;border-top:1px solid #dedede;}
	.lbs-toggle-module dd ul {overflow:hidden;zoom:1;}
	.lbs-toggle-module dd ul li {
		-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;float:left;width:50%;border:1px solid #dedede;
		border-top:none;border-left:none;
	}
	.lbs-toggle-module dd ul a {overflow:hidden;display:block;height:45px;padding-left:18px;font-size:15px;line-height:45px;color:#666;}
	.lbs-toggle-module .active dt {border-bottom:none;}
	.lbs-toggle-module .active dt a:after {background-image:url('../img/ic_upper_arrow02.png');}
	.lbs-toggle-module .active dd {display:block;}
/* notice */
	.notice ul li {border-bottom:1px solid #d9d9d9}
	.notice dl dt {background:#fff}
	.notice dl dt a {display:block;width:100%;-webkit-box-sizing:border-box;box-sizing:border-box;padding:17px 40px 15px 15px;line-height:18px;color:#464646;position:relative}
	.notice dl dt a span {display:block;color:#898989;margin-top:4px;font-size:13px}
	.notice dl dt a:after {
		content:'';position:absolute;background:url('../img/ic-arrow02.png') 0 -11px no-repeat;
		width:18px;height:11px;overflow:hidden;right:16px;top:50%;margin-top:-5px;-webkit-background-size:18px 22px;background-size:18px 22px
	}
	.notice dl dd {display:none;-webkit-box-sizing:border-box;box-sizing:border-box;padding:17px 15px;font-size:12px;line-height:16px;color:#656565;border-top:1px solid #d9d9d9}
	.notice dl dd pre {margin:0;padding:0;word-break:break-word;font-size:12px;line-height:16px;font-family:'Dotum', 'Tahoma', sans-serif;}
	.notice dl.selected dt a:after {background-position:0 0}
	.notice dl.selected dd {display:block;}

/* ----- 320px Layout ----- */
@media (max-width:320px) {
/* top header */
	.ui-wrap #ui-header.ui-smaller {height:49px !important;}
/* content */
	.ui-detail-wrap {padding-top:59px;padding-bottom:48px;}
	.ui-cmm-cont {padding-top:49px;}
	.ui-cmm-cont .story-list-grp {padding-top:19px;}
	/* map view group */
	.ui-map-grp {padding-top:88px;}
	.ui-map-grp.detail-map-st {padding-top:49px;}
	.ui-map-grp .map-module .map-marker{width:31px;height:35px;}/*2015.12.04*/

	.ui-map-grp .swiper-wrapper {bottom:17px;}
	.ui-map-grp .addr-box {top:49px;width:100%;padding:10px;}
	.ui-map-grp .addr-box p {font-size:15px;}
/* top image group */
	.top-img-grp {height:253px;}
	.headline {height:55px;}
	.headline .logo {left:16px;top:16px;width:83px;height:33px;background-image:url('../img/bi_ios.png');background-size:83px 13px;}
	.headline .logo a {width:83px;height:33px;}
	.headline .sns-box {top:18px;}
	.headline .sns-box a {margin-left:7px;}
	.vi-list {height:253px;}
	.vi-list li a {height:253px;}
	.top-img-grp .paging {bottom:9px;font-size:13px;line-height:16px;}
	.top-img-grp .paging span {padding-left:20px;background-position:0 2px;background-size:15px 12px;}
	.top-img-grp .sticker {right:6px;bottom:51px;width:50px;height:50px;background-size:50px;}
	.top-img-grp .tel {right:6px;bottom:-10px;width:50px;height:50px;background-size:50px;}
	/* blog type */
	.thumb-list {top:84px;}
	.thumb-list img {width:90px;height:90px;}
	.thumb-list li {width:90px;height:90px;margin-left:1px;}
	.thumb-list p {padding-top:6px;font-size:10px;line-height:14px;}
	/* no image type */
	.top-img-grp.no-img-type:before {background-size:1px 104px;}
	.tip-txt {top:117px;}
	.tip-txt h2 {font-size:17px;line-height:20px;}
	.tip-txt p {font-size:13px;line-height:16px;}
/* briefing information group */
	.brief-info-grp {padding-top:13px;padding-bottom:18px;}
	.brief-info-grp h2 {margin-bottom:2px;font-size:12px;line-height:14px;}
	.brief-info-grp h1 {margin-bottom:12px;font-size:24px;line-height:27px;}
	.link-review {width:237px;height:36px;border-radius:18px;line-height:38px;}
	.link-review em {margin-left:0;}
	.star-pt {width:66px;height:11px;margin-top:13px;background-size:66px 11px;}
	.star-pt .star {height:11px;background-size:66px 11px;}
	.brief-info-grp .sub-txt {padding:0 50px;margin-top:15px;font-size:12px;line-height:17px;}
	.brief-info-grp .ticket-box {margin-top:13px;}
	.brief-info-grp .link-review + .ticket-box {margin-top:20px;}
	.brief-info-grp .ticket-box span {margin-left:1px;}
	.brief-info-grp .hint-txt {padding-top:12px;padding-bottom:0;}
	.brief-info-grp .hint-txt strong {font-size:15px;line-height:18px;}
	.brief-info-grp .hint-txt .caution {margin-bottom:8px;margin-top:10px;background-position:0 2px;}
	.brief-info-grp .hint-txt p {margin-top:2px;font-size:12px;line-height:15px;}
/* event button group */
	.evt-btn-grp {margin-bottom:13px;}
	.evt-btn-grp .side-module {padding:13px 34px 10px 34px;}
	.evt-btn-grp .side-module .round-btn {width:68px;height:68px;padding-top:17px;border-radius:34px;font-size:15px;line-height:16px;}
	.evt-btn-grp .side-module p {padding-top:12px;font-size:11px;line-height:14px;}
/* segmented tab */
	.segment-tab {width:100%;height:43px;margin-bottom:9px;padding:0 22px;background:#fff;}
	.segment-tab li a {height:43px;padding-top:12px;font-size:15px;}
	.segment-tab li a em {margin-left:3px;}
/* title module */
	.tit-module {height:44px;padding:15px 22px 0 22px;}
	.tit-module h3 {font-size:14px;line-height:17px;}
	.tit-module h3 em {margin-left:3px;}
	.tit-module .more {right:22px;top:17px;}
	/* other */
	.tit-other-module {height:39px;padding:13px 15px 0 15px;}
	.tit-other-module h3 {font-size:13px;line-height:16px;}
/* menu group */
	.menu-grp {margin-bottom:9px;}
	.meun-list {padding:0 22px;}
	.meun-list li {padding:14px 0 12px 0;}
	.meun-list .sub-txt {margin-top:0;font-size:13px;}
	.menu-grp .btn-module {padding:13px 22px 0 22px;}
	.menu-grp .btn-module a {height:46px;line-height:46px;font-size:16px;}
/* detail information group */
	.detail-info-grp {padding-bottom:13px;margin-bottom:9px;}
	.detail-list {padding:6px 22px 0 22px;}
	.detail-list dl {margin-top:5px;padding-left:72px;} /*수정1210*/
	.detail-list dt, .detail-list dd {font-size:13px;}
	.detail-list dd li {margin-bottom:5px;}
/* LBS information group */
	.lbs-info-grp {margin-bottom:9px;}
	.address {height:54px;padding:11px 96px 0 22px;}
	.address .main-txt, .address .sub-txt {font-size:14px;}
	.address .sub-txt {margin-top:4px;}
	.address .sub-txt em {height:12px;padding:0 2px;font-size:10px;line-height:14px;}
	.address .tmap-linker {width:95px;height:53px;background-size:72px 15px;}
/* zzim group */
	.zzim-grp {padding:15px 22px 20px 22px;margin-bottom:9px;}
	.zzim-grp h3 {margin-bottom:13px;}
	.zzim-list li {margin-right:4px;}
	.zzim-grp .etc {right:25px;bottom:35px;font-size:22px;line-height:24px;}
/* review group */
	.review-group {margin-bottom:9px;}
	.review-wrap {padding:0 22px;}
	.review-wrap .mymenu {top:20px;}
	.review-box {padding:0 0 15px 40px;}
	.review-box dt {padding-top:13px;}
	.review-box dt .time {font-size:11px;}
	.review-box .star-pt {width:58px;height:9px;margin:2px 0 0 0;background-size:58px 9px;}
	.review-box .star-pt .star {height:9px;background-size:58px 9px;}
	.review-box .profile {top:15px;width:30px;height:30px;border-radius:15px;background-size:30px;}
	.review-box .txt-area {padding-top:10px;}
	.review-box .txt-area ul {margin-top:10px;}
	.review-box .txt-area img {width:63px;height:63px;}
	.review-box .txt-area li a {width:63px;height:63px;}
	.review-box .txt-area li a em {line-height:63px;}
	.review-box dt + .txt-area {padding-top:6px;}
	.review-box .txt-box {font-size:13px;line-height:16px;}
	.review-box .txt-box .more {font-size:13px;}
	.review-box .count {padding-top:15px;}
	.review-box .count a {font-size:13px;}
	.review-box .zzim-box {margin-top:20px;}
	.review-box .zzim-list li {margin-right:4px;width:30px;height:30px;border-radius:15px;background-size:30px;}
	.review-box .zzim-box .etc {right:14px;bottom:6px;}
	/* detail :review (re-define) */
	.ui-detail-wrap .review-group {margin-bottom:10px;}
	.ui-detail-wrap .review-wrap {padding-left:15px;}
	.ui-detail-wrap .review-box {padding-bottom:11px;}
	.ui-detail-wrap .review-box .zzim-list {padding-bottom:3px;}
	.ui-detail-wrap .review-box .txt-box {padding-bottom:0;}
	.ui-detail-wrap .review-box .swiper-container {margin-top:9px;}
	.ui-detail-wrap .review-box .swiper-container {margin-top:9px;height:220px;}
	.ui-detail-wrap .review-box .swiper-slide {height:220px;}
	.ui-detail-wrap .review-box .swiper-slide a {width:220px;height:220px;background-size:auto 220px;}
/* detail :review title group */
	.review-tit-grp {padding-top:16px;padding-bottom:13px;}
	.review-tit-grp h1 {font-size:15px;line-height:18px;}
	.review-tit-grp h2 {margin-top:2px;font-size:11px;line-height:14px;}
/* detail :review input group */
	.reply-input-grp {height:49px;padding:15px 62px 0 55px;}
	.reply-input-grp .reply-inp {height:20px;font-size:16px;line-height:20px;}
	.reply-input-grp .like {left:15px;top:17px;width:20px;height:18px;background-size:20px 18px;}
	.reply-input-grp button {height:49px;width:62px;font-size:16px;line-height:49px;}
/* floating menu group */
	.float-menu-grp {height:46px;padding:9px 0;}
	.float-menu-grp .menu-item .ico {height:28px;font-size:14px;line-height:28px;}
	.float-menu-grp .menu-item .ico.like {padding-left:24px;}
/* box poi */
	.ui-box-poi {height:90px;padding-right:117px;}
	.ui-box-poi h4 {font-size:15px;}
	.ui-box-poi .ui-badge img {width:90px;height:90px;}
	.ui-box-poi .ui-badge .ui-badge-selec {top:58px;left:57px;width:45px;height:46px;background-size:100% 100%;}
	.ui-box-poi .ui-info .ui-star-rate {width:62px;height:11px;background-size:62px 11px;}
	.ui-box-poi .ui-info .ui-star-rate .ui-inner-star {height:11px;background-size:62px 11px;}
	.ui-box-poi .ui-txt {padding-top:3px;line-height:15px;}
	.ui-box-poi .ui-user {padding-top:6px;font-size:11px;line-height:15px;}
	.ui-box-poi .ui-address {margin:4px 0 0 0;}
/* poi group */
	.box-poi-grp {margin-bottom:9px;}
	.poi-module {padding:0 22px;}
/* today lunch group */
	.today-lunch-grp {height:145px;}/*15.12.16 notyet*/
	.today-lunch-grp h1 {padding-top:14px;font-size:12px;line-height:15px;}
	.lunch-list-grp .vi-box {height:180px;}/*15.12.16 notyet*/
	.lunch-list-grp .txt-box {height:75px;}/*15.12.16 notyet*/
	.lunch-list-grp .txt-box .tit {padding-top:12px;font-size:15px;line-height:17px;}
	.lunch-list-grp .ui-info {padding-top:3px;}
	.lunch-list-grp .ui-info .ui-star-rate {width:62px;height:11px;background-size:62px 11px;margin-top:3px;}
	.lunch-list-grp .ui-info .ui-star-rate .ui-inner-star {height:11px;background-size:62px 11px;}
	.lunch-list-grp .ui-tag {margin-top:6px;font-size:11px;line-height:14px;}
	.lunch-list-grp .like {right:12px;bottom:62px;width:60px;height:60px;background-size:60px;}/*15.12.16 notyet*/
	.lunch-list-grp .reservation {right:12px;bottom:123px;width:60px;height:60px;background-size:60px;}/*15.12.16 notyet*/
	.event-grp h3 {height:52px;background-size:320px 52px;}
/* category group */
	.cate-list li a {font-size:15px;}
	.cate-list li .size-down {font-size:13px;}
	.cate-list li .size-m-down {font-size:13px;}
/* lbs toggle select */
	.current-box {padding-top:15px;}
	.current-box a {height:45px;padding:0 15px;font-size:15px;line-height:47px;}
	.current-box a span {padding-left:24px;background-size:17px;}
	.lbs-toggle-module dt a {padding-left:15px;height:44px;line-height:46px;font-size:17px;}
	.lbs-toggle-module dt a:after {right:15px;width:17px;height:9px;margin-top:-5px;background-size:17px 9px;}
	.lbs-toggle-module dd ul a {height:40px;padding-left:13px;font-size:14px;line-height:42px;}
}

@media only all and (min-width:375px) { /*15.12.16 notyet*/
	.today-lunch-grp {height:170px;}
	.lunch-list-grp .vi-box {height:212px;}
	.lunch-list-grp .txt-box {height:88px;}
	.lunch-list-grp .like {bottom:75px;}
	.lunch-list-grp .reservation {bottom:140px;}
}

/* ----- 414px Layout ----- */
@media (min-width:414px) { 
/* top header */
	.ui-wrap #ui-header.ui-smaller {height:55px !important;}
/* today lunch group */
	.today-lunch-grp {height:187px;}/*15.12.16 notyet*/
	.today-lunch-grp h1 {padding-top:20px;font-size:16px;line-height:19px;}
	.lunch-list-grp .vi-box {height:235px;}/*15.12.16 notyet*/
	.lunch-list-grp .txt-box {height:97px;}/*15.12.16 notyet*/
	.lunch-list-grp .txt-box .tit {padding-top:19px;font-size:19px;line-height:21px;}
	.lunch-list-grp .ui-info {padding-top:1px;}
	.lunch-list-grp .ui-info .ui-star-rate {width:68px;height:11px;background-size:68px 11px;margin-top:5px;}
	.lunch-list-grp .ui-info .ui-star-rate .ui-inner-star {height:11px;background-size:68px 11px;}
	.lunch-list-grp .like {right:14px;bottom:75px;width:77px;height:77px;background-size:77px;}/*15.12.16 notyet*/
	.lunch-list-grp .reservation {right:14px;bottom:153px;width:77px;height:77px;background-size:77px;}/*15.12.16 notyet*/
	.event-grp h3 {height:68px;background-size:414px 68px;}
	.ui-map-grp .map-module .map-marker{width:41px;height:46px;}/*2015.12.04*/
}

/* ----- Desktop Layout ----- */
@media only all and (min-width:730px) {
	.ui-detail-wrap{padding-bottom:0;}
	.reply-input-grp{position:relative !important}
/* floating menu group */
	.float-menu-grp {left:50%;width:560px;margin-left:-280px;}
/* today lunch group */
	.lunch-list-grp .list-wrapper.blank-element {display:none;}
	.lunch-list-grp .swiper-slide {margin-bottom:10px;}
	.lunch-list-grp .swiper-slide:first-of-type, .lunch-list-grp .swiper-slide:last-of-type {display:none;}
	.lunch-list-grp .swiper-wrapper {
		display:block;-webkit-transform:translate3d(0px, 0px, 0px) !important;-moz-transform:translate3d(0px, 0px, 0px) !important;
		-o-transform:translate3d(0px, 0px, 0px) !important;-ms-transform:translate3d(0px, 0px, 0px) !important;transform:translate3d(0px, 0px, 0px) !important;
	}
}