@font-face {
  font-family: 'NotoSansCJKkr';
  font-style: normal;
  font-weight: 300;
  src: local('Noto Sans CJK kr Light'), local('NotoSansCJKkrLight'), url(/resources/font/NotoSans-SKPv1.2-Light.woff) format('woff');
}
@font-face {
  font-family: 'NotoSansCJKkr';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans CJK kr Regular'), local('NotoSansCJKkrRegular'), url(/resources/font/NotoSans-SKPv1.2-Regular.woff) format('woff');
}
@font-face {
  font-family: 'NotoSansCJKkr';
  font-style: normal;
  font-weight: 500;
  src: local('Noto Sans CJK kr Medium'), local('NotoSansCJKkrMedium'), url(/resources/font/NotoSans-SKPv1.2-Medium.woff) format('woff');
}
@font-face {
  font-family: 'NotoSansCJKkr';
  font-style: normal;
  font-weight: 700;
  src: local('Noto Sans CJK kr Bold'), local('NotoSansCJKkrBold'), url(/resources/font/NotoSans-SKPv1.2-Bold.woff) format('woff');
}


