/*
	reset jquery mobile default style
*/
.ui-mobile-viewport { -webkit-tap-highlight-color:rgba(0, 0, 0, 0.3); }

.smartbanner { margin-top: 59px; padding:0; background:#FFF; text-shadow:none; }
.header, .footer { background:none; border:none; }
.logo, .subTitle { margin:0; padding:0; text-align:left; }
.custom_content { margin:0; padding:0; border:0; }

.custom_content .ui-btn-corner-all { -webkit-border-radius:4px; border-radius:4px; }

.customUI .ui-btn, .customUI .ui-select { padding:0; margin:0; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; }
.customUI .ui-btn-inner { padding:0.4em 0; }
.customUI .ui-select .ui-focus { box-shadow:0 1px 3px rgba(0,0,0,.2); -moz-box-shadow:0 1px 3px rgba(0,0,0,.2); -webkit-box-shadow:0 1px 3px rgba(0,0,0,.2); box-shadow:0 1px 3px rgba(0,0,0,.2); }
.customUI .ui-select .ui-btn-active {
	border:1px solid #bbb !important;
	background:#d6d6d6;
	text-shadow: 0 1px 0 #FFF;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#d0d0d0), to(#dfdfdf)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #d0d0d0, #dfdfdf); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #d0d0d0, #dfdfdf); /* FF3.6 */
	background-image:     -ms-linear-gradient( #d0d0d0, #dfdfdf); /* IE10 */
	background-image:      -o-linear-gradient( #d0d0d0, #dfdfdf); /* Opera 11.10+ */
	background-image:         linear-gradient( #d0d0d0, #dfdfdf);
}
.customUI label { line-height:inherit; }

body { -webkit-touch-callout:none; -webkit-user-select:none; -khtml-user-select:none; -moz-user-select:none; -ms-user-select:none; user-select:none; }
/* common elements */

.hidden { display:none; }
body a { color:#6C6C6C; }
.header { background:url('../img/bg_header_top.png') 0 0 repeat-x; height:51px; -webkit-background-size:11px 43px; background-size:11px 51px; position:relative; }
.header h1 { display:inline-block; background:url('../img/set_pickat_domastic_720.png') 0 4px no-repeat; width:53px; height:22px; -webkit-background-size:563px; background-size:563px; margin:14px 0 0 13px; text-indent:-1000em; overflow:hidden; float:left; }
.header em { display:inline-block; height:35px; width:1px; background:rgba(197,197,197,0.6); border-right:1px solid #FFF; overflow:hidden; text-indent:-1000em; overflow:hidden; float:left; margin:7px 11px 0 10px; }
.header h2 { display:inline-block; width:66px; height:22px; background:url('../img/set_pickat_domastic_720.png') -22px -30px no-repeat; text-indent:-1000em; overflow:hidden; -webkit-background-size:563px; background-size:563px; float:left; margin:14px 0 0; }
.header h1 a,.header h2 a { display:block; width:100%; height:100%; }
.header .funcBtn { position:absolute; right:15px; top:13px; display:block; text-indent:-1000em; overflow:hidden; width:24px; height:22px; background:url('../img/set_pickat_domastic_720.png') -75px 2px no-repeat; -webkit-background-size:563px; background-size:563px; }

.sectionHeader { height:45px; text-align:center; position:relative; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; padding:12px 0 0; background:#FCFCFC; border-bottom:1px solid #8C8C8C; }
.sectionHeader h3 { color:#F24726; font-size:20px; text-shadow:-1px 0 0 #ca2e01; }
.sectionHeader a { height:23px; display:block; text-align:left; text-indent:-1000em; overflow:hidden; background-image:url('../img/set_pickat_domastic_720.png'); background-repeat:none; -webkit-background-size:563px; background-size:563px; position:absolute; margin-top:-13px; top:50%; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; color:#5b5b5b; }
.sectionHeader a.backButton { width:28px; left:4px; top:50%; background-position:8px -56px; }
.sectionHeader a.backButton.typeText { width:auto; background:none !important; padding:5px 0 0; text-indent:0; font-weight:bold; }
.sectionHeader a.mapButton { width:30px; height:35px; margin-top:-16px; right:13px; background-position:-20px -54px; font-weight:bold; }
.sectionHeader a.confirm { background:none !important; text-indent:0; right:10px; padding:5px 0 0; } 
.sectionHeader a.favorite { width:28px; height:28px; right:13px; background-position:-51px -54px; margin-top:-14px; }

.pickatSearch { padding:5px; border-bottom:1px solid #8C8C8C; }
.pickatSearch button { display:inline-block; background-image:url('../img/set_pickat_domastic_720.png'); background-repeat:no-repeat; -webkit-background-size:563px; background-size:563px; background-color:transparent; }
.pickatSearch .searchInput { position:relative; }
.pickatSearch .searchInput .textWrap { position:relative; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; width:100%; }
.pickatSearch .searchInput input { width:100%; border:1px solid #bdbdbd; background:#f4f3f3; padding:6px 35px 7px 15px; -webkit-border-radius:24px; border-radius:24px; color:#555555; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; margin:0; font-size:14px; }
.pickatSearch .searchInput .resetText { display:none; position:absolute; width:19px; height:19px; background-position:-448px 0; top:6px; right:45px; }
.pickatSearch .searchInput.active .resetText { display:block; }
.pickatSearch .searchInput .searchCancel { display:none; width:47px; height:30px; background-position:-308px -37px; line-height:30px; text-shadow:0 -1px 1px rgba(0,0,0,0.6); position:absolute; right:0; top:0; color:#FFF; text-indent:0; font-size:14px; }
.pickatSearch .searchInput .searchBtn { position:absolute; right:0; top:1px; width:30px; height:30px; background-position:-311px 0; }
.pickatSearch .poiSetting { position:relative; width:100%; height:25px; margin:5px 0 0; padding:0 70px 0 70px; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; }
.pickatSearch .searchInput.focused { padding-right:50px; } 
.pickatSearch .searchInput.focused .textWrap { width:auto; }
.pickatSearch .searchInput.focused .searchCancel { display:inline-block; }
.pickatSearch .poiSetting .currentPoiText { display:inline-block; font-size:12px; white-space:nowrap; text-overflow:ellipsis; height:21px; width:187px; overflow:hidden; }
.pickatSearch .poiSetting .currentPoiText:before { content:''; display:inline-block; width:13px; height:17px; background:url('../img/set_pickat_domastic_720.png') 0 -35px no-repeat; -webkit-background-size:563px; background-size:563px; position:relative; bottom:-4px; margin:0 5px 0 0; }
.pickatSearch .poiSetting button { height:23px; width:63px; position:absolute; top:0; }
.pickatSearch .poiSetting .currentPosition { left:0; background-position:-222px 0; }
.pickatSearch .poiSetting .changePosition { right:0; background-position:-150px 0; }

.pickatSearch.lessSearch { padding-top:9px; padding-bottom:10px;  }
.pickatSearch.lessSearch .exText { color:#7f7f7f; padding:8px 13px 0; }

.pickatSearch.localSearch .resetText { display:block; right:8px; }
.pickatSearch.localSearch .searchBtn { display:none; }

.searchResult { min-height:300px; }
.searchResult .listByZoneName { font-size:16px; }
.searchResult .listByZoneName li { border-bottom:1px solid #ccc; }
.searchResult .listByZoneName li a { width:100%; display:block; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; height:47px; line-height:47px; padding:0 10px 0 15px; color:#3D3D3D; }
.searchResult .listByZoneName li a.current { position:relative; padding-left:31px; }
.searchResult .listByZoneName li a.current:before { content:''; display:block; width:15px; height:20px; background:url('../img/set_pickat_domastic_720.png') -428px 0 no-repeat; -webkit-background-size:563px; background-size:563px; position:absolute; top:50%; left:10px; margin-top:-10px; }
.searchResult .listByZoneName dl dt a { position:relative; }
.searchResult .listByZoneName dl dt a:after { content:''; width:14px; height:9px; background:url('../img/set_pickat_domastic_720.png') -472px 0 no-repeat; position:absolute; top:50%; right:23px; margin-top:-4px; -webkit-background-size:563px; background-size:563px; }
.searchResult .listByZoneName li dl dd { display:none; background:#ebebeb; position:relative; }
.searchResult .listByZoneName dd ul:after { visibility:hidden; display:block; font-size:0; content:" "; clear:both; height:0; }
.searchResult .listByZoneName dd li { -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; }
.searchResult .listByZoneName dd li:nth-child(odd) { border-right:1px solid #ccc; }
.searchResult .listByZoneName dd li:nth-child(odd):last-child { border-bottom:none; }
.searchResult .listByZoneName dd li:nth-child(even):last-child { border-bottom:none; }
.searchResult .listByZoneName dd li { float:left; width:50%; }
.searchResult .listByZoneName dd:before { content:''; display:block; position:absolute; width:100%; height:3px;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.2)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
	background:-o-linear-gradient(top, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
	background:-ms-linear-gradient(top, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
	background:linear-gradient(to bottom, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0) 100%); /* W3C */
}
.searchResult .listByZoneName dl.selected dt a:after { background-position:-488px 0; }
.searchResult .listByZoneName dl.selected dd { display:block; }
.searchResult .listByZoneName dl dd a { white-space:nowrap; overflow:hidden; text-overflow:ellipsis; }

.searchResult .searchedAOIList li { border-bottom:1px solid #ccc; }
.searchResult .searchedAOIList li a { width:100%; display:block; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; min-height:53px; padding:8px 10px 0 19px; color:#3E3E3E; font-size:17px; }
.searchResult .searchedAOIList li span { display:block; color:#AAA; font-size:14px; margin:4px 0 0; }

.sortByOptions { position:absolute; right:13px; top:6px; }
.sortByOptions button { font-size:14px; border:1px solid #989898; -webkit-border-radius:3px; border-radius:3px; padding:8px 24px 8px 12px; background:url('../img/bg_gradient_01.png') 0 90% repeat-x; -webkit-background-size:1px 30px; background-size::1px 30px; text-indent:0; -webkit-box-shadow: 0 1px 3px #CCCCCC; position:relative; }
.sortByOptions button:after { content:''; width:7px; height:6px; display:block; color:#545454; background:url('../img/bg_select_arrow_down.png') 0 0 no-repeat; -webkit-background-size:7px 6px; background-size:7px 6px; position:absolute; right:8px; top:50%; margin:-3px 0 0; }
.sortByOptions .optionLayer { position:absolute; width:100%; z-index:1000; padding:8px 0 0 0; margin:2px 0 0 0; display:block; }
.sortByOptions .optionLayer.hide { display:none; }
.sortByOptions .optionLayer:before { content:" "; display:block; width:14px; height:9px; background:url('../img/bg_layer_tail@2x.png') 50% bottom no-repeat; position:absolute; top:0; left:50%; margin:0 0 0 -8px; -webkit-background-size:14px 9px; background-size:14px 9px; opacity:0.8; }
.sortByOptions .optionLayer ul { text-align:center; width:90%; background:#FFF; border:1px solid #8E8E8E; background:rgba(255,255,255,0.8); -webkit-border-radius:8px; border-radius:8px; -webkit-box-shadow:1px 0 10px rgba(116,116,116,0.6); box-shadow:1px 0 10px rgba(116,116,116,0.6); margin:0 auto; padding:0 4px; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; }
.sortByOptions .optionLayer ul a { color:#333; font-weight:normal; display:block; padding:12px 0; }
.sortByOptions .optionLayer ul li { background:url('../img/bg_layer_dot.png') 0 bottom repeat-x; }
.sortByOptions .optionLayer ul li:last-child { background:none; }

.unifiedSearch .selectedLocation { border-bottom:1px solid #8C8C8C; height:47px; line-height:47px; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; padding:0 0 0 8px; font-size:13px; color:#3E3E3E; }
.unifiedSearch .selectedLocation:before { content:''; display:inline-block; width:13px; height:17px; background:url('../img/set_pickat_domastic_720.png') 0 -35px no-repeat; -webkit-background-size:563px; background-size:563px; position:relative; bottom:-2px; margin:0 5px 0 0; }
.unifiedSearch h4 { line-height:44px; color:#F24726; padding:0 0 0 15px; border-bottom:1px solid #8C8C8C; font-size:15px; }
.unifiedSearch h4 em { color:#545454; }
.unifiedSearch .result { position:relative; font-size:14px; }
.unifiedSearch .result h4 { color:#545454; background:url('../img/bg_gradient_01.png') 0 bottom repeat-x; -webkit-background-size:1px 47px; background-size::1px 47px; }
.unifiedSearch .result h4 em { color:#F24726; }
.unifiedSearch .result .more { position:absolute; top:0; right:11px; height:44px; font-size:12px; display:block; padding:0 10px 0 0; color:#999999; line-height:44px; }
.unifiedSearch .result .more:after { content:''; line-height:1; position:absolute; right:0; top:50%; margin-top:-3px; width:4px; height:7px; background:url('../img/set_pickat_domastic_720.png') -558px -1px no-repeat; -webkit-background-size:563px; background-size:563px; }
.unifiedSearch .result.theme{ border-bottom:1px solid #8C8C8C; }
.unifiedSearch .result.theme h4 { border:none; }
.unifiedSearch .theme ol { display:table; width:100%; }
.unifiedSearch .theme ol li { display:table-cell; width:33%; vertical-align:top; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; border:1px solid #CCC; border-bottom:0; border-right:0; }
.unifiedSearch .theme ol li:first-child { border-left:0; }
.unifiedSearch .theme ol li a { display:block; }
.unifiedSearch .theme .thumbnailBox { width:100%; height:98px; border-bottom:1px solid #CCC; background-position:50% 50%; -webkit-background-size:cover; background-size:cover; position:relative; }
.unifiedSearch .theme .thumbnailBox.noImage { background-image:url('../img/img_no_image.png'); }
.unifiedSearch .theme ol li.noData .thumbnailBox { background-image:url('../img/img_no_data.png'); }
.unifiedSearch .theme .thumbnailBox span { text-align:left; color:#FFF; text-shadow:0 1px 1px #000; font-size:15px; line-height:16px; padding:0 0 0 11px; position:absolute; bottom:8px; }
.unifiedSearch .theme .thumbnailBox span em { display:inline-block; width:12px; height:16px; background:url('../img/set_pickat_domastic_720.png') -180px -56px no-repeat; -webkit-background-size:563px; background-size:563px; position:relative; bottom:-3px; margin:0 3px 0 10px; }
.unifiedSearch .theme .text { display:table; height:54px; font-size:15px; width:100%; }
.unifiedSearch .theme .text em { display:table-cell; text-align:center; vertical-align:middle; }
.unifiedSearch .theme ol li.noData { background:#F2F2F2; }
.unifiedSearch .theme ol li.noData .text { color:#b2b2b2; text-shadow:1px 1px 1px #FFF; }

.unifiedSearch .place { width:100%; overflow:hidden; }
.unifiedSearch .place dl { border-bottom:1px solid #ccc; position:relative; padding:10px 0 0 136px; }
.unifiedSearch .place dl.noImage { padding-left:0; min-height:0; }
.unifiedSearch .place dl .thumb { position:absolute; left:0; top:0; display:block; height:100%; width:136px; background-position:50%; background-repeat:no-repeat; -webkit-background-size:cover; background-size:cover; }
.unifiedSearch .place dl dt, .unifiedSearch .place dl dd { -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; padding:0 8px 0 12px; }
.unifiedSearch .place dl dt { font-size:18px; color:#464646; margin:0 0 8px; font-weight: bold;}
.unifiedSearch .place .desc { color:#808080; margin:0 0 8px; }
.unifiedSearch .place .addressInfo { padding-bottom:10px; position:relative; color:#AAA; }
.unifiedSearch .place .addressInfo em.poiType { width:17px; height:17px; display:inline-block; text-indent:-1000em; overflow:hidden; position:relative; margin-bottom:-2px; }
.unifiedSearch .place .addressInfo:after { content:''; display:inline-block; width:95%; height:1px; background:#EDEDED; position:absolute; left:50%; -webkit-transform:translateX(-50%); -moz-transform:trnaslateX(-50%); transform:translateX(-50%); bottom:0; }
.unifiedSearch .place .subInfo { position:relative; padding:0 0 5px; color:#AAA; min-width:217px; }
.unifiedSearch .place .subInfo:after { visibility:hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
.unifiedSearch .place .subInfo ul { padding:5px 0 0; float:right; width:217px; display:table; }
.unifiedSearch .place .subInfo ul li { border-right:1px solid #EDEDED; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; height:24px; padding:0; font-size:11px; display:table-cell; vertical-align:middle; text-align:center; }
.unifiedSearch .place .subInfo ul li:before { content:''; display:inline-block; background:url('../img/set_pickat_domastic_720.png') no-repeat; -webkit-background-size:563px; -moz-background-size:563px; background-size:563px; position:relative; margin:0 3px -4px 0; }
.unifiedSearch .place .subInfo ul li:last-child { border:0; }
.unifiedSearch .place .subInfo ul li.typePick:before { width:26px; height:13px; background-position:-204px -52px; } 
.unifiedSearch .place .subInfo ul li.typeFavorite:before { width:15px; height:13px; background-position:-204px -68px; margin-bottom:-3px; } 
.unifiedSearch .place .subInfo ul li.typeGood:before { width:14px; height:15px; background-position:-204px -88px; } 

.unifiedSearch .place .noResult { text-align:center; min-height:0; padding:50px 0; color:#909090; }
.unifiedSearch .place .noResult p { position:static; left:0; top:0; -webkit-transform:none; -moz-transform:none; transform:none; font-size:16px; }
.unifiedSearch .place .noResult p span { font-weight:normal; }
.unifiedSearch .place .noResult p:before { display:none;}

.listKeywordSuggest li { border-bottom:1px solid #CCC; line-height:48px; font-size:16px; }
.listKeywordSuggest a { display:block; width:100%; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; padding:0 0 0 19px; }
.listKeywordSuggest em { display:inline-block; text-indent:-1000em; overflow:hidden; background:url('../img/set_pickat_domastic_720.png') no-repeat; -webkit-background-size:563px; -moz-background-size:563px; background-size:563px; position:relative; margin:0 6px -5px 0; width:16px; height:19px; }
.listKeywordSuggest em.poi { background-position:-239px -52px; }
.listKeywordSuggest em.theme { background-position:-260px -52px; }

.searchResult .noResult { position:relative; width:100%; height:100%; min-height:400px; white-space:nowrap; }
.searchResult .noResult p { position:absolute; left:50%; top:50%; -webkit-transform:translate(-50%,-50%);  text-align:center; font-size:19px; color:#6A6A6A; }
.searchResult .noResult p:before { content:''; width:58px; height:61px; display:block; margin:0 auto 25px; background:url('../img/set_pickat_domastic_720.png') -368px -37px no-repeat; -webkit-background-size:563px; background-size:563px; }
.searchResult .noResult p span { font-weight:bold; }
.currentLocation { line-height:47px; font-size:13px; padding:0 0 0 43px; position:relative; border-bottom:1px solid #8C8C8C; background:#FFF; }
.currentLocation:before { content:''; display:block; width:22px; height:22px; background:url('../img/set_pickat_domastic_720.png') -475px -20px no-repeat; -webkit-background-size:563px; background-size:563px; position:absolute; left:13px; top:50%; margin:-11px 0 0; }

.footer { width:100%; background:#DDD; height:55px; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; padding:11px 12px 0 12px; box-shadow:inset 0 9px 10px -8px #999; }
.footer .appDownBtn { width:100%;display:block;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;padding:8px 0;border:1px solid #CF8D80;border-radius:5px;overflow:hidden;box-shadow:0 1px 10px #BBB;background:rgba(234,71,39, 0.9);background:-webkit-linear-gradient(top, #f46448 0%,#ea4626 100%);text-align:center;color:#FFF !important;font-size:14px;margin:0;}
.footer .appDownBtn:hover { color:#FFF; }
.footer .appDownBtn .ui-btn-inner, .footer .appDownBtn .ui-btn-text { border-radius:0; padding:0; background:none; border:0; }
.footer .appDownBtn em { display:inline-block; width:47px; height:16px; text-align:left; background:url('../img/bg_footer_appdownbtn.png'); -webkit-background-size:47px 16px; background-size:47px 16px; text-indent:-1000em; overflow:hidden; margin:0 1px 0 0; }		

.poiType { display:block; text-indent:-1000em; overflow:hidden; left:0; top:1px; background:url('../img/icon/set_icon_small_nor@2x.png') no-repeat; -webkit-background-size:17px 369px; background-size:17px 369px; }
.poiType.large { background-image:url('../img/icon/set_main_business2_icon@2x.png'); background-size:41px 823px; }
	.poiType.type01 { background-position:0 0; }
	.poiType.type02 { background-position:0 -22px; }
	.poiType.type03 { background-position:0 -44px; }
	.poiType.type04 { background-position:0 -66px; }
	.poiType.type05 { background-position:0 -132px; }
	.poiType.type06 { background-position:0 -154px; }
	.poiType.type07 { background-position:0 -176px; }
	.poiType.type08 { background-position:0 -198px; }
	.poiType.type09 { background-position:0 -220px; }
	.poiType.type10 { background-position:0 -242px; }
	.poiType.type11 { background-position:0 -264px; }
	.poiType.type12 { background-position:0 -286px; }
	.poiType.type13 { background-position:0 -308px; }
	.poiType.type14 { background-position:0 -330px; }
	.poiType.type15 { background-position:0 -110px; }
	.poiType.type16 { background-position:0 -88px; }	
	.poiType.type17 { background-position:0 -352px; }

	.poiType.large.type01 { background-position:0 0; }
	.poiType.large.type02 { background-position:0 -46px; }
	.poiType.large.type03 { background-position:0 -92px; }
	.poiType.large.type04 { background-position:0 -138px; }
	.poiType.large.type16 { background-position:0 -184px; }
	.poiType.large.type15 { background-position:0 -230px; }
	.poiType.large.type05 { background-position:0 -276px; }
	.poiType.large.type06 { background-position:0 -322px; }
	.poiType.large.type07 { background-position:0 -368px; }
	.poiType.large.type08 { background-position:0 -414px; }
	.poiType.large.type09 { background-position:0 -460px; }
	.poiType.large.type10 { background-position:0 -506px; }
	.poiType.large.type11 { background-position:0 -552px; }
	.poiType.large.type12 { background-position:0 -598px; }
	.poiType.large.type13 { background-position:0 -644px; }
	.poiType.large.type14 { background-position:0 -690px; }
	.poiType.large.type17 { background-position:0 -736px; }
	.poiType.large.popular { background-position:0 -782px; }

/* E : common Element */
.custom_content { }

.contentBox { border-top:1px solid #8c8c8c; position:relative; }
.contentBox .more { position:absolute; top:6px; right:12px; font-size:12px; display:block; padding:10px 10px 10px 0; color:#999999; }
.contentBox .more:after { content:''; line-height:1; position:absolute; right:0; top:50%; margin-top:-3px; width:4px; height:7px; background:url('../img/set_pickat_domastic_720.png') -558px -1px no-repeat; -webkit-background-size:563px; background-size:563px; }
.contentBox h4 { width:100%; height:44px; line-height:44px; font-size:15px; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; padding:0 0 0 15px; color:#545454; background:url('../img/bg_gradient_02.png') 0 40% repeat-x; }
.contentMain .viewPlaceByType .more { top:9px; }
.contentMain .viewPlaceByType .more:after { margin-top:-3px; }

.currentPlace_HotTheme { border-top:none; }
.currentPlace_HotTheme .slideWraper { height:164px; position:relative; overflow:hidden; background:url('../img/img_no_image_large.png') 50% 50% no-repeat; -webkit-background-size:cover; background-size:cover; border-bottom:1px solid #CCC; }
.currentPlace_HotTheme .slideWraper a { display:block; height:100%; padding:12px 0 0 9px; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; background-repeat:no-repeat; background-position:50% 50%; -webkit-background-size:cover; background-size:cover; color:#FFF; }
.currentPlace_HotTheme .slideWraper a:after { content:''; display:block; width:100%; height:100%; position:absolute; left:0; top:0; z-index:1;
background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.3)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
background:-o-linear-gradient(top, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
background:-ms-linear-gradient(top, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
background:linear-gradient(to bottom, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 100%); /* W3C */
}
.currentPlace_HotTheme .swiper-container { height:164px; position:relative; overflow:hidden; background:url('../img/img_no_image_large.png') 50% 50% no-repeat; -webkit-background-size:cover; background-size:cover; border-bottom:1px solid #CCC; }
.currentPlace_HotTheme .swiper-slide a { display:block; height:100%; padding:12px 0 0 9px; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; background-repeat:no-repeat; background-position:50% 50%; -webkit-background-size:cover; background-size:cover; color:#FFF; position:relative; }
.currentPlace_HotTheme .swiper-slide a:after { content:''; display:block; width:100%; height:100%; position:absolute; left:0; top:0; z-index:1;
background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.3)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
background:-o-linear-gradient(top, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
background:-ms-linear-gradient(top, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
background:linear-gradient(to bottom, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 100%); /* W3C */
}

.currentPlace_HotTheme .slideWraper span { display:block; text-shadow:1px 1px 1px rgba(0,0,0,0.8); font-size:29px; margin:0 0 6px; line-height:1.2; z-index:2; position:absolute; }
.currentPlace_HotTheme .slideWraper span em { font-size:12px; display:block; }
.currentPlace_HotTheme .slideWraper span .iconPick { display:inline-block; width:28px; height:14px; text-indent:-1000em; overflow:hidden; background:url('../img/set_pickat_domastic_720.png') -99px -31px no-repeat; -webkit-background-size:563px; background-size:563px; margin:0 0 0 8px; position:relative; bottom:0; }
.currentPlace_HotTheme .swiper-slide span { display:block; text-shadow:1px 1px 1px rgba(0,0,0,0.8); font-size:29px; margin:0 0 6px; line-height:1.2; z-index:2; position:absolute; }
.currentPlace_HotTheme .swiper-slide span em { font-size:12px; display:block; }
.currentPlace_HotTheme .swiper-slide span .iconPick { display:inline-block; width:28px; height:14px; text-indent:-1000em; overflow:hidden; background:url('../img/set_pickat_domastic_720.png') -99px -31px no-repeat; -webkit-background-size:563px; background-size:563px; margin:0 0 0 8px; position:relative; bottom:0; }
.currentPlace_HotTheme .pagination { width:100%; text-align:center; position:absolute; bottom:6px; }
.currentPlace_HotTheme .swiper-pagination-switch { text-align:left; text-indent:-1000em; overflow:hidden; display:inline-block; width:12px; height:9px; background:url('../img/set_pickat_domastic_720.png') -368px 0 no-repeat; -webkit-background-size:563px; background-size:563px; }
.currentPlace_HotTheme .swiper-active-switch { background-position:-356px 0; }

.contentSub .currentPlace_HotTheme h4 { color:#545454; }
.contentSub .currentPlace_HotTheme h4 em { color:#f24726; }
.contentSub .currentPlace_HotTheme .sortByOptions { top:5px; }
.contentSub .currentPlace_HotTheme .list { border-top:1px solid #8C8C8C; }
.contentSub .currentPlace_HotTheme .list li { border-bottom:1px solid #8C8C8C; }
.contentSub .currentPlace_HotTheme .list li:last-child { border:none; }
.contentSub .currentPlace_HotTheme .list .slideWraper { height:204px; border-bottom:none; }

.contentSub .currentPlace_HotTheme .peopleInfoBox { width:100%; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; padding:0 14px; height:56px; line-height:56px; }
.contentSub .currentPlace_HotTheme .peopleInfoBox dl { position:relative; background:url('../img/bg_dotline_01@2x.png') 0 bottom repeat-x; color:#3e3e3e; padding-left:42px; }
.contentSub .currentPlace_HotTheme .peopleInfoBox dl dt { font-size:14px; margin:0 0 0 6px; }
.contentSub .currentPlace_HotTheme .peopleInfoBox dl dt em { color:#AEAEAE; }
.contentSub .currentPlace_HotTheme .peopleInfoBox dl dd { position:absolute; width:42px; height:42px; display:block; left:0; top:50%; margin-top:-21px; background-repeat:no-repeat; background-position:50%; -webkit-background-size:cover; background-size:cover; }
.contentSub .currentPlace_HotTheme .peopleInfoBox dl dd em { display:block; width:100%; height:100%; background:url('../img/thumb_default_wrap@2x.png') 50% no-repeat; -webkit-background-size:42px; background-size:42px; }

.viewPlaceByType { border-bottom:1px solid #8C8C8C; }
.viewPlaceByType ul { border-top:1px solid #DBDBDB; }
.viewPlaceByType ul:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
.viewPlaceByType ul li { float:left; width:20%; background:#EFEFEF; }
.viewPlaceByType ul li a { display:block; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; width:100%; height:100%; border-left:1px solid #FFF; border-right:1px solid #DCDCDC; font-size:11px; padding:5px 0; }
.viewPlaceByType ul li:nth-of-type(1) a { border-left:0; }
.viewPlaceByType ul li:last-child a { border-right:0; }
.viewPlaceByType ul li em.poiType { display:block; width:41px; height:41px; margin:0 auto; }
.viewPlaceByType ul li a span { display:block; text-align:center; margin:4px 0 0;  }

.popularPeople ul { border-top:1px solid #CCC; }
.popularPeople ul li { background:#F7F7F7; border-bottom:1px solid #CCC; }
.popularPeople ul li:last-child { border-bottom:0; }
.popularPeople ul li a { width:100%; display:table; font-size:13px; color:#3D3D3D; }
.popularPeople ul li span { display:table-cell; padding:0; margin:0; }
.popularPeople ul li span.imageWrap { width:65px; height:65px; padding:0; background:#FFF url('../img/thumb_default_720.png') 50% 50% no-repeat; -webkit-background-size:cover; background-size:cover; position:relative; overflow:hidden; }
.popularPeople ul li span.imageWrap span { display:block; width:100%; height:100%; -webkit-background-size:cover; background-size:cover; background-position:50% 50%; background-repeat:no-repeat; }
.popularPeople ul li span.imageWrap span.wrapper { position:relative; }
.popularPeople ul li.partner span .special { color:#f04e23; }
.popularPeople .desc { padding:0 10px 0 11px; overflow:hidden; text-overflow:ellipsis; vertical-align:middle; }
.popularPeople .desc em { font-size:15px; margin:0 0 4px; display:block; }
.popularPeople ul li .icon_partner { display:none; width:31px; height:14px; text-indent:-1000em; overflow:hidden; position:absolute; right:2px; bottom:2px; background:url('../img/set_pickat_domastic_720.png') -382px 0 no-repeat; -webkit-background-size:563px; background-size:563px; margin:0; }
.popularPeople ul li.partner .icon_partner { display:block; }
.popularPeople a.viewMore { font-size:18px; }
.popularPeople a.viewMore span { padding:0 0 0 50px; display:inline-block; }

.contentSub .popularPeople, .contentSub .popularPeople ul { border-top:none; }
.contentSub .popularPeople dl { display:table-cell; vertical-align:middle; padding:0 10px 0 11px; color:#3e3e3e; }
.contentSub .popularPeople dl dt { font-size:18px; margin:0 0 2px; }
.contentSub .popularPeople dl .friendInfo { color:#b2b2b2; margin:8px 0 0; }
.contentSub .popularPeople dl .friendInfo span { display:inline; color:#f24726; }

.mainSubBanner a { display:block; }
.mainSubBanner img { width:100%; }

.searchResult .viewMoreBtn { display:block; overflow:hidden; text-indent:-1000em; margin:0; padding:0; background:#F5F5F5 url('../img/bg_detailview_morebtn.png') 50% 50% no-repeat; -webkit-border-radius:0; border-radius:0; -webkit-background-size:13px 8px; background-size:13px 8px; border:none; min-height:20px; }

.categoryList { font-size:16px; }
.categoryList li { border-bottom:1px solid #ccc; }
.categoryList li a { width:100%; display:block; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; height:47px; line-height:47px; padding:0 10px 0 15px; color:#3D3D3D; }
.categoryList li a.current { position:relative; padding-left:31px; }
.categoryList li a.current:before { content:''; display:block; width:15px; height:20px; background:url('../img/set_pickat_domastic_720.png') -428px 0 no-repeat; -webkit-background-size:563px; background-size:563px; position:absolute; top:50%; left:10px; margin-top:-10px; }
.categoryList dl dt a { position:relative; }
.categoryList dl dt a em.poiType { display:inline-block; width:31px; height:31px; position:relative; margin:0 8px -9px 0; -webkit-background-size:31px; background-size:31px; background-repeat:no-repeat; background-position:50% 50%; }
.categoryList dl dt a .poiType.type01 { background-image:url('../img/icon/icon74x74_type01.png'); } 
.categoryList dl dt a .poiType.type02 { background-image:url('../img/icon/icon74x74_type02.png'); } 
.categoryList dl dt a .poiType.type03 { background-image:url('../img/icon/icon74x74_type03.png'); } 
.categoryList dl dt a .poiType.type04 { background-image:url('../img/icon/icon74x74_type04.png'); } 
.categoryList dl dt a .poiType.type05 { background-image:url('../img/icon/icon74x74_type05.png'); } 
.categoryList dl dt a .poiType.type06 { background-image:url('../img/icon/icon74x74_type06.png'); } 
.categoryList dl dt a .poiType.type07 { background-image:url('../img/icon/icon74x74_type07.png'); } 
.categoryList dl dt a .poiType.type08 { background-image:url('../img/icon/icon74x74_type08.png'); } 
.categoryList dl dt a .poiType.type09 { background-image:url('../img/icon/icon74x74_type09.png'); } 
.categoryList dl dt a .poiType.type10 { background-image:url('../img/icon/icon74x74_type10.png'); } 
.categoryList dl dt a .poiType.type11 { background-image:url('../img/icon/icon74x74_type11.png'); } 
.categoryList dl dt a .poiType.type12 { background-image:url('../img/icon/icon74x74_type12.png'); } 
.categoryList dl dt a .poiType.type13 { background-image:url('../img/icon/icon74x74_type13.png'); } 
.categoryList dl dt a .poiType.type14 { background-image:url('../img/icon/icon74x74_type14.png'); }
.categoryList dl dt a .poiType.type15 { background-image:url('../img/icon/icon74x74_type15.png'); }
.categoryList dl dt a .poiType.type16 { background-image:url('../img/icon/icon74x74_type16.png'); }
.categoryList dl dt a .poiType.type17 { background-image:url('../img/icon/icon74x74_type17.png'); }

.categoryList dl dt a:after { content:''; width:14px; height:9px; background:url('../img/set_pickat_domastic_720.png') -472px 0 no-repeat; position:absolute; top:50%; right:23px; margin-top:-4px; -webkit-background-size:563px; background-size:563px; }
.categoryList li dl dd { display:none; background:#ebebeb; position:relative; padding:13px 0; }
.categoryList dd ul:after { visibility:hidden; display:block; font-size:0; content:" "; clear:both; height:0; }
.categoryList dd li { -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; padding:0 13px 6px 10px; border:0; float:left; width:50%; }
.categoryList dd li:nth-child(odd) { padding:0 10px 0 13px; }
.categoryList dd li:nth-child(odd):last-child { padding-bottom:0; }
.categoryList dd li:nth-child(even):last-child { padding-bottom:0; }
.categoryList dd:before { content:''; display:block; position:absolute; width:100%; height:3px;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.2)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
	background:-o-linear-gradient(top, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
	background:-ms-linear-gradient(top, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
	background:linear-gradient(to bottom, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0) 100%); /* W3C */
	top:0;
}
.categoryList dl.noSub dt a:after { display:none; }
.categoryList dl.selected dt a:after { background-position:-488px 0; }
.categoryList dl.selected dd { display:block; }
.categoryList dl.noSub.selected dd { display:none; }
.categoryList dl dd a { border:1px solid #909090; font-size:15px; height:33px; line-height:33px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; -webkit-box-shadow:0 1px 2px rgba(125,125,125,0.3); box-shadow:0 1px 2px rgba(125,125,125,0.3);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(246,246,246,1))); /* Chrome,Safari4+ */
	background:-o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 100%); /* Opera 11.10+ */
	background:-ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 100%); /* IE10+ */
	background:linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 100%); /* W3C */
}

a.viewMore { display:block; width:100%; text-align:center; color:#f24726 !important; font-size:18px; padding:11px 0; background:#FFF; }
a.viewMore.hidden { display:none; }
a.viewMore span { padding:0 0 0 50px; background:url('../img/bg_view_more.png') 0 1px no-repeat; -webkit-background-size:38px 15px; background-size:38px 15px; display:inline-block; font-weight:bold; }
.categoryList .viewMore { height:auto; line-height:1; padding:11px 0; }

/* map view */
.mapViewWrapper { width:100%; position:relative; }
.mapViewWrapper .mpaLevelController { position:absolute; right:10px; top:10px; width:38px; height:87px; background:url('../img/set_pickat_domastic_720.png') -89px -53px no-repeat; -webkit-background-size:563px; background-size:563px; }
.mapViewWrapper .mpaLevelController button { display:block; width:100%; height:50%; background:none; }

.mapViewWrapper .jumpCurrentPoint { width:50px; height:50px; position:absolute; left:10px; top:10px; background:url('../img/set_pickat_domastic_720.png') 0 -95px no-repeat; -webkit-background-size:563px; background-size:563px; }
.mapViewWrapper .jumpCurrentPoint button { display:block; background:none; width:100%; height:100%; text-indent:-1000em; overflow:hidden; }

.mapViewWrapper .marker { position:absolute; width:41px; height:47px; background:url('../img/set_pickat_domastic_720.png') -140px -58px no-repeat; -webkit-background-size:563px; background-size:563px; }
.mapViewWrapper .marker button { display:block; width:82%; height:90%; background:none; }
.mapViewWrapper .marker.current { background-position:-140px -109px; }

.mapViewWrapper .nameBubble { position:absolute; white-space:nowrap; padding:8px 11px; background:rgba(255,255,255,0.9); -webkit-border-radius:3px; border-radius:3px; -webkit-box-shadow:1px 1px 2px rgba(99,99,99,0.5); box-shadow:1px 1px 4px rgba(99,99,99,0.5); border:1px solid rgba(75,75,75,0.1); }
.mapViewWrapper .nameBubble:before { content:''; display:block; width:12px; height:11px; text-indent:-1000em; overflow:hidden; position:absolute; left:50%; bottom:-11px; margin:0 0 0 -6px; background:url('../img/bg_map_point_tail.png') 0 0 no-repeat; -webkit-background-size:12px 11px; background-size:12px 11px; }

.mapViewWrapper .locationPoint .poiInfo { position:absolute; width:35px; height:39px; left:50%; background:url('../img/pin_orange.png') 0 0 no-repeat; -webkit-background-size:35px 39px; background-size:35px 39px; }
.mapViewWrapper .locationPoint .poiInfo span { display:block; margin:4px auto 0; width:25px; height:25px; background-image:url('../img/icon/set_pin_orange_business.png'); background-repeat:no-repeat; }
.mapViewWrapper .findWay { position:absolute; bottom:10px; width:100%; text-align:center; }
.mapViewWrapper .findWay .ui-btn { -webkit-border-radius:1em; border-radius:1em; display:inline-block; background:rgba(85,85,85,0.9); background:-webkit-linear-gradient(top, rgba(85,85,85,0.8), rgba(52,52,38,0.9)); border-color:rgba(85,85,85,0.3); -webkit-text-shadow:none; text-shadow:none; }
.mapViewWrapper .findWay .ui-btn-inner { -webkit-border-radius:1em; border-radius:1em; border-color:rgba(85,85,85,0.3); }
.mapViewWrapper .findWay .ui-btn-text { color:#FFF; padding:8px 39px 6px; }

#footer.light {width:100%; border-top:1px solid #bfbfbf; background-color:#f3f3f3; text-align:center; font-size:15px; font-family:Helvetica;}
#footer.light .foot_wrap {padding:0 0 20px 0; border-top:1px solid #e2e2e2;}    
#footer.light .bt_wrap {margin:17px 0 15px;}
#footer.light p.home { width:100%; margin:13px 0 0 0; height:10px; font-size:14px; letter-spacing:-1px;}
#footer.light p.home a { color:#787878; text-shadow:none; }
#footer.light p.privacy {width:100%; margin:12px 0 0 0; height:10px; font-size:12px; letter-spacing:-1px;}
#footer.light p.privacy a {color:#787878;}
#footer.light p span.bar {padding:0 8px 0 7px; font-size:11px; color:#d1d1d1;}
#footer.light p.copyright {width:100%; height:8px; margin-top:17px; font-size:9px; letter-spacing:0;}    
#footer.light button {height:26px; padding:1px 8px 0 8px; border:1px solid #aaaaaa; font-size:90%; color:#222; letter-spacing:-1px; text-align:center; white-space:nowrap; 
	box-shadow:0 1px 0 rgba(0,0,0, .1); -webkit-box-shadow:0 1px 1px rgba(0,0,0, .15); -moz-box-shadow:0 1px 0 rgba(0,0,0, .1); 
	background-color:#fcfcfc;
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(235,235,235,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(235,235,235,1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(235,235,235,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(235,235,235,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(235,235,235,1) 100%);
	cursor:pointer;
}
#footer.light button, #footer.light button span {line-height:22px;text-shadow:0px 1px 2px rgba(255, 255, 255, 1);text-indent:0 !important;}
* html #footer.light ul li {display:inline;}
*:first-child+html #footer.light ul li {display:inline;}
* html #footer.light button {margin:0 1px; padding:0;}
*:first-child+html #footer.light button {margin:0 1px; padding:0;}

#footer.light .bt_wrap a { display:inline-block; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; height:26px; padding:1px 8px 0 8px; border:1px solid #aaaaaa; font-size:90%; color:#222; letter-spacing:-1px; text-align:center; white-space:nowrap; 
	box-shadow:0 1px 0 rgba(0,0,0, .1); -webkit-box-shadow:0 1px 1px rgba(0,0,0, .15); -moz-box-shadow:0 1px 0 rgba(0,0,0, .1); 
	background-color:#fcfcfc;
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(235,235,235,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(235,235,235,1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(235,235,235,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(235,235,235,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(235,235,235,1) 100%);
	cursor:pointer;
}
#footer.light .bt_wrap a, #footer.light .bt_wrap a span {line-height:22px;text-shadow:0px 1px 2px rgba(255, 255, 255, 1);text-indent:0 !important;}
* html #footer.light .bt_wrap a {margin:0 1px; padding:0;}
*:first-child+html #footer.light .bt_wrap a {margin:0 1px; padding:0;}

#loading { height:46px; text-align:center; padding:10px 0 5px; }
#loading.hidden { display:none; }
#loading .loadingImg { width:32px; height:46px; }

#loading_top, #loading_bottom { height:46px; text-align:center; padding:10px 0 5px; }
#loading_top.hidden, #loading_bottom.hidden { display:none; }
#loading_top .loadingImg, #loading_bottom .loadingImg { width:32px; height:46px; }

@media only all and (max-width:320px) {

	.smartbanner{margin-top:53px;}

	.header { height:43px; -webkit-background-size:11px 43px; background-size:11px 43px; }
	.header h1 { background-position:0 4px; width:47px; height:22px; -webkit-background-size:500px; background-size:500px; margin:10px 0 0 8px; }
	.header em { height:31px; width:1px; background:rgba(197,197,197,0.6); border-right:1px solid #FFF; overflow:hidden; text-indent:-1000em; overflow:hidden; float:left; margin:5px 11px 0 10px; }
	.header h2 { width:58px; height:22px; background-position:-20px -26px; -webkit-background-size:500px; background-size:500px; float:left; margin:10px 0 0; }
	.header .funcBtn { right:11px; top:10px; width:22px; height:22px; background-position:-67px 2px; -webkit-background-size:500px; background-size:500px; }

	.sortByOptions { right:11px; top:4px; font-size:13px; }
	.sectionHeader { height:38px; padding:8px 0 0; }
	.sectionHeader h3 { font-size:20px; }
	.sectionHeader a { height:22px; -webkit-background-size:500px; background-size:500px; margin-top:-12px; top:50%; }
	.sectionHeader a.backButton { width:25px; left:13px; top:50%; background-position:4px -50px; }
	.sectionHeader a.backButton.typeText { padding:5px 0 0; }
	.sectionHeader a.mapButton { width:30px; height:32px; margin-top:-16px; right:9px; background-position:-16px -48px; }
	.sectionHeader a.confirm { right:10px; padding:5px 0 0; }
	.sectionHeader a.favorite { width:26px; height:26px; right:13px; background-position:-45px -47px; margin-top:-14px; }

	.pickatSearch { padding:5px; }
	.pickatSearch button { -webkit-background-size:500px; background-size:500px; }
 
	.pickatSearch .searchInput input { padding:5px 35px 3px 15px; -webkit-border-radius:24px; border-radius:24px; font-size:13px; }
	.pickatSearch .searchInput .resetText { width:17px; height:17px; background-position:-398px 0; right:40px; }
	.pickatSearch .searchInput .searchBtn { right:-1px; top:0; width:27px; height:27px; background-position:-276px 0; }
	.pickatSearch .searchInput.focused { padding-right:44px; }
	.pickatSearch .searchInput .searchCancel { width:41px; height:27px; background-position:-274px -33px; line-height:27px; -webkit-background-size:500px; background-size:500px; font-size:13px; }
	.pickatSearch .poiSetting { position:relative; width:100%; height:21px; margin:5px 0 0; padding:0 62px 0 63px; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; }
	.pickatSearch .poiSetting .currentPoiText { display:inline-block; font-size:11px; white-space:nowrap; text-overflow:ellipsis; height:21px; width:187px; overflow:hidden; }
	.pickatSearch .poiSetting .currentPoiText:before { width:12px; height:15px; background-position:0 -31px; -webkit-background-size:500px; background-size:500px; bottom:-3px; margin:0 5px 0 0; }
	.pickatSearch .poiSetting button { height:21px; width:56px; }
	.pickatSearch .poiSetting .currentPosition { background-position:-198px 0; }
	.pickatSearch .poiSetting .changePosition { background-position:-133px 0; }

	.pickatSearch.lessSearch { padding-top:8px }
	.pickatSearch.localSearch .resetText { right:8px; top:5px; }

	.searchResult .listByZoneName { font-size:15px; }
	.searchResult .listByZoneName li a { height:48px; line-height:48px; padding:0 10px 0 13px; }
	.searchResult .listByZoneName li a.current { padding-left:27px; }
	.searchResult .listByZoneName li a.current:before { width:13px; height:18px; background-position:-380px 0; -webkit-background-size:500px; background-size:500px; left:8px; margin-top:-9px; }
	.searchResult .listByZoneName dl dt a:after { content:''; width:12px; height:8px; background-position:-419px 0; right:23px; margin-top:-4px; -webkit-background-size:500px; background-size:500px; }
	.searchResult .listByZoneName dd:before { height:3px; }
	.searchResult .listByZoneName dl.selected dt a:after { background-position:-434px 0; }

	.searchResult .searchedAOIList li a { min-height:47px; padding:6px 10px 0 19px; font-size:16px; }
	.searchResult .searchedAOIList li span { font-size:13px; margin:3px 0 0; }

	.unifiedSearch .selectedLocation { height:42px; line-height:42px; padding-left:7px; font-size:12px; }
	.unifiedSearch .selectedLocation:before { width:12px; height:15px; background-position:0 -31px; -webkit-background-size:500px; background-size:500px; bottom:-2px; margin-right:4px; }
	.searchResult .unifiedSearch h4 { line-height:41px; font-size:14px; }
	.unifiedSearch .result .more { right:10px; height:39x; font-size:12px; display:block; padding:0 10px 0 0; color:#999999; line-height:39px; }
	.unifiedSearch .result .more:after { position:absolute; margin-top:-4px; width:4px; height:6px; background-position:-495px -1px; -webkit-background-size:500px; background-size:500px; }
	.unifiedSearch .theme .thumbnailBox { height:87px; }
	.unifiedSearch .theme .text { height:48px; font-size:14px; }
	
	.unifiedSearch .place dt,
	.unifiedSearch .place dd.desc { margin-bottom:7px; }
	.unifiedSearch .place dd.addressInfo { font-size:11px; }

	.unifiedSearch .place .subInfo { min-width:180px; }
	.unifiedSearch .place .subInfo ul { width:180px; }
	.unifiedSearch .place .subInfo ul li { height:21px; font-size:9px; }
	.unifiedSearch .place .subInfo ul li:before { -webkit-background-size:500px; background-size:500px; }
	.unifiedSearch .place .subInfo ul li.typePick:before { width:23px; height:12px; background-position:-181px -46px; margin-top:-5px; } 
	.unifiedSearch .place .subInfo ul li.typeFavorite:before { width:13px; height:12px; background-position:-181px -60px; margin-top:-6px; }
	.unifiedSearch .place .subInfo ul li.typeGood:before { width:13px; height:13px; background-position:-181px -78px; margin-top:-7px; }
	.unifiedSearch .place .noResult p { font-size:14px; }

	.listKeywordSuggest li { line-height:42px; font-size:14px; }
	.listKeywordSuggest a { padding:0 0 0 17px; }
	.listKeywordSuggest em { -webkit-background-size:500px; -moz-background-size:500px; background-size:500px; margin:0 5px -4px 0; width:14px; height:16px; }
	.listKeywordSuggest em.poi { background-position:-211px -46px; }
	.listKeywordSuggest em.theme { background-position:-231px -46px; }

	a.viewMore,.popularPeople a.viewMore { font-size:15px; }	
	a.viewMore span { -webkit-background-size:34px 13px; background-size:34px 13px; }
	.popularPeople a.viewMore span { padding:0 0 0 44px; }
	.contentSub .popularPeople dl dt { font-size:16px; margin:0 0 1px; }
	.contentSub .popularPeople dl .friendInfo { margin:5px 0 0 0; }

	.searchResult .noResult { min-height:260px; }
	.searchResult .noResult p { font-size:18px; }
	.searchResult .noResult p:before { width:58px; height:61px; margin-bottom:23px; background-position:-327px -33px; -webkit-background-size:500px; background-size:500px; }	

	.currentLocation { line-height:42px; font-size:12px; padding:0 0 0 41px; }
	.currentLocation:before { width:20px; height:20px; background-position:-422px -18px; -webkit-background-size:500px; background-size:500px; position:absolute; left:11px; margin:-10px 0 0; }

	.footer { height:55px; padding:11px 12px 0 12px; box-shadow:inset 0 9px 10px -8px #999; }
	.footer .appDownBtn { padding:8px 0; }
	.footer .appDownBtn em { width:47px; height:16px; background:url('../img/bg_footer_appdownbtn.png'); -webkit-background-size:47px 16px; margin:0 1px 0 0; }		

	.poiType { }
		.poiType.type01 { background-position:0 0; }
		.poiType.type02 { background-position:0 -22px; }
		.poiType.type03 { background-position:0 -44px; }
		.poiType.type04 { background-position:0 -66px; }
		.poiType.type05 { background-position:0 -132px; }
		.poiType.type06 { background-position:0 -154px; }
		.poiType.type07 { background-position:0 -176px; }
		.poiType.type08 { background-position:0 -198px; }
		.poiType.type09 { background-position:0 -220px; }
		.poiType.type10 { background-position:0 -242px; }
		.poiType.type11 { background-position:0 -264px; }
		.poiType.type12 { background-position:0 -286px; }
		.poiType.type13 { background-position:0 -308px; }
		.poiType.type14 { background-position:0 -330px; }
		.poiType.type15 { background-position:0 -110px; }
		.poiType.type16 { background-position:0 -88px; }	
		.poiType.type17 { background-position:0 -352px; }

	.poiType.large { -webkit-background-size:38px 763px; background-size:38px 763px; }
		.poiType.large.type01 { background-position:0 0; }
		.poiType.large.type02 { background-position:0 -42px; }
		.poiType.large.type03 { background-position:0 -86px; }
		.poiType.large.type04 { background-position:0 -128px; }
		.poiType.large.type16 { background-position:0 -170px; }
		.poiType.large.type15 { background-position:0 -213px; }
		.poiType.large.type05 { background-position:0 -256px; }
		.poiType.large.type06 { background-position:0 -299px; }
		.poiType.large.type07 { background-position:0 -341px; }
		.poiType.large.type08 { background-position:0 -384px; }
		.poiType.large.type09 { background-position:0 -426px; }
		.poiType.large.type10 { background-position:0 -469px; }
		.poiType.large.type11 { background-position:0 -512px; }
		.poiType.large.type12 { background-position:0 -554px; }
		.poiType.large.type13 { background-position:0 -597px; }
		.poiType.large.type14 { background-position:0 -639px; }
		.poiType.large.type17 { background-position:0 -682px; }
		.poiType.large.popular { background-position:0 -725px; }

	/* E : common Element */
	.contentBox h4 { height:39px; line-height:39px; font-size:14px; padding:0 0 0 15px; }	
	.contentBox .more { top:11px; font-size:12px; padding:0 10px 0 0; }
	.contentBox .more:after { position:absolute; margin-top:-1px; width:4px; height:6px; background-position:-495px -1px; -webkit-background-size:500px; background-size:500px; }
	.contentMain .viewPlaceByType .more { top:12px; }
	.contentMain .viewPlaceByType .more:after { margin-top:-2px; }

	.currentPlace_HotTheme .slideWraper { height:164px; }
	.currentPlace_HotTheme .slideWraper a { padding:12px 0 0 9px; }
	.currentPlace_HotTheme .slideWraper span { font-size:29px; margin:0 0 6px; line-height:1.2; }
	.currentPlace_HotTheme .slideWraper span em { font-size:12px; }
	.currentPlace_HotTheme .slideWraper span .iconPick { width:25px; height:12px; background-position:-88px -28px; -webkit-background-size:500px; background-size:500px; margin:0 0 0 10px; bottom:-2px; }
	.currentPlace_HotTheme .slideWraper .paging { bottom:5px; }
	.currentPlace_HotTheme .slideWraper .paging em { width:8px; height:7px; background-position:-327px 0; -webkit-background-size:500px; background-size:500px; }
	.currentPlace_HotTheme .slideWraper .paging em.current { background-position:-317px 0; }
	.contentSub .currentPlace_HotTheme .sortByOptions { top:3px; }
	.contentSub .currentPlace_HotTheme .list .slideWraper { height:181px; }
	.contentSub .currentPlace_HotTheme .peopleInfoBox { height:50px; line-height:50px; }
	.contentSub .currentPlace_HotTheme .peopleInfoBox dl dt { font-size:13px; margin-left:4px; }
	.contentSub .currentPlace_HotTheme .peopleInfoBox dl dd { width:37px; height:37px; margin-top:-18px; }
	.contentSub .currentPlace_HotTheme .peopleInfoBox dl dd em { -webkit-background-size:37px; background-size:37px; }

	.viewPlaceByType ul li a { font-size:11px; padding:5px 0; }
	.viewPlaceByType ul li em.poiType { width:38px; height:38px; }
	.viewPlaceByType ul li a span { margin:4px 0 0;  }

	.popularPeople ul li a { font-size:11px; }
	.popularPeople ul li span.imageWrap { width:58px; height:58px; }
	.popularPeople .desc { padding:0 8px 0 9px; }	
	.popularPeople ul li em { font-size:13px; margin:0 0 2px; }
	.popularPeople ul li .icon_partner { width:27px; height:13px; right:2px; bottom:2px; background-position:-340px 0; -webkit-background-size:500px; background-size:500px; margin:0; }

	.categoryList dl dt a em.poiType { width:28px; height:28px; margin:0 5px -7px 0; -webkit-background-size:28px; background-size:28px; }

	.mapViewWrapper .jumpCurrentPoint { width:44px; height:44px; position:absolute; left:10px; top:10px; background-position:0 -84px; -webkit-background-size:500px; background-size:500px; }
}

/* 800px Layout */
@media only screen and (min-width:730px){
	.wrapper, .app_down_load {width:560px !important;margin-left:-280px;left:50% !important;border-left:1px solid #bfbfbf !important;border-right:1px solid #bfbfbf !important;}
	.ui-page, .ui-page .header{width:560px !important;margin-left:-280px;left:50% !important;border-left:1px solid #bfbfbf !important;border-right:1px solid #bfbfbf !important;}
}