/*
	reset jquery mobile default style
*/
.ui-mobile-viewport { -webkit-tap-highlight-color:rgba(0, 0, 0, 0.4); }

.page { padding:0; background:#FFF; }
.header, .footer { background:none; border:none; }
.logo, .subTitle { margin:0; padding:0; text-align:left; }
.custom_content { margin:0; padding:0; border:0; }

.custom_content .ui-btn-corner-all { -webkit-border-radius:4px; border-radius:4px; }

.customUI .ui-btn, .customUI .ui-select { padding:0; margin:0; -webkit-box-sizing:border-box; box-sizing:border-box; }
.customUI .ui-btn-inner { padding:0.4em 0; }
.customUI .ui-select .ui-focus { box-shadow: 0px 1px 3px rgba(0,0,0,.2); -moz-box-shadow: 0px 1px 3px rgba(0,0,0,.2); -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,.2); }
.customUI .ui-select .ui-btn-active {
	border:1px solid #bbb !important;
	background:#d6d6d6;
	text-shadow: 0 1px 0 #fff;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#d0d0d0), to(#dfdfdf)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #d0d0d0, #dfdfdf); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #d0d0d0, #dfdfdf); /* FF3.6 */
	background-image:     -ms-linear-gradient( #d0d0d0, #dfdfdf); /* IE10 */
	background-image:      -o-linear-gradient( #d0d0d0, #dfdfdf); /* Opera 11.10+ */
	background-image:         linear-gradient( #d0d0d0, #dfdfdf);
}
.customUI label { line-height:inherit; }

body { -webkit-touch-callout:none; -webkit-user-select:none; -khtml-user-select:none; -moz-user-select:none; -ms-user-select:none; user-select:none; overflow:hidden;}
/* common elements */
.header { position:relative; top:0; background:#fcfcfc; z-index:100; width:100%; }
.header .titleWrapper { width:100%; height:41px; -webkit-box-shadow:0 1px 3px #CCC; -webkit-box-sizing:border-box; box-sizing:border-box; padding:10px 0 0 0; background:url('../img/bg_bodybackground.png') repeat-x; -webkit-background-size:100% 41px; clear:both; }

.header h1.logo { width:63px; height:22px; overflow:hidden; text-indent:-1000em; background:url('../img/bg_pickat_logo.png') 0 0 no-repeat; -webkit-background-size:63px 22px; display:block; margin:0 0 0 12px; float:left; }
.header h2.subTitle { font-weight:normal; font-size:18px; margin:0; padding:0; border-bottom:1px solid #8c8c8c; padding:11px 0; color:#f24726; text-shadow:-1px 0 0 #ca2e01; min-height:auto; }
	.header h2.subTitle a { display:block; width:45px; height:29px; position:absolute; right:0; bottom:5px; background:url('../img/bg_movemap_btn.png') 50% 50% no-repeat; -webkit-background-size:20px 28px; border-left:1px solid #DCDCDC; }
.header .appDownBtn { width:89px; height:25px; margin:3px 10px 0 0; float:right; text-indent:-1000em; overflow:hidden; background:url('../img/bg_top_appdown.png') 0 0 no-repeat; -webkit-background-size:89px 16px; background-size:89px 16px; text-shadow:none; }/*  -webkit-box-sizing:border-box; box-sizing:border-box; */

.footer { position:fixed; bottom:0;width:100%; background:#fff; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; z-index:100; border-top:1px solid #d9d9d9;}
.footer .appDownBtn { width:100%; display:block; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; padding:8px 0; border:1px solid #CF8D80; border-radius:5px; overflow:hidden; box-shadow:0 1px 10px #BBB; background:rgba(234,71,39, 0.9); background:-webkit-linear-gradient(top, #f46448 0%,#ea4626 100%); text-align:center; color:#FFF !important; text-shadow:0 -1px 0 #666; }
.footer .appDownBtn:hover { color:#FFF; }
.footer .appDownBtn .ui-btn-inner, .footer .appDownBtn .ui-btn-text { border-radius:0; padding:0; background:none; border:0; }
.footer .appDownBtn em { display:inline-block; width:47px; height:16px; text-align:left; background:url('../img/bg_footer_appdownbtn.png'); -webkit-background-size:47px 16px; text-indent:-1000em; overflow:hidden; margin:0 1px 0 0; }		
.footer.show { visibility:visible; }
.footer.fixed { position:fixed; z-index:100; bottom:0; visibility:visible; }
.footer.in { position:relative; visibility:visible;}
.placeholder { height:2000px; }

.custom_content { overflow-x:hidden; overflow-y:visible; }
h3 { font-size:28px; color:#6c6c6c; padding:10px 10px 11px 10px; }

/* POI theme list */
.themeInfo { background:#FFF; }
.themeSubInfo { border:1px solid #C3C3C3; border-left:none; border-right:none; padding:13px 10px 14px; position:relative; background:-webkit-gradient(linear, center top, center bottom, from(#FEFEFE), to(#F5F6F6)); }
.themeSubInfo span.total { color:#545454; font-size:16px; }
.themeSubInfo span.total em { color:#F24726; }

.themeInfo .subOptions { position:absolute; right:10px; top:5px; }
.themeSubInfo .sortByCoupon { float:left; text-align:left; }
.themeSubInfo .sortByCoupon .ui-btn-inner { padding-left:7px; padding-right:10px; }
.themeSubInfo .sortByCoupon .ui-btn-text { width:auto; padding:0 0 0 24px; display:block; background:url('../img/bg_sort_coupon.png') 0 50% no-repeat; -webkit-background-size:18px 12px; color:#545454; }
.themeSubInfo .sortByCoupon .ui-btn:active, .themeSubInfo .sortByCoupon.selected .ui-btn,
.themeSubInfo .sortByOptions .ui-btn:active, .themeSubInfo .sortByOptions.selected .ui-btn { background:#F04E23; border-color:#F04E23; }
.themeSubInfo .sortByCoupon .ui-btn:active .ui-btn-text, .themeSubInfo .sortByCoupon.selected .ui-btn .ui-btn-text { text-shadow:none; color:#FFFFFF; background-image:url('../img/bg_sort_coupon_selected.png'); }
.themeSubInfo .sortByOptions .ui-btn:active .ui-btn-text, .themeSubInfo .sortByOptions.selected .ui-btn .ui-btn-text { text-shadow:none; color:#FFFFFF; }
.themeSubInfo .sortByOptions { float:left; margin:0 0 0 5px; position:relative; }
.themeInfo .sortByOptions .ui-btn-inner { padding-left:12px; padding-right:12px; }
.themeInfo .sortByOptions .ui-btn-text { color:#545454;  background:url('../img/bg_select_arrow_down.png') right 50% no-repeat; padding-right:16px; -webkit-background-size:12px 11px; background-size:12px 11px; }
.themeInfo .sortByOptions .optionLayer { position:absolute; width:100%; z-index:1000; padding:8px 0 0 0; margin:2px 0 0 0; display:block; }
.themeInfo .sortByOptions .optionLayer.hide { display:none; }
.themeInfo .sortByOptions .optionLayer:before { content:" "; display:block; width:16px; height:11px; background:url('../img/bg_layer_tail.png') 50% bottom no-repeat; position:absolute; top:0; left:50%; margin:-1px 0 0 -8px; }
.themeInfo .sortByOptions .optionLayer ul { text-align:center; width:90%; background:#FFF; border:1px solid #8E8E8E; background:rgba(255,255,255,0.8); -webkit-border-radius:8px; border-radius:8px; -webkit-box-shadow:1px 0 10px rgba(116,116,116,0.6); box-shadow:1px 0 10px rgba(116,116,116,0.6); margin:0 auto; padding:0 4px; -webkit-box-sizing:border-box; box-sizing:border-box; }
.themeInfo .sortByOptions .optionLayer ul span { color:#333; font-weight:normal; display:block; padding:12px 0; }
.themeInfo .sortByOptions .optionLayer ul li { background:url('../img/bg_layer_dot.png') 0 bottom repeat-x; }
.themeInfo .sortByOptions .optionLayer ul li:last-child { background:none; }


.pickat_placesList { }
.pickat_placesList li { width: 100%; }
.pickat_placesList li.tapped { background-color: #f46448 }
.pickat_placesList a { display:block; }
.pickat_placesList a.viewMore { display:block; width:100%; text-align:center; color:#f24726 !important; font-size:18px; padding:11px 0; }
.pickat_placesList a.viewMore.hidden { display:none; }
.pickat_placesList a.viewMore span { padding:0 0 0 50px; background:url('../img/bg_view_more.png') 0 1px no-repeat; -webkit-background-size:38px 15px; display:inline-block; }

/* scroller 초기화사 margin handling이 되지 않아서 padding 으로 변경*/
dl.pickat_place { margin:0 0 0; padding:14px 0 0; color:#AAA; font-weight:normal; }
dl.pickat_place dt { padding:0 11px; font-size:20px; margin:0 0 7px; color:#464646 !important; font-weight:bold; }

dl.pickat_place .socialInfo { padding:0 11px 5px; }
dl.pickat_place .socialInfo span { font-size:12px; display:inline-block; }
dl.pickat_place .socialInfo em { display:inline-block; text-indent:-1000em; overflow:hidden; background:url('../img/bg_poi_infoicons.png'); background-repeat:no-repeat; height:13px; -webkit-background-size:cover; margin:0 5px -5px 0; }
	dl.pickat_place .socialInfo span.pick em { width:23px; }
	dl.pickat_place .socialInfo span.reply em { width:12px; background-position:-28px 0; }
	dl.pickat_place .socialInfo span.like em { width:12px; background-position:-45px 0; }
	dl.pickat_place .socialInfo span span { color:#3cc1be; letter-spacing:-1px; margin-right:4px; }
	dl.pickat_place .socialInfo .bar { text-indent:-1000em; overflow:hidden; margin:0 1px; width:2px; height:12px; background:url('../img/bar_01.png') 0 0 no-repeat; -webkit-background-size:1px 12px; }
	dl.pickat_place .socialInfo .bar02 { background:url('../img/bar_02.png') 0 0 no-repeat; -webkit-background-size:1px 12px; }

dl.pickat_place .placeInfo { padding:0 11px 10px; width:100%; -webkit-box-sizing:border-box; box-sizing:border-box; font-size:11px; }
dl.pickat_place .placeInfo:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
dl.pickat_place em.poiType { display:inline-block; overflow:hidden; text-indent:-1000em; }

dl.pickat_place .placeInfo .poiTypeWrap { width:19px; vertical-align:top; }
dl.pickat_place .placeInfo .poiTypeWrap .poiType { position:relative; }

dl.pickat_place .placeInfo .addressInfo { float:left; width:68%; height:17px; vertical-align:top; }
dl.pickat_place .placeInfo .addressInfo span.wrap { position:relative; display:block; padding:4px 0 5px 19px; -webkit-box-sizing:border-box; box-sizing:border-box; width:100%; }
dl.pickat_place .placeInfo .addressInfo span.wrap span { display:-webkit-box; overflow:hidden; text-overflow:ellipsis; line-height:1.1; white-space:nowrap; display:block; width:95%; }

dl.pickat_place .placeInfo .subInfo { float:left; vertical-align:top; width:32%; min-width:88px; position:relative; padding:4px 0 5px 7px; background:url('../img/bar_03.png') 0 5px no-repeat; -webkit-background-size:1px 9px; -webkit-box-sizing:border-box; box-sizing:border-box; position:relative; }
dl.pickat_place .placeInfo .subInfo .coupon { width:50px; height:18px; background:url('../img/bg_coupon_label.png') 0 0 no-repeat; color:#5b5b5b; -webkit-background-size:50px 18px; display:block; position:absolute; font-size:9px; font-weight:bold; text-align:center; padding:4px 2px 0 14px; right:0; bottom:4px; -webkit-box-sizing:border-box; box-sizing:border-box; }

dl.pickat_place .thumbList { border:1px solid #CCC; border-left:none; border-right:none; }
dl.pickat_place .thumbList ul { width:100%; overflow:hidden; }
dl.pickat_place .thumbList li { height:86px; width:33%; float:left; }
dl.pickat_place .thumbList li:first-child { width:34%; }
dl.pickat_place .thumbList li span { display:block; width:100%; height:100%; background-position:50% 50%; background-repeat:no-repeat; -webkit-background-size:cover; text-shadow:none; border-left:1px solid #aeaeae; }
dl.pickat_place .thumbList li:first-child  span { border-left:none; }
 dl.pickat_place .thumbList li span.noImg { background:#CCC url('../img/bg_main_noimage.png') 50% 36% no-repeat; background-size:26px 34px; -webkit-background-size:26px 34px; }
 	dl.pickat_place .thumbList li span.noImg em { font-size:13px; color:#C2C2C2 ; width:100%; display:block; text-align:center; font-weight:bold; text-shadow:1px 1px 0 rgba(255, 255, 255, 0.2),0 -1px 0 rgba(0, 0, 0, 0.2); position:relative; bottom:-54px; }

/* 상세보기 */
.detailInfo { position:relative; width:100%; background-position:50% 50%; background-repeat:no-repeat; min-height:135px; -webkit-background-size:cover; background-size:cover; text-shadow:none; color:#FFF; }

.viewMoreBtn .ui-shadow { box-shadow:none; }
.viewMoreBtn .ui-btn, .poiNewArticle .ui-btn { margin:0; padding:0; -webkit-border-radius:0; border-radius:0; border:none; }
.viewMoreBtn .ui-btn .ui-btn-inner, .poiNewArticle .ui-btn .ui-btn-inner { display:block; overflow:hidden; text-indent:-1000em; margin:0; padding:0; background:#F5F5F5 url('../img/bg_detailview_morebtn.png') 50% 50% no-repeat; -webkit-border-radius:0; border-radius:0; -webkit-background-size:13px 8px; background-size:13px 8px; border:none; min-height:20px; }

.detailInfo .mainInfo { position:absolute; bottom:10px; left:10px; text-shadow:1px 1px 1px #000; padding:5px 0 0 48px; }
.detailInfo .mainInfo dt { font-size:19px; margin-bottom:2px; }
.detailInfo .mainInfo dd { font-size:11px; }
.detailInfo .mainInfo dd.poiType.large { position:absolute; left:0; top:0; width:41px; height:41px; background-image:url('../img/icon/set_main_business2_icon.png'); background-repeat:no-repeat; }

.detailInfo .poiPhone { position:absolute; right:10px; bottom:10px; max-width:198px; -webkit-border-radius:20px; border-radius:20px; padding:4px 7px; text-align:center; background:rgba(0,0,0,0.4); text-shadow:1px 1px 1px #000; border:1px solid rgba(0,0,0,0.2); font-size:12px; }
.detailInfo .socialRecommend { position:absolute; top:10px; left:10px; float:left; clear:both; }
	.detailInfo .socialRecommend dt, .detailInfo .socialRecommend dd { float:left; }
	.detailInfo .socialRecommend dt { display:block; width:17px; height:18px; overflow:hidden; text-indent:-1000em; background-repeat:no-repeat; background-position:50% 50%; -webkit-background-size:17px 18px; background-size:17px 18px; }
	.detailInfo .socialRecommend dt.recommend { background-image:url('../img/result_emotion_01.png'); }
	.detailInfo .socialRecommend dt.reject { background-image:url('../img/result_emotion_02.png'); }
	.detailInfo .socialRecommend dd { font-size:12px; margin:2px 10px 0 3px; }

.detailInfo .savePoi { position:absolute; right:5px; top:10px; display:block; width:30px; height:31px; text-indent:-1000em; overflow:hidden; -webkit-background-size:30px 31px; background-size:30px 31px; background-image:url('../img/btn_mytheme_star_n.png'); }
.detailInfo .savePoi.saved { background-image:url('../img/btn_mytheme_star_s.png'); }

.poiPhoto { overflow:hidden; position:relative; min-height:68px; border-bottom:1px solid #8c8c8c; }
.poiPhoto ul { position:absolute; width:100%; display:table; min-height:64px; }
.poiPhoto li { display:table-cell; width:19%; height:100%; min-width:63px; }
.poiPhoto a { display:block; background-position:50% 50%; background-repeat:no-repeat; -webkit-background-size:cover; background-size:cover; min-height:68px; text-indent:-1000em; overflow:hidden; margin:-2px 0 0 0; }
.poiPhoto li.no_img { overflow:hidden; position:relative; border-top:1px solid #aeaeae; border-right:1px solid #aeaeae; }
.poiPhoto li.no_img:after { content:""; display:block; width:34px; height:23px; position:absolute; left:50%; top:50%; margin:-11px 0 0 -17px; background:url("../img/bg_no_result@2x.gif") 0 0 no-repeat; -webkit-background-size:34px 23px; }
.poiPhoto li:first-child { border:1px solid #cc2e10; }
.poiPhoto li:first-child a { background:#eb4728 url('../img/bg_detail_list_down.png') 50% 50% no-repeat; border-top:1px solid #ef6f56; -webkit-box-sizing:border-box; box-sizing:border-box; -webkit-background-size:38px 29px; background-size:38px 29px; position:relative; bottom:-1px; }
.totalCount { color:#FFF; position:absolute; right:10px; bottom:10px; max-width:198px; -webkit-border-radius:20px; border-radius:20px; padding:4px 10px 4px 7px; text-align:center; text-shadow:1px 1px 1px #000; border:1px solid rgba(0,0,0,0.2); font-size:12px; background:rgba(0,0,0,0.4) url('../img/bg_arrow_detail_all.png') 94% 50% no-repeat; -webkit-background-size:4px 4px; background-size:4px 4px; }

/*.innerView { border-bottom:1px solid #8c8c8c; background:-webkit-linear-gradient(top, #fefefe, #f5f5f5); text-align:center; color:#F24726 !important; font-size:17px; display:block; padding:13px 0 11px; }*/
.findWayFromTmap { border-bottom:1px solid #8c8c8c; background:-webkit-linear-gradient(top, #fefefe, #f5f5f5); text-align:center; font-size:17px; display:block; padding:10px 0 13px; color:#555 !important; }
.findWayFromTmap span { display:inline-block; margin:0 auto; padding:6px 0 0 68px; position:relative; }
.findWayFromTmap em { display:inline-block; width:62px; height:23px; overflow:hidden; text-indent:-1000em; background:url('../img/bg_t_map.png') 0 0 no-repeat; -webkit-background-size:62px 23px; background-size:62px 23px; position:absolute; left:0; top:1px; }

.subDetailInfo { -webkit-box-shadow:0 2px 4px #CCC; border-bottom:1px solid #8c8c8c; position:relative; z-index:2; color:#808080; -text-shadow:0; }
.subDetailInfo .tblWrapper { padding:0 7px; }
.detailInfoTbl { text-align:left; }
.detailInfoTbl caption { display:none; }
.detailInfoTbl thead { display:none; }
.detailInfoTbl tr { border-bottom:1px solid #E5E5E5; line-height:1.2; }
.detailInfoTbl tr.default th { background:none; }
.detailInfoTbl tr:nth-of-type(1) th, .detailInfoTbl tr:nth-of-type(2) th, .detailInfoTbl tr:nth-of-type(3) th, .detailInfoTbl.hidden tr.default th { background:url('../img/bg_table_selected_bullet.png') 0 14px no-repeat; -webkit-background-size:6px; background-size:6px; }
.detailInfoTbl.hidden tr { display:none; }
.detailInfoTbl th { vertical-align:top; padding:8px 0 0 11px; min-width:73px; -webkit-box-sizing:border-box; box-sizing:border-box; }
.detailInfoTbl td { vertical-align:top; padding:5px 0; }
.detailInfoTbl td span { display:block; padding:3px 5px 5px 15px; -webkit-box-sizing:border-box; box-sizing:border-box; border-left:1px solid #E5E5E5; }
.detailInfoTbl tr.default { display:table-row; }
.detailInfoTbl tr.noLine { border-bottom:1px solid #E5E5E5; }
.detailInfoTbl.hidden tr.noLine { border:none; }
.detailInfoTbl tr:last-child { border-bottom:none; }

.couponsInfo { padding:12px 11px 6px; background:#dcdbdb; position:relative; z-index:1; }
.couponsInfo a { color:#575856 !important; font-weight:normal !important; }
.couponsInfo .topRibon, .couponsInfo .bottomRibon { width:60px; height:60px; position:absolute; z-index:3; }
.couponsInfo .topRibon { left:11px; top:11px; background:url('../img/coupon_list_ribbon_left.png') 0 0 no-repeat; }
.couponsInfo .bottomRibon { right:11px; bottom:14px; background:url('../img/coupon_list_ribbon_right.png') 0 0 no-repeat; }

dl.coupon { font-size:12px; min-height:91px; position:relative; border:1px solid #C2C2C2; background:#FFF; -webkit-box-shadow:0 3px 5px #999; padding:11px 0 0 90px; margin:0 0 8px; }
dl.coupon dt { width:70%; text-overflow:ellipsis; white-space:nowrap; overflow:hidden; font-size:18px; margin:0 0 5px; color:#575856; }
dl.coupon dd { margin:0 0 6px 0; }
dl.coupon span { color:#9d9da2; }
dl.coupon em.bar { margin:0 3px; color:#A2A2A0; font-size:11px; position:relative; }
dl.coupon .thumb { position:absolute; left:10px; top:13px; width:69px; height:69px; border:1px solid #E6E6E6; }
dl.coupon .thumb span { background-position:50% 50%; display:block; width:100%; height:100%; -webkit-background-size:cover; background-size:cover; }
dl.coupon .term { margin:0; color:#F25B26; }
dl.coupon .term em {}
dl.coupon .term span { color:#3E3E3E; }
dl.coupon .status { position:absolute; right:7px; top:11px; width:47px; height:47px; background-position:50% 50%; background-repeat:no-repeat; word-break:break-all; -webkit-box-sizing:border-box; box-sizing:border-box; padding:10px 0; margin:0; text-align:center; background-image:url('../img/bg_coupon_ready.png'); color:#23C1BD; -webkit-background-size:43px 47px; background-size:43px 47px; text-shadow:none; }
dl.coupon .status.done { color:#FFF; padding:12px 0; background-image:url('../img/bg_coupon_done.png'); text-shadow:1px 1px 1px #666; -webkit-background-size:45px 45px; background-size:45px 45px; }

.poiTimeline { text-shadow:none; }
.poiTimeline strong { display:block; border-top:1px solid #8C8C8C; border-bottom:1px solid #CCCCCC; font-size:17px; background:-webkit-linear-gradient(top, #fefefe, #f5f5f5); padding:12px 0 11px 10px; }
.poiTimeline ul { margin:0 10px; }
.poiTimeline li { background:url('../img/bg_dotline_01.png') left bottom repeat-x; padding:9px 0 12px; }
.poiTimeline li:last-child { background:none; }
.poiTimeline a { font-weight:normal !important; }
.poiTimeline dl { padding:3px 0 0; color:#3E3E3E; position:relative; }
.poiTimeline dt { color:#F24726; font-size:18px; margin:0 0 2px 40px; }
.poiTimeline dt a { color:#F24726 !important; } 
.poiTimeline dd { margin-left:40px; }
.poiTimeline dd.profile { margin:0; position:absolute; left:0; top:0; overflow:hidden; background-repeat:no-repeat; }
.poiTimeline dd em { color:#B0B0B0; }
.poiTimeline dd span.timeStamp { color:#B0B0B0; position:absolute; right:0; }
.poiTimeline dd.summary { margin:0; }
.poiTimeline dd.summary a { display:block; color:#3E3E3E !important; margin:0; padding:10px 25px 4px 41px; background-image:url('../img/timeline_comment_mark_2.png'),url('../img/timeline_comment_mark_1.png'); background-repeat:no-repeat; background-position:right 90%, left 10px; -webkit-background-size:21px 17px, 21px 17px; background-size:21px 17px, 21px 17px; background-color:#fff; }

.socialPoll { width:100%; padding:6px 5px; margin:0; border-top:1px solid #8C8C8C; -webkit-border-radius:0; border-radius:0; -webkit-box-sizing:border-box; box-sizing:border-box; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
.socialPoll .ui-controlgroup-controls { display:table; width:100%; }
.socialPoll .customUI { display:table-cell; width:50%; }
.socialPoll .customUI .ui-btn { width:100%; }
.socialPoll .customUI .ui-btn-inner { padding:0; }
.socialPoll .customUI .ui-btn-up-c { color:#545454; -webkit-text-shadow:none; text-shadow:none; background-image:-webkit-linear-gradient(top, #fff, #f1f1f1);
}
.socialPoll .customUI .ui-btn-hover-c { -webkit-text-shadow:none; text-shadow:none; background:#63CDCB; color:#FFF;
}
.socialPoll .customUI .ui-btn-text { display:inline-block; padding:15px 0 13px 27px; width:auto; }
.socialPoll .good .ui-btn-text { background:url('../img/bg_social_good_non.png'); background-position:0 50%; background-repeat:no-repeat; -webkit-background-size:21px 23px; background-size:21px 23px; }
.socialPoll .good .ui-btn-corner-all {
	border-top-left-radius:4px; border-bottom-left-radius:4px; border-top-right-radius:0; border-bottom-right-radius:0;
	-webkit-border-top-left-radius:4px; -webkit-border-bottom-left-radius:4px; -webkit-border-top-right-radius:0; -webkit-border-bottom-right-radius:0;
}
.socialPoll .good .ui-btn { border-right:1px solid #ccc;}
.socialPoll .good .ui-btn-hover-c .ui-btn-text { background-image:url('../img/bg_social_good_sel.png'); -webkit-background-size:22px 24px; background-size:22px 24px; }

.socialPoll .soso .ui-btn { border-left:1px solid #FFF;}
.socialPoll .soso .ui-btn-text { background-image:url('../img/bg_social_soso_non.png'); background-position:0 50%; background-repeat:no-repeat; -webkit-background-size:21px 23px; background-size:21px 23px; }
.socialPoll .soso .ui-btn-corner-all {
	border-top-left-radius:0; border-bottom-left-radius:0; border-top-right-radius:4px; border-bottom-right-radius:4px;
	-webkit-border-top-left-radius:0; -webkit-border-bottom-left-radius:0; -webkit-border-top-right-radius:4px; -webkit-border-bottom-right-radius:4px;
}
.socialPoll .soso .ui-btn-hover-c { background-color:#368A9F; }
.socialPoll .soso .ui-btn-hover-c .ui-btn-text { background-image:url('../img/bg_social_soso_sel.png'); -webkit-background-size:22px 24px; background-size:22px 24px; }

/* pick detail */
.profile { width:37px; height:37px; overflow:hidden; -webkit-border-radius:50%; border-radius:50%; }
.profile .profileImg { width:33px; height:33px; display:block; background-position:50%; background-repeat:no-repeat; margin:2px auto; overflow:hidden; -webkit-border-radius:50%; border-radius:50%; -webkit-background-size:41px; background-size:41px; }
.profile .profileImg.noImg { background-image:url('../img/thumb_default.png'); -webkit-background-size:41px; background-size:41px; }
.profile .wrapper { width:37px; height:37px; display:block; position:absolute; background:url('../img/timeline_frame_shadow.png') 50% 50% no-repeat; -webkit-background-size:37px; background-size:37px; }

.pickDetailDesc { text-shadow:none; }
.pickDetailDesc a { color:#FFF !important; }
.pickDetail { background-position:50% 50%, 50% bottom; background-repeat:no-repeat; min-height:182px; -webkit-background-size:cover; background-size:cover; color:#FFF; text-shadow:1px 1px 1px #333; position:relative; }
.pickDetail:before { content:''; display:block; position:absolute; bottom:0; left:0; background:-webkit-linear-gradient(top, transparent, rgba(58,58,58,0.6)); text-indent:-1000em; overflow:hidden; width:100%; height:30%; }
.pickDetail h3 { color:#FFF; font-size:28px; padding:10px; }

.pickDetail .mainInfo { position:absolute; left:10px; bottom:10px; padding:0 0 0 49px; }
.pickDetail .mainInfo dt { font-size:20px; }
.pickDetail .mainInfo dd { font-size:14px; }
.pickDetail .mainInfo dd em { opacity:0.5; }
.pickDetail .mainInfo dd.profile { position:absolute; left:0; top:0; }
.pickDetail .timeStamp { position:absolute; right:10px; bottom:10px; }

.pickDetailDesc .summary { line-height:1.3; font-size:15px; color:#3E3E3E; margin:15px 12px 10px; padding:0 25px 4px 37px; background-image:url('../img/timeline_comment_mark_2.png'),url('../img/timeline_comment_mark_1.png'); background-repeat:no-repeat; background-position:right 90%, left top; -webkit-background-size:21px 17px, 21px 17px; background-size:21px 17px, 21px 17px; background-color:#fff; }

.pickTimeline { border-top:1px solid #CCC; text-shadow:none; background:#F6F5F5 }
.pickTimeline li { background:url('../img/bg_dotline_01.png') left bottom repeat-x; padding:8px 0 10px 0;}
.pickTimeline li:last-child { background:none; }
.pickTimeline dl { padding:0 0 0 46px; margin:0 8px; font-size:15px; color:#6E6E6E; position:relative; }
.pickTimeline dl dt { margin:0 0 6px; color:#3E3E3E; }
.pickTimeline dl .profile { position:absolute; left:0; top:0; }
.pickTimeline dl .profile .wrapper { background-image:url('../img/timeline_frame.png'); }
.pickTimeline .timelineWord { line-height:1.3; margin:0 0 9px; }
.pickTimeline .timeStamp { text-align:right; }

/* map view */
.mapViewWrapper { width:100%; position:relative; }

.mapViewWrapper .mpaLevelController { position:absolute; right:10px; top:10px; width:31px; }
.mapViewWrapper .mpaLevelController span { display:block; width:100%; height:100%; padding:0; }
.mapViewWrapper .mpaLevelController .ui-btn { height:100%; }
.mapViewWrapper .mpaLevelController .ui-btn-inner { border:0; }
.mapViewWrapper .mpaLevelController .ui-btn-text { text-indent:-1000em; overflow:hidden; --webkit-background-size:50%; background-size:50%; }
 
.mapViewWrapper .mpaLevelController .zoomIn { height:35px; }
.zoomIn .ui-btn { -webkit-border-radius:1em 1em 0 0; border-radius:1em 1em 0 0; }
.zoomIn .ui-btn-text { background:url('../img/bg_map_zoomin.png') 50% 50% no-repeat; }
.mapViewWrapper .mpaLevelController .zoomOut { height:35px; }
.zoomOut .ui-btn { -webkit-border-radius:0 0 1em 1em; border-radius:0 0 1em 1em; border-top:0; }
.zoomOut .ui-btn-text { background:url('../img/bg_map_zoomout.png') 50% 50% no-repeat; }

.mapViewWrapper .jumpCurrentPoint { width:50px; height:50px; position:absolute; left:10px; top:10px; background:url('../img/set_pickat_domastic_720.png') 0 -95px no-repeat; -webkit-background-size:563px; background-size:563px; }
.mapViewWrapper .jumpCurrentPoint a { display:block; background:none; width:100%; height:100%; text-indent:-1000em; overflow:hidden; }

.mapViewWrapper .locationPoint { position:absolute; }
.mapViewWrapper .locationPoint a { color:#464646 !important; }
.mapViewWrapper .locationPoint dt { border:1px solid #B7B5B6; background:rgba(255,255,255,0.7); -webkit-border-radius:3px; border-radius:3px; padding:7px 10px 5px; font-size:17px; text-align:center; -webkit-box-shadow:1px 1px 2px rgba(99,99,99,0.5); box-shadow:1px 1px 4px rgba(99,99,99,0.5); }
.mapViewWrapper .locationPoint dt:before { content:''; display:block; width:16px; height:13px; text-indent:-1000em; overflow:hidden; position:absolute; left:50%; bottom:-12px; margin:0 0 0 -8px; background:url('../img/bg_map_point_tail.png') 0 0 no-repeat; -webkit-background-size:16px 13px; background-size:16px 13px; }

.mapViewWrapper .locationPoint .poiInfo { position:absolute; width:35px; height:39px; left:50%; background:url('../img/pin_orange.png') 0 0 no-repeat; -webkit-background-size:35px 39px; background-size:35px 39px; }
.mapViewWrapper .locationPoint .poiInfo span { display:block; margin:4px auto 0; width:25px; height:25px; background-image:url('../img/icon/set_pin_orange_business.png'); background-repeat:no-repeat; }

.mapViewWrapper .findWay { position:absolute; bottom:10px; width:100%; text-align:center; }
.mapViewWrapper .findWay .ui-btn { -webkit-border-radius:1em; border-radius:1em; display:inline-block; background:rgba(85,85,85,0.9); background:-webkit-linear-gradient(top, rgba(85,85,85,0.8), rgba(52,52,38,0.9)); border-color:rgba(85,85,85,0.3); -webkit-text-shadow:none; text-shadow:none; }
.mapViewWrapper .findWay .ui-btn-inner { -webkit-border-radius:1em; border-radius:1em; border-color:rgba(85,85,85,0.3); }
.mapViewWrapper .findWay .ui-btn-text { color:#FFF; padding:8px 39px 6px; }

/* common(icon, poi etc) */
.poiType { width:17px; height:17px; display:block; text-indent:-1000em; overflow:hidden; position:absolute; left:0; top:1px; background:url('../img/icon/set_icon_small_nor.png') no-repeat; }
	.poiType.type01 { background-position:0 0; }
	.poiType.type02 { background-position:0 -22px; }
	.poiType.type03 { background-position:0 -44px; }
	.poiType.type04 { background-position:0 -66px; }
	.poiType.type05 { background-position:0 -132px; }
	.poiType.type06 { background-position:0 -154px; }
	.poiType.type07 { background-position:0 -176px; }
	.poiType.type08 { background-position:0 -198px; }
	.poiType.type09 { background-position:0 -220px; }
	.poiType.type10 { background-position:0 -242px; }
	.poiType.type11 { background-position:0 -264px; }
	.poiType.type12 { background-position:0 -286px; }
	.poiType.type13 { background-position:0 -308px; }
	.poiType.type14 { background-position:0 -330px; }
	.poiType.type15 { background-position:0 -110px; }
	.poiType.type16 { background-position:0 -88px; }	
	.poiType.type17 { background-position:0 -352px; }

	.poiType.large.type01 { background-position:0 0; }
	.poiType.large.type02 { background-position:0 -46px; }
	.poiType.large.type03 { background-position:0 -92px; }
	.poiType.large.type04 { background-position:0 -138px; }
	.poiType.large.type05 { background-position:0 -276px; }
	.poiType.large.type06 { background-position:0 -322px; }
	.poiType.large.type07 { background-position:0 -368px; }
	.poiType.large.type08 { background-position:0 -414px; }
	.poiType.large.type09 { background-position:0 -460px; }
	.poiType.large.type10 { background-position:0 -506px; }
	.poiType.large.type11 { background-position:0 -552px; }
	.poiType.large.type12 { background-position:0 -598px; }
	.poiType.large.type13 { background-position:0 -644px; }
	.poiType.large.type14 { background-position:0 -690px; }
	.poiType.large.type15 { background-position:0 -230px; }
	.poiType.large.type16 { background-position:0 -184px; }
	.poiType.large.type17 { background-position:0 -736px; }

	.mapViewWrapper .poiInfo .type01 { background-position:0 0; }
	.mapViewWrapper .poiInfo .type02 { background-position:0 -30px; }
	.mapViewWrapper .poiInfo .type03 { background-position:0 -60px; }
	.mapViewWrapper .poiInfo .type04 { background-position:0 -90px; }
	.mapViewWrapper .poiInfo .type05 { background-position:0 -180px; }
	.mapViewWrapper .poiInfo .type06 { background-position:0 -210px; }
	.mapViewWrapper .poiInfo .type07 { background-position:0 -240px; }
	.mapViewWrapper .poiInfo .type08 { background-position:0 -270px; }
	.mapViewWrapper .poiInfo .type09 { background-position:0 -300px; }
	.mapViewWrapper .poiInfo .type10 { background-position:0 -330px; }
	.mapViewWrapper .poiInfo .type11 { background-position:0 -360px; }
	.mapViewWrapper .poiInfo .type12 { background-position:0 -390px; }
	.mapViewWrapper .poiInfo .type13 { background-position:0 -420px; }
	.mapViewWrapper .poiInfo .type14 { background-position:0 -450px; }
	.mapViewWrapper .poiInfo .type15 { background-position:0 -150px; }
	.mapViewWrapper .poiInfo .type16 { background-position:0 -120px; }	
	.mapViewWrapper .poiInfo .type17 { background-position:0 -480px; }
	.mapViewWrapper .poiInfo .poiTypeEvent { background-position:0 -510px; }

.page .no_img { background-position:50% 50%; -webkit-background-size:102px 42px; background-color:#ccc }

/* error 404 & 500 */
.error { margin:0; padding:0 !important; background-color:#fff; }
	.error section { margin:0; padding:0; overflow:visible; }
	.error header { position:static; margin:0; }
	.errorBox { position:relative; padding:210px 0 195px 0; text-align:center; }
	.errorBox.error404, .errorBox.error500 { background:#fff url('../img/bg_error.png') 50% 90px no-repeat; }
	.errorBox.noCoupon { background:#fff url('../img/nocoupon.png') 50% 113px no-repeat; }	
	.errorBox h2 { margin-bottom:25px; font-size:19px; color:#96ca3a; }
	.errorBox.noCoupon h2 { color:#6A6A6A; }
	.errorBox h2 strong { color:#96ca3a; }
	.errorBox p { font-size:13px; line-height:19px; color:#898989; }
	.btnModule { position:absolute; left:0; bottom:17px; padding:0 12px; width:100%; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; }
	.btnModule:after { content:""; height:0; display:block; visibility:hidden; clear:both; }
	#mainView .btnModule a {float:left; width:74%; text-align:center; color:#3e3e3e; font-size:12px; text-shadow:none; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
	#mainView .btnModule a:first-child { padding-right:3px; }
	#mainView .btnModule .fullSize { width:100%; }
	#mainView .btnModule .fullSize:first-child { padding-right:0; }
	#mainView .btnModule span {	display:block; height:50px; line-height:50px; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; background:#96ca3a; color:#fff; font-size:18px;}

/* loading */
#loading_top, #loading_bottom { height:46px; text-align:center; padding:10px 0 5px; }
#loading_top.hidden, #loading_bottom.hidden { display:none; }
#loading_top .loadingImg, #loading_bottom .loadingImg { width:32px; height:46px; }

.dw-link, .mobile-dw-link {background:#fff;}
.dw-link em {color:#6eb14d;}
.dw-link p {padding:9px 15px 1px 15px;font-size:11px;letter-spacing:-1px;line-height:15px;color:#898989;text-align:left;text-shadow:none;}
.dw-link .platform a{display:inline-block;width:25%;height:100%;}
.dw-link .platform img {width:100%;}
.mobile-dw-link {position:relative;}
.mobile-dw-link .app_down {display:block;margin:0 auto;width:260px;height:59px;background:url('../img/bg_app_down.png') center 0 no-repeat;-webkit-background-size:260px auto;background-size:260px auto;text-indent:-1000em;overflow:hidden;}

/*
	.ball{
		position:absolute; top:0; background-color:#bfbfbf; width:4px; height:4px; border-radius:4px;
		-webkit-animation-name:ballsWaveG; -webkit-animation-duration:1.3s;
		-webkit-animation-iteration-count:infinite; -webkit-animation-direction:linear;
	}
	#ball01 { left:4px; -webkit-animation-delay:0.52s; }
	#ball02 { left:10px; -webkit-animation-delay:0.65s; }
	#ball03 { left:16px; -webkit-animation-delay:0.78s; }
	#ball04 { left:22px; -webkit-animation-delay:0.91s; }
	#ball05 { left:28px; -webkit-animation-delay:1.04s; }
	.hand {
		position:absolute; left:0; bottom:0; width:32px; height:38px;
		-webkit-animation:loader 1.3s steps(1) 4 forwards; -webkit-animation-iteration-count:infinite; -webkit-animation-direction:linear;
		background-image:url('../img/set_bg_loader.png'); background-position:0 0;
	}
	@-webkit-keyframes ballsWaveG{
		0% { background-color:#bfbfbf; }
		100%{ background-color:#7f7f7f; }
	}
	@-webkit-keyframes loader {
		0% { background-position:0 0; }
		16% { background-position:-38px 0; }
		32% { background-position:-76px 0; }
		48% { background-position:-114px 0; }
		64% { background-position:-152px 0; }
		80% { background-position:-190px 0; }
		100% { background-position:0 0; }
	}
*/
/* iphone Retina and high resolution android */
@media only all and (-webkit-min-device-pixel-ratio:2) {
	dl.pickat_place .thumbList li { height:97px; } 
	.poiType { background-image:url('../img/icon/set_icon_small_nor@2x.png'); -webkit-background-size:17px 369px; }
	.detailInfo .mainInfo dd.poiType.large { background-image:url('../img/icon/set_main_business2_icon@2x.png'); -webkit-background-size:41px 823px; }
	.mapViewWrapper .locationPoint .poiInfo span { background-image:url('../img/icon/set_pin_orange_business@2x.png'); -webkit-background-size:25px 535px; }

	.detailInfo .socialRecommend dt.recommend { background-image:url('../img/result_emotion_01@2x.png'); }
	.detailInfo .socialRecommend dt.reject { background-image:url('../img/result_emotion_02@2x.png'); }

	.detailInfo .savePoi { background-image:url('../img/btn_mytheme_star_n@2x.png');}
	.detailInfo .savePoi.saved { background-image:url('../img/btn_mytheme_star_s@2x.png'); }

	.poiPhoto li:first-child a { background-image:url('../img/bg_detail_list_down@2x.png');}
dl.coupon .status { background-image:url('../img/bg_coupon_ready@2x.png'); }
dl.coupon .status.done { background-image:url('../img/bg_coupon_done@2x.png'); }

	.couponsInfo .topRibon { background-image:url('../img/coupon_list_ribbon_left@2x.png'); -webkit-background-size:60px 60px; background-size:60px 60px; }
	.couponsInfo .bottomRibon { background-image:url('../img/coupon_list_ribbon_right@2x.png'); -webkit-background-size:60px 60px; background-size:60px 60px; }

	.poiTimeline dd.summary { background-image:url('../img/timeline_comment_mark_2@2x.png'),url('../img/timeline_comment_mark_1@2x.png'); }	
	.poiTimeline dd.profileImg span.wrapper	{ background:url('../img/timeline_frame@2x.png') 0 0 no-repeat; }

	.poiTimeline dd.profileImg span.wrapper { background:url('../img/thumb_default_wrap@2x.png') 0 0 no-repeat; }

	.socialPoll .good .ui-btn-text { background-image:url('../img/bg_social_good_non@2x.png'); }
	.socialPoll .good .ui-btn-hover-c .ui-btn-text { background-image:url('../img/bg_social_good_sel@2x.png'); }
	.socialPoll .soso .ui-btn-text { background-image:url('../img/bg_social_soso_non@2x.png'); }
	.socialPoll .soso .ui-btn-hover-c .ui-btn-text { background-image:url('../img/bg_social_soso_sel@2x.png'); }	

	.profile .wrapper {	background-image:url('../img/timeline_frame_shadow@2x.png'); }
	.pickTimeline dl .profile .wrapper { background-image:url('../img/timeline_frame@2x.png'); }
	.poiTimeline dd.profile .wrapper { background-image:url('../img/timeline_frame@2x.png'); }
	
	.mapViewWrapper .locationPoint .poiInfo { background-image:url('../img/pin_orange@2x.png'); }

	.errorBox.error404,	.errorBox.error500 { background-image:url('../img/bg_error.png'); -webkit-background-size:129px auto; }

	.errorBox.noCoupon { background-image:url('../img/nocoupon@2x.png'); -webkit-background-size:57px 50px; }	

	.themeInfo .sortByOptions .optionLayer:before { background-image:url('../img/bg_layer_tail@2x.png'); -webkit-background-size:14px 8px; background-size:14px 8px; margin-top:-2px; }
	.mapViewWrapper .poiInfo .type01 { background-position:0 -1px; }
    .mapViewWrapper .poiInfo .type02 { background-position:0 -32px; }
    .mapViewWrapper .poiInfo .type03 { background-position:1px -64px; }
    .mapViewWrapper .poiInfo .type04 { background-position:1px -96px; }
    .mapViewWrapper .poiInfo .type05 { background-position:1px -191px; }
    .mapViewWrapper .poiInfo .type06 { background-position:0 -223px; }
    .mapViewWrapper .poiInfo .type07 { background-position:0 -254px; }
    .mapViewWrapper .poiInfo .type08 { background-position:1px -286px; }
    .mapViewWrapper .poiInfo .type09 { background-position:0 -317px; }
	.mapViewWrapper .poiInfo .type10 { background-position:0 -349px; }
	.mapViewWrapper .poiInfo .type11 { background-position:1px -381px; }
	.mapViewWrapper .poiInfo .type12 { background-position:1px -413px; }
	.mapViewWrapper .poiInfo .type13 { background-position:1px -444px; }
	.mapViewWrapper .poiInfo .type14 { background-position:0 -476px; }
	.mapViewWrapper .poiInfo .type15 { background-position:0 -159px; }
	.mapViewWrapper .poiInfo .type16 { background-position:0 -128px; }
	.mapViewWrapper .poiInfo .type17 { background-position:0 -508px; }
	.mapViewWrapper .poiInfo .poiTypeEvent { background-position:0 -541px; }
			
}

.error404 .btnModule{bottom:125px;}
#mainView .error404 .btnModule a{float:none;display:block;margin:0 auto;}
#mainView .error404 .btnModule a span{padding-left:10px;padding-right:10px;}
#mainView .error404 .btnModule a:first-child{padding-right:0;}

/*
iphone 4,4s,5
*/
@media only all and (max-width:320px) {
	.themeInfo .subOptions { top:5px; }
	.themeInfo .subOptions .customUI .ui-btn-inner { font-size:12px; padding-top:6px; padding-bottom:8px; }
	.themeInfo .subOptions .customUI .ui-btn-inner .ui-btn-text { display:inline-block; padding-bottom:2px; }
	.themeInfo .subOptions .customUI.sortByCoupon .ui-btn-inner { padding-left:3px; padding-right:5px; }
	.themeInfo .subOptions .customUI.sortByCoupon .ui-btn-text { padding-left:19px; -webkit-background-size:15px 10px; background-size:15px 10px; }

	.themeInfo .subOptions .customUI.sortByOptions .ui-btn-inner { padding-left:6px; padding-right:16px; }
	.themeInfo .subOptions .customUI.sortByOptions .ui-btn-text { -webkit-background-size:10px 8px; background-size:10px 8px; padding-right:8px; }
	.themeInfo .subOptions .customUI.sortByOptions ul { font-size:12px; }
	
	.mapViewWrapper .jumpCurrentPoint { width:44px; height:44px; position:absolute; left:10px; top:10px; background-position:0 -84px; -webkit-background-size:500px; background-size:500px; }

	.errorBox{padding:187px 0 173px 0;}
	.errorBox.error404,	.errorBox.error500 { background-image:url('../img/bg_error.png'); -webkit-background-size:115px auto; }

	.error404 .btnModule{bottom:100px;}

	#mainView .error404 .btnModule a span{font-size:16px;}
}

@media only all and (-webkit-device-pixel-ratio:1) {
	dl.pickat_place .coupon { letter-spacing:-1px; }
}

/* Android - galaxy s3 */
@media only all and (min-width:360px) {
}

#footer.light {width:100%; background-color:#f3f3f3; text-align:center; font-size:15px; font-family:Helvetica;}
#footer.light .foot_wrap {position:fixed;bottom:0;padding:0; width:100%;border-top:1px solid #e2e2e2;}    
#footer.light .bt_wrap {margin:17px 0 15px;}
#footer.light p.home { width:100%; margin:25px 0 0 0; height:10px; font-size:14px; letter-spacing:-1px;}
#footer.light p.home a { color:#787878; text-shadow:none; }
#footer.light p.privacy {width:100%; margin:12px 0 0 0; height:10px; font-size:12px; letter-spacing:-1px;}
#footer.light p.privacy a {color:#787878;}
#footer.light p span.bar {padding:0 8px 0 7px; font-size:11px; color:#d1d1d1;}
#footer.light p.copyright {width:100%; height:8px; margin-top:17px; font-size:9px; letter-spacing:0;}    
#footer.light .bt_wrap a {display:inline-block; -webkit-box-sizing:border-box; box-sizing:border-box; height:26px; padding:1px 8px 0 8px; border:1px solid #aaaaaa; font-size:90%; color:#222; letter-spacing:-1px; text-align:center; white-space:nowrap; 
           box-shadow:0 1px 0 rgba(0,0,0, .1); -webkit-box-shadow:0 1px 1px rgba(0,0,0, .15); -moz-box-shadow:0 1px 0 rgba(0,0,0, .1); 
           background-color:#fcfcfc;
           background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(235,235,235,1) 100%);
           background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(235,235,235,1)));
           background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(235,235,235,1) 100%);
           background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(235,235,235,1) 100%);
           background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(235,235,235,1) 100%);
           cursor:pointer;
}
#footer.light .bt_wrap a, #footer.light .bt_wrap a span {line-height:22px;text-shadow:0px 1px 2px rgba(255, 255, 255, 1);text-indent:0 !important;}
* html #footer.light ul li {display:inline;}
*:first-child+html #footer.light ul li {display:inline;}
* html #footer.light button {margin:0 1px; padding:0;}
*:first-child+html #footer.light button {margin:0 1px; padding:0;}

/* 800px Layout */
@media only screen and (min-width:730px){
	.ui-page{width:560px !important;margin-left:-280px;left:50% !important;border-left:1px solid #bfbfbf !important;border-right:1px solid #bfbfbf !important;}
	.errorBox {padding: 210px 0 195px 0;}
	.footer{width:560px;}
}
