@charset "utf-8";

/* 320px Layout */
@media only screen and (max-width:320px){
	/* ----- Common & Phone ----- */
	body{font-size:12px;}

	/* ----- Pickat header ----- */
	.header{height:40px;}
	.header h1{width:66px;height:19px;margin:12px 0 0 16px;}
	.header h2{margin:13px 0 0 15px;padding-left:15px;-webkit-background-size:1px 16px;background-size:1px 16px;font-size:17px;height:16px;line-height:16px;}/* psd : 32px */

	/* ----- common wrapper ----- */
	.list_wrapper.theme, .list_wrapper.place{padding:9px;}

	/* ----- common list component ----- */
	.theme_list{min-width:301px;}
	.theme_list li{margin-bottom:9px;}
	.theme_list li:nth-of-type(odd){padding-right:5px;}
	.theme_list li:nth-of-type(even){padding-left:5px;}

	.place_list li{margin-bottom:8px;}

	/* ----- common element ----- */
	.sort{height:40px;line-height:40px;padding-right:9px;}
	.sort .select{padding:0 33px 0 11px;line-height:26px;height:26px;-webkit-background-size:8px 6px;background-size:8px 6px;}
	.sort .sort_wrapper{right:9px;top:8px;}
	.sort .sort_wrapper button{width:71px;height:24px;line-height:24px;}
	.sort .sort_wrapper .trigger{padding-right:17px;-webkit-background-size:7px 5px;-moz-background-size:7px 5px;background-size:7px 5px;}
	.banner_wrapper{padding:0 9px;margin-top:9px;}
	.view_more{height:38px;line-height:38px;}
	.status_error .stuts_desc{padding-top:111px;margin-bottom:19px;}
	.status_error .stuts_desc:before{margin-left:-64px;width:129px;height:97px;}
	.status_error .button{height:30px;line-height:30px;width:63px;}

	/* ----- list common elemnt ----- */
	.list_wrapper .ribbon.new{width:36px;height:36px;-webkit-background-size:36px;background-size:36px;}
	.list_wrapper .ribbon.recommend{width:36px;height:36px;-webkit-background-size:36px;background-size:36px;}
	.list_wrapper .ribbon.partner{width:36px;height:36px;-webkit-background-size:36px;background-size:36px;}
	.list_wrapper .sbar{width:1px;height:9px;margin:0 6px;}
	.list_wrapper em.pick{padding-left:27px;-webkit-background-size:21px 10px;background-size:21px 10px;}
	.list_wrapper em.poi{padding-left:10px;-webkit-background-size:7px 9px;background-size:7px 9px;}
	.list_wrapper .social_point .hand{-webkit-background-size:11px 22px;background-size:11px 22px;height:11px;padding-left:15px;}
	.list_wrapper .social_point .hand.down{background-position:0 -9px;}
	.list_wrapper .social_point .bar_graph{width:36px;height:7px;margin:0 4px;}

	/* ----- each list type elemnt ----- */
	.element_theme dl{padding:8px 14px 9px;}
	.element_theme dl dt{min-height:35px;font-size:17px;}/* psd : 30px */
	.element_theme .social_info{margin-top:5px;font-size:11px;}

	.element_place dl{padding:9px 3px 0 12px;width:65%;min-width:192px;}
	.element_place dl dt{font-size:17px;margin-bottom:2px;}
	.element_place dl .theme_name{height:12px;font-size:12px;margin-bottom:9px;}
	.element_place dl .social_info, .element_place dl .poi_info{font-size:11px;}
	.element_place dl .poi_info{margin-top:4px;}

	/* ----- each subject theme ----- */
	.theme_head{padding:14px 15px;}
	.theme_head h3{font-size:17px;}/* psd : 30px */
	.theme_head p{margin-top:9px;}

	.theme_tab a{border-top:2px solid #d2d2d2;height:36px;line-height:36px;font-size:14px;}/* psd : 26px */

	.banner_wrapper img{max-width:310px;max-height:89px;}

	.photo_box .no_content{height:190px;}
	.photo_box .no_content .desc{line-height:1.2;font-size:16px;}

	.photo_wrapper{height:190px;}
	.photo_wrapper .info_total_photo{font-size:13px;right:9px;top:9px;padding:0 8px 0 32px;min-width:62px;height:28px;line-height:28px;}
	.photo_wrapper .info_total_photo:before{left:7px;width:17px;-webkit-background-size:17px 13px;background-size:17px 13px;}
	.photo_wrapper button{width:16px;height:27px;-webkit-background-size:16px 54px;background-size:16px 54px;margin-top:-14px;}
	.photo_wrapper button.prev{left:7px;}
	.photo_wrapper button.next{right:7px;background-position:0 -27px;}
	.photo_wrapper .blog_photo_wrapper .desc{line-height:1.2;padding-top:42px;font-size:16px;}/* psd:28px; */
	.photo_wrapper .blog_photo_wrapper .blog_photo{height:72px;}
	.photo_wrapper .dot_pagging{bottom:9px;line-height:9px;}
	.photo_wrapper .dot_pagging em{width:9px;height:9px;-webkit-border-radius:4px;border-top-left-radius:4px;border-top-right-radius:4px;border-bottom-left-radius:4px;border-bottom-right-radius:4px;margin:0 1px;}

	.element_place .photo_wrapper{width:88px;height:88px;}	

	.main_info{padding:40px 9px 0;}
	.main_info .poi_type{width:55px;height:55px;-webkit-background-size:55px;background-size:55px;top:-28px;left:9px;}
	.main_info h3{line-height:30px;margin-right:9px;font-size:20px;}
	.main_info .tel_info{padding:0 9px 0 30px;height:30px;line-height:30px;font-size:14px;}
	.main_info .tel_info:before{width:14px;height:16px;-webkit-background-size:14px 32px;background-size:14px 32px;margin-top:-8px;left:11px;}
	.main_info a.tel_info:before{background-position:0 -16px;}
	.main_info span.tel_info:before{background-position:0 0;}
	.main_info .social_info{margin:15px 0 9px;padding:13px 16px 21px;}
	.main_info .social_info .total_count{margin-bottom:15px;font-size:16px;}
	.social_info.box .social_point{height:55px;}
	.social_info.box .social_point .hand{width:55px;}
	.social_info.box .social_point .hand button{width:55px;height:55px;-webkit-background-size:55px;background-size:55px;}
	.social_info.box .social_point .hand.down button{background-position:0 -56px;}
	.social_info.box .social_point .bar_graph_wrapper{height:55px;padding:0 11px;}
	.social_info.box .social_point .bar_graph_wrapper .bar_graph{height:9px;top:21px;}
	.social_info.box .social_point.no_rate .hand.up em{background-position:0 -111px;}

	.main_info .map_wrapper{margin-bottom:9px;height:173px;}
	.map_wrapper .current_poi_text{margin-top:8px;padding:0 8px;}
	.map_wrapper .current_poi_text span{height:42px;padding:0 85px 0 14px;line-height:42px;font-size:16px;} /* psd : 27px;*/
	.map_wrapper .current_poi_text .sbar{width:1px;height:9px;margin:0 6px;}
	.map_wrapper .current_poi_text .t_map{width:79px;-webkit-background-size:52px 20px;background-size:52px 20px;}
	.map_wrapper .map em{-webkit-background-size:88px;background-size:88px;}
	.map_wrapper .map .poi{width:25px;height:31px;margin:-12px 0 0 -15px;background-position:-23px 0;}
	.map_wrapper .map .current{width:21px;height:21px;background-position:-72px -73px;}
	.map_wrapper .map .get_current_layer{left:8px;top:8px;}
	.map_wrapper .map .get_current_layer .current_desc{line-height:38px;height:38px;padding:0 13px;margin-bottom:8px;}
	.map_wrapper .map .get_current_layer .get_current{width:40px;height:40px;background-position:-49px 0;}
	.map_wrapper .map .poi_pin{width:25px;height:36px;background-position:-23px -51px;}
	.map_wrapper .map .menu_btn{width:40px;height:40px;-webkit-background-size:40px;background-size:40px;}
	.map_wrapper .map .go_list_layer{right:8px;top:8px;min-width:40px;}
	.map_wrapper .map .go_list_layer .go_list{width:40px;height:40px;-webkit-background-size:40px;background-size:40px;}
	.map_wrapper .map .go_list_layer .desc_layer{top:47px;-webkit-border-radius:4px;border-top-left-radius:4px;border-top-right-radius:4px;border-bottom-left-radius:4px;border-bottom-right-radius:4px;padding:7px 32px 7px 12px;}
	.map_wrapper .map .go_list_layer .desc_layer:before{width:9px;height:7px;-webkit-background-size:9px 7px;background-size:9px 7px;right:17px;top:-7px;}
	.map_wrapper .map .go_list_layer .desc_layer button{width:14px;height:14px;-webkit-background-size:14px;background-size:14px;right:11px;top:9px;}
	.map_wrapper .map .go_list_layer .desc_layer span{line-height:1.4;}

	.sub_info{padding:0 9px;}
	.sub_info .detail_info, .sub_info .price_info{margin-bottom:9px;}
	.sub_info .detail_info a, .sub_info .price_info a{padding:9px 13px 7px;}
	.sub_info .detail_info a:after, .sub_info .price_info a:after{width:11px;height:15px;-webkit-background-size:11px 15px;background-size:11px 15px;right:9px;margin-top:-8px;}
	.sub_info .detail_info dt, .sub_info .price_info dt{font-size:16px;margin-bottom:5px;}
	.sub_info .detail_info li, .sub_info .price_info li{margin-bottom:4px;}

	.list_wrapper .part_head{height:44px;line-height:44px;padding-left:22px;margin-bottom:9px;font-size:16px;}/*psd:27px*/
	.list_wrapper .part_head .more{width:33px;height:45px;-webkit-background-size:11px 15px;background-size:11px 15px;right:11px;margin-top:-23px;}
	.list_wrapper.blog_review .part_head dt{padding-left:22px;}
	.list_wrapper.blog_review .part_head dd span, .blog_point span{font-size:13px;}

	.list_wrapper.place{padding-top:9px;}

	.poi_wrapper .list_wrapper .place_list{padding-left:9px;padding-right:9px;}

	.list_wrapper.pickat_review .review_list.pickat_review{padding:0 9px;}
	.list_wrapper.pickat_review .element_review{margin-bottom:8px;}
	.list_wrapper.pickat_review .element_review dl{padding-left:66px;min-height:62px;font-size:15px;padding-bottom:9px;}/*psd:24px */
	.list_wrapper.pickat_review .element_review dt{padding:13px 0 0;margin-bottom:6px;}
	.list_wrapper.pickat_review .element_review dd{font-size:14px;}
	.list_wrapper.pickat_review .element_review dl .review_owner{left:12px;top:9px;width:45px;height:45px;}
	.list_wrapper.pickat_review .element_review dl .review_owner:before{width:45px;height:45px;-webkit-background-size:45px;background-size:45px;}
	.list_wrapper.pickat_review .element_review .estimation{padding:12px;}
	.list_wrapper.pickat_review .element_review .estimation span{margin-bottom:5px;}
	.list_wrapper.pickat_review .element_review .estimation p,.comment_view .review_text p{padding:0 0 0 18px;}
	.list_wrapper.pickat_review .element_review .estimation .hand,.comment_view .review_text p .hand{width:12px;height:11px;-webkit-background-size:12px 22px;background-size:12px 22px;margin-top:-5px;}
	.list_wrapper.pickat_review .element_review .review_text{padding:12px 0 0;margin:0 12px 12px;line-height:1.6;}
	.list_wrapper.pickat_review .element_review.empty{padding:15px 0;}
	.list_wrapper.pickat_review .element_review.empty .do_pick{width:105px;line-height:30px;margin-top:14px;}
	.list_wrapper.pickat_review .element_review.empty .do_pick i{-webkit-background-size:15px;background-size:15px;padding-left:22px;}

	.blog_review .review_list.blog_review{padding:0 9px;}
	.blog_review .element_review{margin-bottom:8px;}
	.blog_review .element_review dl{padding:9px 5px 0 15px;width:65%;min-width:215px;}
	.blog_review .element_review dl dt{font-size:17px;margin-bottom:12px;}
	.blog_review .element_review dl .review_info{font-size:12px;margin-top:4px;}

	.poi_wrapper.detail{padding-bottom:9px;}
	.poi_wrapper.detail .price_wrapper,
	.poi_wrapper.detail .detail_wrapper{margin:9px;margin-bottom:9px;}
	.poi_wrapper.detail .price_wrapper .normal_info_list,
	.poi_wrapper.detail .detail_wrapper .normal_info_list{padding:0 13px;}
	.poi_wrapper.detail .price_wrapper .normal_info_list{min-height:517px;padding-bottom:15px;}
	.poi_wrapper.detail .price_wrapper .normal_info_list li,
	.poi_wrapper.detail .detail_wrapper .normal_info_list li{padding:15px 0 13px;font-size:17px;}
	.poi_wrapper.detail .detail_wrapper .normal_info_list li dl{padding-left:91px;line-height:1.3;}
	.poi_wrapper.detail .detail_wrapper .info_from{padding:27px 0;font-size:17px;}

	.content_wrapper.blog_review{padding-bottom:9px;}
	.content_wrapper.blog_review .blog_point{height:44px;line-height:44px;}
	.content_wrapper.blog_review .review_list.blog_review{margin-top:9px;}

	.pickat_reivew_wrapper{padding:9px 0;}
	.pickat_reivew_wrapper .list_wrapper.pickat_review .element_review h3,.comment_view .list_wrapper.pickat_review .element_review h3{margin-bottom:7px;font-size:18px;}/*psd:31px; */
	.pickat_reivew_wrapper .list_wrapper.pickat_review .element_review .estimation p,.comment_view .list_wrapper.pickat_review .element_review .estimation p{padding-margin-bottom:7px;}
	.socail_reaction{padding:0 12px 15px;}
	.socail_reaction .heart_it{padding-left:22px;}
	.socail_reaction .heart_it i{width:17px;height:13px;-webkit-background-size:17px 13px;background-size:17px 13px;margin-top:-6px;}
	.socail_reaction .comments{margin-left:19px;}

	.comment_view{padding-top:50px;}
	.comment_view .content{padding:9px;}
	.comment_view .owner{padding-left:54px;min-height:49px;margin-left:23px;font-size:15px;}/*psd:24px */
	.comment_view .owner dt{padding:9px 0 0;}
	.comment_view .owner .review_owner{top:5px;width:39px;height:39px;}
	.comment_view .owner .review_owner:before{width:39px;height:39px;-webkit-background-size:39px;background-size:39px;}
	.comment_view .review_text p{margin-bottom:9px;}

	.socail_reaction .heart_info{padding:0 12px 0 60px;}
	.socail_reaction ul{margin:7px 0;}
	.socail_reaction ul li{width:39px;height:39px;margin-right:9px;}
	.comment_view .socail_reaction .heart_it{top:16px;left:12px;}
	.socail_reaction .hearter{width:39px;height:39px;}
	.socail_reaction .hearter:before{width:39px;height:39px;-webkit-background-size:39px;background-size:39px;}

	.comment_list_wrapper .comment_list li{padding:9px 12px;}

	.comment_view li.view_preview_comments{padding:13px 0;}
	.comment_view li.view_preview_comments a{height:29px;line-height:29px;width:149px;}
	.comment_view .element_review .commenter dt{margin-right:48px;}
	.comment_view .list_wrapper.pickat_review .commenter .review_date{right:4px;top:15px;font-size:11px;}

	.photo_view .photo_list_wrapper .list_wrapper ul{padding:0 7px;}
	.photo_view .photo_list_wrapper .list_wrapper li{margin-bottom:5px;padding:0 3px;}

	.photo_viewer_mode{padding-top:50px;min-height:560px;height:92%;}
	.photo_viewer_mode .header .photo_counter{right:13px;bottom:11px;}
	.photo_viewer_mode .header .owner{padding-left:54px;min-height:49px;font-size:15px;}/*psd:24px */
	.photo_viewer_mode .header .owner dt{padding:9px 0 0;}
	.photo_viewer_mode .header .owner .review_owner{top:5px;width:39px;height:39px;}
	.photo_viewer_mode .header .owner .review_owner:before{width:39px;height:39px;-webkit-background-size:39px;background-size:39px;}
	.photo_viewer_mode .content .photo_wrapper{margin-top:-50px;}
	.photo_viewer_mode .review_box{min-height:160px;padding-top:28px;}
	.photo_viewer_mode .review_box.over_limit{padding-top:48px;padding-bottom:31px;}
	.photo_viewer_mode .review_box .drawer{height:30px;background-position:50% 5px;-webkit-background-size:20px 9px;background-size:20px 9px;}
	.photo_viewer_mode .desc{padding:0 15px;}

	.map_view .current_poi_text span{padding-left:16px;}
	.map_view .list_wrapper.selected_poi{padding:0 9px;}
	.map_view .map_wrapper .current_poi_text + .map .get_current_layer{top:54px;}

	.map_view_poi_list{padding-top:40px;}
	.map_view_poi_list .map_wrapper .map{height:174px;}
	.map_view_poi_list .list_content_wrapper{padding-top:174px;}
	.map_view_poi_list .theme_title_box{font-size:18px;line-height:53px;height:53px;padding:0 54px 0 13px;}
	.map_view_poi_list .theme_title_box .poi_count{font-size:12px;right:13px;}
	.map_view_poi_list .theme_title_box .poi_count:before{width:10px;height:13px;-webkit-background-size:10px 13px;background-size:10px 13px;margin:0 3px -2px 0;}
	.map_view_poi_list .list_wrapper {padding:9px;}

	.app_down_load{height:59px;min-height:59px;}
	.app_down_load .close{right:7px;top:7px;width:21px;height:21px;-webkit-background-size:15px;background-size:15px;}
	.app_down_load a{padding:11px 0 0;}
	.app_down_load dl{padding-left:53px;}
	.app_down_load dl dt{font-size:13px;}
	.app_down_load dl .desc{font-size:17px;}
	.app_down_load dl .desc:after{width:17px;height:16px;-webkit-background-size:17px 16px;background-size:17px 16px;margin-bottom:-3px;}
	.app_down_load dl .logo{width:38px;height:38px;}
	.app_down_load dl .logo img{}
}
