/* search input box */
	.src-inp-box {
		box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;
		position:relative;z-index:5;height:56px;padding:17px 54px 0 39px;
		background:#60c701 url('../img/ic-search02.png') 12px 50% no-repeat;background-size:20px;
	}
	.src-inp-box .inp-st {
		outline:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;vertical-align:middle;
		display:block;width:100%;height:22px;border:none;margin:0;padding:0;line-height:22px;font-size:18px;color:#fff;background:transparent;
	}
	.src-inp-box ::-webkit-input-placeholder {color:#bfe999;}
	.src-inp-box .cancel {
		position:absolute;right:8px;top:50%;display:block;overflow:hidden;width:38px;height:38px;margin-top:-19px;white-space:nowrap;text-indent:100%;
		background:url('../img/btn_close03.png') 10px 10px no-repeat;background-size:18px;
	}
	.auto-comp-list {background:#fff;}
	.auto-comp-list li {border-top:1px solid #ebebeb;}
	.auto-comp-list li:first-of-type {border-top:none;}
	.auto-comp-list li a {
		box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;display:block;
		height:50px;padding-left:17px;font-size:18px;line-height:50px;color:#232323;
	}
	.auto-comp-list li em {color:#60c701;}
/* keyword box */
	.keyword-box {box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;height:43px;padding:17px 0 0 12px;color:#666;font-size:14px;line-height:17px;}
	.keyword-box .keyword, .keyword-box .keyword h1 {display:inline;font-weight:bold;color:#50a800;}
	.keyword-box em {color:#232323;}
/* sort box */
	.sort-box {
		box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;height:45px;line-height:45px;padding-left:18px;
		border-bottom:1px solid #ebebeb;background:#fff;
	}
	.sort-box .dropdown-box {position:relative;}
	.sort-box .dropdown-box .btn-dropdown {
		display:inline-block;vertical-align:top;margin:0;padding:0 10px 0 17px;font-size:13px;height:45px;line-height:45px;border:none;color:#232323;
		background:url('../img/ic_below_arrow02.png') 0 50% no-repeat;
		background-size:12px 8px;
	}
	.sort-box .dropdown-box ul {display:none;position:absolute;left:0;top:44px;border:1px solid #ebebeb;border-bottom:none;z-index:1;}
	.sort-box .dropdown-box li {border-bottom:1px solid #ebebeb;background:#fff;}
	.sort-box .dropdown-box ul a {display:block;padding:0 70px 0 16px;font-size:13px;height:38px;line-height:38px;color:#232323;}
	.sort-box .dropdown-box.active .btn-dropdown {background-image:url('../img/ic_upper_arrow03.png');}
	.sort-box .dropdown-box.active ul {display:block;}
/* search result box */
	.src-result-list {background:#fff;}
	.src-result-list > li {
		cursor:pointer;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;position:relative;
		height:108px;padding:18px 115px 0 17px;border-top:1px solid #ebebeb;

	}
	.src-result-list .no-thumb {padding-right:17px;}
	.src-result-list .no-thumb .thumb {display:none;}
	.src-result-list > li:first-of-type {border-top:none;}
	.src-result-list .info {overflow:hidden;margin-top:6px;font-size:13px;line-height:16px;white-space:nowrap;text-overflow:ellipsis;}
	.src-result-list .info li {display:inline;padding-left:6px;margin-left:3px;border-top:none;color:#969696;background:url('../img/bul_bar03.png') 0 50% no-repeat;background-size:1px 10px;}
	.src-result-list .info li:first-of-type {background:none;padding-left:0;margin-left:0;}
	.src-result-list h2 {overflow:hidden;color:#232323;font-size:18px;line-height:24px;white-space:nowrap;text-overflow:ellipsis;}
	.src-result-list .txt {overflow:hidden;margin-top:5px;font-size:13px;line-height:16px;color:#6d6d6d;white-space:nowrap;text-overflow:ellipsis;}
	.src-result-list .txt h3 {display:inline;font-weight:normal;}
	.src-result-list .thumb {position:absolute;right:0;top:0;overflow:hidden;width:100px;height:108px;}
	.src-result-list .thumb:after {position:absolute;left:0;top:0;z-index:1;content:'';display:block;width:100%;height:100%;background:#000;opacity:0.15;}
	.src-result-list .thumb .ui-insta {position:absolute;top:5px;left:5px;z-index:2;background:url(../img/i_photos01.png) 0 0 no-repeat;background-size:20px auto;width:20px;height:20px;}
	.src-result-list .thumb .ui-fs {position:absolute;top:5px;left:5px;z-index:2;background:url(../img/i_photos02.png) 0 0 no-repeat;background-size:auto 20px;width:20px;height:20px;}
	.src-result-list .thumb img {width:100px;height:108px;}
	.src-result-list .thumb .cert {
		position:absolute;left:30px;bottom:-9px;z-index:3;overflow:hidden;width:52px;height:52px;text-indent:100%;white-space:nowrap;
		background:url('../img/i-select.png') no-repeat;background-size:52px;
	}
/* no search group */
	.no-src-grp {box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;z-index:1;display:table;width:100%;height:100%;padding:50px 0;}
	.no-src-module {display:table-row;}
	.no-src-box {text-align:center;display:table-cell;width:100%;height:100%;vertical-align:middle;}
	.no-src-box h2 {
		padding-top:99px;font-size:20px;line-height:24px;font-weight:normal;color:#232323;
		background:url('../img/vi_nosearch.png') 50% 0 no-repeat;background-size:78px 74px;
	}
	.no-src-box h2 strong {font-weight:bold;}
	.no-src-box p {margin-top:7px;color:#666;font-size:14px;line-height:18px;}
/* popular list */
	.popular-list {margin-top:10px;background:#fff;}
	.popular-list li {border-top:1px solid #ebebeb;}
	.popular-list li:first-of-type {border-top:none;}
	.popular-list li a {overflow:hidden;display:block;color:#232323;padding-left:17px;height:50px;line-height:50px;font-size:18px;}

/* ----- 320px Layout ----- */
@media (max-width:320px) {
/* search input box */
	.src-inp-box {height:44px;padding-left:10px;padding-top:8px;padding-right:10px;background:#60c701;}
	.src-inp-box .inp-st {
		height:28px;padding-left:26px;padding-right:34px;border-radius:5px;line-height:30px;font-size:15px;color:#232323;font-weight:normal;
		background:#fff url('../img/ic-search03.png') 10px 50% no-repeat;background-size:13px;
	}
	.src-inp-box .cancel {right:5px;width:36px;height:36px;margin-top:-18px;background-size:16px;}
	.src-inp-box .cancel {right:10px;width:34px;height:34px;margin-top:-17px;background-image:url('../img/btn_close04.png');background-size:14px;}
	.auto-comp-list li a {height:45px;padding-left:15px;font-size:16px;line-height:45px;}
	.src-inp-box ::-webkit-input-placeholder {color:#bdbdbd;}
/* keyword box */
	.keyword-box {height:38px;padding:12px 0 0 10px;font-size:13px;line-height:16px;}
/* sort box */
	.sort-box {height:39px;line-height:39px;padding-left:15px;}
	.sort-box .dropdown-box .btn-dropdown {height:39px;line-height:39px;}
	.sort-box .dropdown-box ul {top:38px;}
	.sort-box .dropdown-box ul a {padding:0 64px 0 16px;height:35px;line-height:35px;}
/* search result box */
	.src-result-list > li {height:90px;padding:14px 100px 0 15px;}
	.src-result-list .info {margin-top:4px;font-size:12px;line-height:15px;}
	.src-result-list .info li {padding-left:7px;margin-left:4px;background-size:1px 11px;}
	.src-result-list h2 {font-size:15px;line-height:21px;}
	.src-result-list .txt {margin-top:4px;font-size:12px;line-height:15px;}
	.src-result-list .thumb {width:90px;height:90px;}
	.src-result-list .thumb img {width:90px;height:90px;}
	.src-result-list .thumb .cert {left:27px;bottom:-9px;width:47px;height:47px;background-size:47px;}
/* no search group */
	.no-src-grp {padding-top:40px;padding-bottom:40px;}
	.no-src-box h2 {padding-top:80px;font-size:18px;line-height:22px;background-size:69px 65px;}
	.no-src-box p {margin-top:11px;font-size:13px;line-height:16px;}
/* popular list */
	.popular-list li a {padding-left:15px;height:44px;line-height:46px;font-size:16px;}
}

/* ----- 375px Layout ----- */
@media only all and (min-width:375px) { 
/* search input box */
	.src-inp-box {height:54px;padding-left:10px;padding-top:8px;padding-right:10px;background:#60c701;}
	.src-inp-box .inp-st {
		height:38px;padding-left:26px;padding-right:34px;border-radius:5px;line-height:40px;font-size:15px;color:#232323;font-weight:normal;
		background:#fff url('../img/ic-search03.png') 10px 50% no-repeat;background-size:13px;
	}
	.src-inp-box .cancel {right:5px;width:36px;height:36px;margin-top:-18px;background-size:16px;}
	.src-inp-box .cancel {right:10px;width:34px;height:34px;margin-top:-17px;background-image:url('../img/btn_close04.png');background-size:14px;}
	.auto-comp-list li a {height:45px;padding-left:15px;font-size:16px;line-height:45px;}
	.src-inp-box ::-webkit-input-placeholder {color:#bdbdbd;}
}

/* ----- 384px Layout ----- */
@media only all and (min-width:384px) { 
/* search input box */
	.src-inp-box {
		box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;
		position:relative;z-index:5;height:56px;padding:17px 54px 0 39px;
		background:#60c701 url('../img/ic-search02.png') 12px 50% no-repeat;background-size:20px;
	}
	.src-inp-box .inp-st {
		box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;vertical-align:middle;
		display:block;width:100%;height:22px;border:none;margin:0;padding:0;line-height:22px;font-size:18px;color:#fff;background:transparent;
	}
	.src-inp-box ::-webkit-input-placeholder {color:#bfe999;}
	.src-inp-box .cancel {
		position:absolute;right:8px;top:50%;display:block;overflow:hidden;width:38px;height:38px;margin-top:-19px;white-space:nowrap;text-indent:100%;
		background:url('../img/btn_close03.png') 10px 10px no-repeat;background-size:18px;
	}
}

/* ----- 414px Layout ----- */
@media only all and (min-width:414px) { 
/* search input box */
	.src-inp-box {height:54px;padding-left:10px;padding-top:8px;padding-right:10px;background:#60c701;}
	.src-inp-box .inp-st {
		height:38px;padding-left:26px;padding-right:34px;border-radius:5px;line-height:40px;font-size:15px;color:#232323;font-weight:normal;
		background:#fff url('../img/ic-search03.png') 10px 50% no-repeat;background-size:13px;
	}
	.src-inp-box .cancel {right:5px;width:36px;height:36px;margin-top:-18px;background-size:16px;}
	.src-inp-box .cancel {right:10px;width:34px;height:34px;margin-top:-17px;background-image:url('../img/btn_close04.png');background-size:14px;}
	.auto-comp-list li a {height:45px;padding-left:15px;font-size:16px;line-height:45px;}
	.src-inp-box ::-webkit-input-placeholder {color:#bdbdbd;}
}

/* ----- Desktop Layout ----- */
@media only all and (min-width:730px) {
/* search input box */
	.src-inp-box {
		box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;
		position:relative;z-index:5;height:56px;padding:17px 54px 0 39px;
		background:#60c701 url('../img/ic-search02.png') 12px 50% no-repeat;background-size:20px;
	}
	.src-inp-box .inp-st {
		box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;vertical-align:middle;
		display:block;width:100%;height:22px;border:none;margin:0;padding:0;line-height:22px;font-size:18px;font-weight:bold;color:#fff;background:transparent;
	}
	.src-inp-box ::-webkit-input-placeholder {color:#bfe999;}
	.src-inp-box .cancel {
		position:absolute;right:8px;top:50%;display:block;overflow:hidden;width:38px;height:38px;margin-top:-19px;white-space:nowrap;text-indent:100%;
		background:url('../img/btn_close03.png') 10px 10px no-repeat;background-size:18px;
	}
/* no search group */
	.no-src-box {box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;display:block;padding-top:150px;}
}