@import url(font-noto.css);
/* ----- SK Planet - Base 1.0 ----- */
html, body, form, div, p, h1, h2, h3, h4, h5, h6, dl, dt, dd, ul, ol, li, fieldset, th, td, button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: 'NotoSansCJKkr', sans-serif; }

body {
  -webkit-text-size-adjust: none; }

input, textarea, select, button {
  font: inherit;
  vertical-align: middle;
  padding: 0; }

input[type="button"], input[type="text"], input[type="image"], input[type="submit"], input[type="tel"], input[type="date"], textarea, select {
  -webkit-appearance: none;
  border-radius: 0; }

input[type="checkbox"] {
  -webkit-appearance: checkbox; }

input[type="radio"] {
  -webkit-appearance: radio; }

textarea {
  resize: none; }

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0; }

ol, ul {
  list-style: none; }

img, fieldset, iframe {
  border: none; }

address, cite, code, dfn, em, var, th, strong {
  font-style: normal; }

a {
  text-decoration: none; }

article, aside, dialog, figure, footer, header, hgroup, nav, section {
  display: block; }

html, body {
  font-size: 16px;
  height: 100%;
  position: relative;
  min-height: 600px; }

.ui-wrap-fix {
  border-right: 1px solid #eaeaea;
  border-left: 1px solid #eaeaea;
  position: relative;
  width: 560px !important;
  overflow-x: hidden;
  margin: 0 auto;
  height: 100%; }

button {
  cursor: pointer;
  margin: 0;
  padding: 0;
  border: 0;
  color: #fff;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 0 0;
  outline: none; }

button span {
  display: none; }

.ui-hidden {
  height: 1px;
  display: block;
  overflow: hidden;
  visibility: hidden; }

/*contents*/
.ui-story-bg {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }
  .ui-story-bg .ui-bg-img {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    z-index: 2; }
  .ui-story-bg .ui-bg-img:before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: inherit;
    width: 100%;
    height: 100%;
    z-index: 1;
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px); }
  .ui-story-bg .ui-bg-lyr {
    background-color: #000;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3; }

.ui-panel-main {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5; }
  .ui-panel-main .ui-main-header {
    width: 90.27%;
    margin: 0 auto;
    height: 56px;
    position: relative;
    display: table; }
    .ui-panel-main .ui-main-header .ui-btn-poi {
      position: absolute;
      top: 9px;
      right: 0;
      width: auto;
      height: 40px;
      background-image: url(../img/ic-poi.png);
      background-size: 16px auto;
      background-position: 0 50%;
      padding-left: 25px;
      font-size: 1.125rem;
      line-height: 1;
      font-weight: 100;
      z-index: 6; }
    .ui-panel-main .ui-main-header .ui-title {
      position: absolute;
      bottom: 18px;
      left: 0;
      width: 100%;
      text-align: center;
      line-height: 1;
      color: #fff; }
      .ui-panel-main .ui-main-header .ui-title .ui-paging {
        font-size: 1.375rem;
        font-family: 'Roboto';
        font-weight: 100; }
      .ui-panel-main .ui-main-header .ui-title .ui-share, .ui-panel-main .ui-main-header .ui-title .ui-rcmd {
        font-size: 1.1875rem;
        font-weight: 500; }
    .ui-panel-main .ui-main-header .ui-link-trend {
      z-index: 5;
      position: absolute;
      top: 19px;
      right: 0;
      height: 20px;
      color: #fff;
      font-size: 0.9375rem; }
    .ui-panel-main .ui-main-header .ui-btn-home {
      width: 20px;
      height: 20px;
      position: absolute;
      top: 18px;
      left: 0;
      background: url(../img/i-home.png) 0 0 no-repeat;
      background-size: 100% 100%;
      text-indent: -9999px;
      z-index: 6; }
    .ui-panel-main .ui-main-header hr {
      width: 100%;
      background-color: #f3f7f8;
      height: 1px;
      border: 0;
      opacity: 0.3;
      display: block;
      padding: 0;
      margin: 55px 0 0 0; }

.ui-main-content {
  position: absolute;
  top: 56px;
  bottom: 62px;
  left: 0;
  right: 0; }
  .ui-main-content .ui-main-content-inner {
    width: 90.27%;
    margin: 0 auto;
    clear: both;
    display: table;
    height: 100%; }

.ui-cnt {
  width: 100%;
  margin: 0 auto;
  color: #fff; }
  .ui-cnt .ui-paging {
    position: absolute;
    top: -38px;
    left: 50%;
    width: 65px;
    font-family: 'Roboto';
    font-size: 1.375rem;
    height: 22px;
    text-align: center;
    margin-left: -32px;
    font-weight: 100;
    line-height: 1; }

.ui-ctitle {
  padding-left: 7px;
  display: table-cell;
  vertical-align: middle;
  background: url(../img/ic-slide.png) 100% 50% no-repeat;
  background-size: 17px 19px; }
  .ui-ctitle .ui-profile {
    margin-bottom: 40px; }
    .ui-ctitle .ui-profile img {
      cursor: pointer;
      width: 48px;
      height: 48px;
      border-radius: 24px;
      display: block; }
    .ui-ctitle .ui-profile .ui-name {
      cursor: pointer;
      display: block;
      font-size: 0.9375rem;
      margin-top: 10px;
      font-weight: 400; }
    .ui-ctitle .ui-profile a {
      color: #fff;
      display: inline-block; }
  .ui-ctitle .ui-title {
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: -1px;
    line-height: 1.1;
    margin-left: -5px;
    max-width: 80%; }
  .ui-ctitle .ui-desc {
    font-size: 0.9375rem;
    font-weight: 400;
    margin-top: 10px;
    line-height: 1.3;
    max-width: 80%; }
  .ui-ctitle .ui-view {
    display: block;
    margin-top: 10px;
    font-size: 0.9375rem; }

.ui-text {
  font-weight: 400;
  padding: 15px 0;
  font-size: 1rem;
  line-height: 1.4; }
  .ui-text a {
    font-weight: 500;
    display: inline-block;
    border-bottom: 1px solid #84af5d;
    line-height: 1.1;
    color: #a7f066; }

.ui-type-1 {
  margin-top: -1px; }

.ui-figure {
  width: 100%;
  position: relative;
  padding: 0;
  margin: 0; }
  .ui-figure img {
    display: block; }
  .ui-figure figcaption {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 0.6875rem;
    font-weight: 500; }
  .ui-figure .vedio-wrap {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0; }
    .ui-figure .vedio-wrap .bg-layer {
      background: #000;
      opacity: 0.5;
      width: 100%;
      height: 100%; }
    .ui-figure .vedio-wrap .btn-start {
      background: url(../img/btn-start.png) 50% 50% no-repeat;
      background-size: 60px;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }

.ui-box-poi {
  border-bottom: 1px solid #eaeaea;
  background-color: #fff;
  height: 75px;
  position: relative;
  color: #787878;
  padding: 20px; }
  .ui-box-poi:last-child {
    border-bottom: 0; }
  .ui-box-poi h2 {
    font-size: 1rem;
    font-weight: 700;
    color: #232323;
    line-height: 1.2;
    padding-top: 0;
    padding-right: 0;
    text-overflow: ellipsis;
    width: calc(100% - 115px);
    white-space: nowrap;
    word-wrap: normal;
    overflow: hidden;
    position: absolute;
    top: 20px;
    left: 20px; }
  .ui-box-poi .ui-badge {
    position: absolute;
    top: 20px;
    right: 20px;
    margin: 0;
    padding: 0; }
    .ui-box-poi .ui-badge img {
      width: 75px;
      height: 75px; }
    .ui-box-poi .ui-badge .ui-badge-selec {
      position: absolute;
      top: 37px;
      left: 42px;
      display: block;
      text-indent: -9999px;
      background: url(../img/i-select.png) 0 0 no-repeat;
      width: 52px;
      height: 52px;
      background-size: 52px; }
  .ui-box-poi .ui-info {
    padding-top: 18px; }
    .ui-box-poi .ui-info span {
      display: inline-block;
      color: #969696;
      font-weight: 300;
      font-size: 0.75rem; }
    .ui-box-poi .ui-info .ui-star-rate {
      width: 68px;
      height: 11px;
      background: url(../img/i-star-bg.png) 0 0 no-repeat;
      background-size: 68px 11px;
      margin-top: 5px;
      position: relative; }
      .ui-box-poi .ui-info .ui-star-rate .ui-inner-star {
        height: 11px;
        background: url(../img/i-star.png) 0 0 no-repeat;
        background-size: 68px 11px;
        position: absolute;
        top: 0;
        left: 0; }
    .ui-box-poi .ui-info .ui-review {
      background: url(../img/ic-bar1.gif) 0 1px no-repeat;
      background-size: 1px 9px;
      height: 12px;
      margin: 0 0 0 2px;
      line-height: 1;
      padding: 0 0 0 5px; }
  .ui-box-poi .ui-address {
    margin: 7px 0 5px 0;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1;
    display: block; }
  .ui-box-poi .ui-tag {
    text-overflow: ellipsis;
    width: 70%;
    width: calc(100% - 130px);
    white-space: nowrap;
    word-wrap: normal;
    overflow: hidden;
    font-size: 0.75rem;
    line-height: 1;
    margin-bottom: 0;
    display: block; }
    .ui-box-poi .ui-tag span {
      display: inline;
      margin-right: 5px; }

.ui-type-2 .ui-tag {
  position: absolute;
  top: 86px;
  left: 20px; }

.ui-no-reply {
  position: relative; }
  .ui-no-reply p {
    font-size: 0.875rem;
    color: #232323;
    text-align: center;
    line-height: 1.5; }

.ui-reply-box {
  position: relative;
  height: auto; }
  .ui-reply-box:before, .ui-reply-box:after {
    display: table;
    line-height: 0;
    content: ""; }
  .ui-reply-box:after {
    clear: both; }
  .ui-reply-box .ui-inner {
    padding: 20px 18px 18px 18px; }
  .ui-reply-box .ui-profile {
    position: absolute;
    top: 20px;
    left: 17px; }
    .ui-reply-box .ui-profile img {
      cursor: pointer;
      width: 28px;
      height: 28px;
      border-radius: 14px;
      display: inline-block;
      float: left;
      margin-right: 8px; }
    .ui-reply-box .ui-profile .ui-name {
      color: #232323;
      font-weight: 400;
      font-size: 0.8125rem;
      float: left;
      margin-right: 10px; }
    .ui-reply-box .ui-profile a {
      color: #232323; }
    .ui-reply-box .ui-profile .ui-date {
      color: #969696;
      font-weight: 300;
      font-size: 0.75rem;
      float: left; }
  .ui-reply-box .ui-reply-text {
    font-weight: 300;
    font-size: 0.875rem;
    line-height: 1.4;
    color: #232323;
    padding: 21px 10px 0 36px; }

.ui-kakao-share {
  background-image: url(../img/ic-kakao.png); }

.ui-fb-share {
  background-image: url(../img/ic-fb.png); }

.ui-sms-share {
  background-image: url(../img/ic-sms.png); }

.ui-url-share {
  background-image: url(../img/ic-url.png); }

.ui-share-reply {
  background: #fff;
  height: 100%;
  width: 90.27%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }
  .ui-share-reply .ui-title {
    position: absolute;
    top: -37px;
    left: 0;
    width: 100%;
    text-align: center;
    line-height: 1; }
    .ui-share-reply .ui-title h1 {
      font-size: 1.1875rem;
      font-weight: 500;
      max-width: 250px;
      margin: 0 auto;
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      word-wrap: normal; }
  .ui-share-reply .ui-box-share {
    position: relative;
    height: 50%;
    background-color: #f5f5f5;
    display: table;
    width: 100%;
    border-bottom: 1px solid #e5e5e5; }
    .ui-share-reply .ui-box-share .ui-box-share-inner {
      display: table-cell;
      vertical-align: middle;
      width: 100%; }
    .ui-share-reply .ui-box-share .ui-like-btn {
      display: block;
      margin: 0 auto;
      font-weight: 500;
      text-align: center;
      padding: 22px 0 0 0;
      line-height: 1;
      font-size: 0.875rem; }
    .ui-share-reply .ui-box-share .ui-state {
      display: block;
      color: #232323;
      font-size: 0.8125rem;
      font-weight: 300;
      text-align: center;
      margin-top: 15px;
      line-height: 1.3;
      height: 44px; }
      .ui-share-reply .ui-box-share .ui-state strong {
        color: #f00;
        font-weight: 300; }
    .ui-share-reply .ui-box-share .ui-like .ui-like-btn {
      background: url(../img/i-like-big.png) 0 0 no-repeat;
      color: #787878;
      background-size: 100% auto;
      width: 68px;
      height: 41px; }
    .ui-share-reply .ui-box-share .ui-liked .ui-like-btn {
      background: url(../img/i-liked-big.png) 0 0 no-repeat;
      color: #fff;
      background-size: 100% auto;
      width: 72px;
      height: 45px; }
    .ui-share-reply .ui-box-share .ui-share {
      width: 100%;
      text-align: center; }
      .ui-share-reply .ui-box-share .ui-share a {
        display: inline-block;
        margin: 0 4px;
        vertical-align: middle;
        background-repeat: no-repeat;
        background-position: 0 0;
        width: 35px;
        height: 35px;
        background-size: 100%; }
        .ui-share-reply .ui-box-share .ui-share a span {
          height: 1px;
          display: block;
          overflow: hidden;
          visibility: hidden; }
  .ui-share-reply .ui-box-reply {
    padding: 17px 0;
    position: relative;
    width: 87.69%;
    margin: 0 auto;
    height: 50%; }
    .ui-share-reply .ui-box-reply h3 {
      font-weight: 700px;
      font-size: 0.875rem;
      color: #232323;
      height: 30px; }
      .ui-share-reply .ui-box-reply h3 .ui-count {
        font-family: 'Roboto';
        font-weight: 100;
        color: #969696; }
    .ui-share-reply .ui-box-reply .ui-btn-reply {
      width: 100%;
      height: 42px;
      background: #cbcbcb;
      font-size: 0.875rem;
      font-weight: 500;
      margin-bottom: 20px; }
      .ui-share-reply .ui-box-reply .ui-btn-reply span {
        background: url(../img/ic-btn-reply.png) 0 1px no-repeat;
        display: inline-block;
        background-size: 14px auto;
        padding: 0 0 0 19px; }
    .ui-share-reply .ui-box-reply .ui-reply-box {
      padding: 0; }
      .ui-share-reply .ui-box-reply .ui-reply-box .ui-inner {
        padding: 0; }
      .ui-share-reply .ui-box-reply .ui-reply-box .ui-profile {
        position: absolute;
        top: 0;
        left: 0; }
    .ui-share-reply .ui-box-reply .ui-more-link {
      color: #acacac;
      font-weight: 500;
      font-size: 0.6875rem;
      position: absolute;
      top: 20px;
      right: 0; }

.ui-main-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 62px; }
  .ui-main-footer .ui-main-footer-inner {
    width: 90.27%;
    margin: 0 auto;
    clear: both;
    padding-top: 20px; }
  .ui-main-footer button {
    text-align: left;
    letter-spacing: 1px;
    height: 22px;
    font-family: 'Roboto';
    font-size: 1.125rem;
    font-weight: 100; }
    .ui-main-footer button.ui-btn-like {
      background-image: url(../img/ic-like.png);
      background-size: 23px auto;
      padding-left: 30px;
      margin: 0;
      width: 68px; }
    .ui-main-footer button.ui-btn-liked {
      background-image: url(../img/ic-liked.png);
      background-size: 23px auto;
      padding-left: 30px;
      margin: 0;
      width: 68px; }
    .ui-main-footer button.ui-btn-reply {
      background-image: url(../img/ic-reply.png);
      background-size: 24px auto;
      padding-left: 32px;
      width: 68px; }
    .ui-main-footer button.ui-btn-share {
      background-image: url(../img/ic-share.png);
      background-size: 18px auto;
      padding-left: 30px;
      float: right; }

.ui-anotherstory .ui-anotherstory-header {
  position: absolute;
  top: -38px;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 1.1875rem;
  font-weight: 500;
  height: 22px;
  line-height: 1; }
.ui-anotherstory .ui-story-list {
  position: absolute;
  top: -1px;
  left: 0;
  right: 0;
  bottom: -1px; }
  .ui-anotherstory .ui-story-list .ui-list-box {
    cursor: pointer;
    position: relative;
    height: 50%;
    width: 90.27%;
    margin: 0 auto; }
  .ui-anotherstory .ui-story-list .ui-bg-img {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    z-index: 7; }
  .ui-anotherstory .ui-story-list .ui-bg-lyr {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, transparent 55%, rgba(0, 0, 0, 0.7) 100%);
    z-index: 8; }
  .ui-anotherstory .ui-story-list .ui-bottom {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    z-index: 9; }
  .ui-anotherstory .ui-story-list .ui-profile {
    z-index: 9;
    padding-bottom: 5px; }
    .ui-anotherstory .ui-story-list .ui-profile img {
      cursor: pointer;
      width: 28px;
      height: 28px;
      border-radius: 14px;
      vertical-align: middle; }
    .ui-anotherstory .ui-story-list .ui-profile .ui-name {
      font-size: 0.8125rem;
      margin-top: 12px;
      line-height: 1.1;
      font-weight: 400;
      color: #fff;
      margin-left: 8px;
      vertical-align: middle; }
    .ui-anotherstory .ui-story-list .ui-profile a {
      color: #fff; }
  .ui-anotherstory .ui-story-list .ui-title {
    z-index: 9;
    font-size: 1.40625rem;
    font-weight: 500;
    letter-spacing: -1px;
    line-height: 1.2;
    color: #fff; }

.ui-panel-poi {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 6;
  height: 100%; }
  .ui-panel-poi .ui-poi-header {
    z-index: 6;
    height: 58px;
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; }
    .ui-panel-poi .ui-poi-header h3 {
      height: 21px;
      line-height: 1;
      background: url(../img/ic-poi.png) 0 3px no-repeat;
      background-size: 16px auto;
      padding: 0 0 0 22px;
      color: #fff;
      width: 180px;
      margin: 17px auto 0 auto;
      text-align: left; }
      .ui-panel-poi .ui-poi-header h3 span {
        display: inline-block;
        font-size: 1.25rem;
        line-height: 1;
        font-weight: 700;
        vertical-align: top;
        line-height: 1; }
      .ui-panel-poi .ui-poi-header h3 em {
        display: inline-block;
        vertical-align: top;
        font-family: 'Roboto';
        font-size: 1.25rem;
        font-weight: 100;
        line-height: 1;
        padding-left: 2px; }
    .ui-panel-poi .ui-poi-header .ui-btn-close {
      width: 20px;
      height: 20px;
      position: absolute;
      top: 18px;
      background: url(../img/i-home.png) 0 0 no-repeat;
      background-size: 100% 100%;
      text-indent: -9999px;
      left: 17px; }
  .ui-panel-poi .ui-poi-list {
    overflow-y: auto;
    position: absolute;
    top: 58px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff; }
  .ui-panel-poi .ui-box-poi {
    border-bottom: 1px solid #eaeaea;
    height: 100px;
    position: relative;
    color: #787878;
    padding: 20px; }
    .ui-panel-poi .ui-box-poi:last-child {
      border: 0; }
    .ui-panel-poi .ui-box-poi h2 {
      width: calc(100% - 140px); }
    .ui-panel-poi .ui-box-poi .ui-badge {
      position: absolute;
      top: 20px;
      right: 20px;
      margin: 0;
      padding: 0; }
      .ui-panel-poi .ui-box-poi .ui-badge img {
        width: 102px;
        height: 102px; }
      .ui-panel-poi .ui-box-poi .ui-badge .ui-badge-selec {
        position: absolute;
        top: 58px;
        left: 63px;
        display: block;
        text-indent: -9999px;
        background: url(../img/i-select.png) 0 0 no-repeat;
        width: 52px;
        height: 52px;
        background-size: 52px; }
      .ui-panel-poi .ui-box-poi .ui-badge .ui-photos {
        position: absolute;
        top: 10px;
        left: 10px;
        display: block; }
        .ui-panel-poi .ui-box-poi .ui-badge .ui-photos.ui-insta {
          background: url(../img/i_photos01.png) 0 0 no-repeat;
          background-size: 12px auto;
          width: 12px;
          height: 12px; }
        .ui-panel-poi .ui-box-poi .ui-badge .ui-photos.ui-fs {
          background: url(../img/i_photos02.png) 0 0 no-repeat;
          background-size: auto 12px;
          width: 9px;
          height: 12px; }
    .ui-panel-poi .ui-box-poi .ui-info {
      margin-bottom: 9px; }
      .ui-panel-poi .ui-box-poi .ui-info span {
        display: inline-block;
        color: #969696;
        font-weight: 300;
        font-size: 0.75rem; }
      .ui-panel-poi .ui-box-poi .ui-info .ui-star-rate {
        width: 68px;
        height: 11px;
        background: url(../img/i-star-bg.png) 0 0 no-repeat;
        background-size: 68px 11px;
        margin-top: 5px;
        position: relative; }
        .ui-panel-poi .ui-box-poi .ui-info .ui-star-rate .ui-inner-star {
          height: 11px;
          background: url(../img/i-star.png) 0 0 no-repeat;
          background-size: 68px 11px;
          position: absolute;
          top: 0;
          left: 0; }
    .ui-panel-poi .ui-box-poi .ui-address {
      font-size: 0.8125rem;
      line-height: 1;
      margin: 0 0 6px 0; }
    .ui-panel-poi .ui-box-poi .ui-tag {
      width: 70%;
      width: calc(100% - 135px);
      font-size: 0.8125rem;
      line-height: 1;
      margin-bottom: 7px; }
      .ui-panel-poi .ui-box-poi .ui-tag span {
        display: inline;
        margin-right: 5px; }
    .ui-panel-poi .ui-box-poi .ui-stickr span {
      display: inline-block;
      height: 11px;
      vertical-align: top;
      margin-right: 2px;
      text-indent: -9999px; }
    .ui-panel-poi .ui-box-poi .ui-stickr .ui-stk-ad {
      width: 17px;
      background: url(../img/ic-ad.png) 0 0 no-repeat;
      background-size: 100% 100%; }
    .ui-panel-poi .ui-box-poi .ui-stickr .ui-stk-coupon {
      width: 46px;
      background: url(../img/ic-coupon.png) 0 0 no-repeat;
      background-size: 100% 100%; }
    .ui-panel-poi .ui-box-poi .ui-stickr .ui-stk-order {
      width: 65px;
      background: url(../img/ic-syruporder.png) 0 0 no-repeat;
      background-size: 100% 100%; }

.ui-panel-reply {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 6;
  height: 100%; }
  .ui-panel-reply .ui-reply-header {
    z-index: 6;
    height: 58px;
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; }
    .ui-panel-reply .ui-reply-header h3 {
      height: 21px;
      color: #fff;
      width: 210px;
      margin: 17px auto 0 auto;
      text-align: center; }
      .ui-panel-reply .ui-reply-header h3 span {
        display: inline-block;
        font-size: 1.25rem;
        line-height: 1;
        font-weight: 700;
        vertical-align: top; }
      .ui-panel-reply .ui-reply-header h3 em {
        display: inline-block;
        vertical-align: top;
        font-family: 'Roboto';
        font-size: 1.25rem;
        font-weight: 100;
        line-height: 1;
        padding-left: 2px; }
    .ui-panel-reply .ui-reply-header .ui-btn-close {
      width: 20px;
      height: 20px;
      position: absolute;
      top: 18px;
      background: url(../img/i-home.png) 0 0 no-repeat;
      background-size: 100% 100%;
      text-indent: -9999px;
      left: 17px; }
  .ui-panel-reply .ui-reply-list {
    overflow-y: auto;
    position: absolute;
    top: 58px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff; }
    .ui-panel-reply .ui-reply-list .ui-list-wrap {
      width: 100%;
      margin: 0 auto; }
    .ui-panel-reply .ui-reply-list .ui-no-reply {
      padding-top: 25px; }
    .ui-panel-reply .ui-reply-list .ui-write {
      background-color: #ebebeb;
      padding: 15px 0; }
      .ui-panel-reply .ui-reply-list .ui-write .ui-txt-box {
        padding: 18px 17px 15px 17px;
        background-color: #fff; }
        .ui-panel-reply .ui-reply-list .ui-write .ui-txt-box:before, .ui-panel-reply .ui-reply-list .ui-write .ui-txt-box:after {
          display: table;
          line-height: 0;
          content: ""; }
        .ui-panel-reply .ui-reply-list .ui-write .ui-txt-box:after {
          clear: both; }
      .ui-panel-reply .ui-reply-list .ui-write textarea {
        outline: none;
        width: 100%;
        border: 0;
        color: #232323;
        line-height: 1.4;
        font-weight: 400;
        font-size: 1.1875rem;
        overflow-y: auto; }
      .ui-panel-reply .ui-reply-list .ui-write .ui-btn-enroll {
        display: none;
        width: 67px;
        height: 36px;
        background: url(../img/btn-enroll.png) 0 0 no-repeat;
        background-size: 100% 100%;
        float: right;
        text-indent: -9999px; }
      .ui-panel-reply .ui-reply-list .ui-write .ui-words {
        display: none;
        float: left;
        font-size: 0.75rem;
        color: #9ea1a4; }
      .ui-panel-reply .ui-reply-list .ui-write.ui-on textarea {
        height: 128px;
        overflow-y: auto;
        margin-bottom: 20px; }
      .ui-panel-reply .ui-reply-list .ui-write.ui-on .ui-btn-enroll {
        display: block; }
      .ui-panel-reply .ui-reply-list .ui-write.ui-on .ui-words {
        display: block; }
    .ui-panel-reply .ui-reply-list .ui-reply-box {
      border-bottom: 1px solid #e9e9e9; }
      .ui-panel-reply .ui-reply-list .ui-reply-box:last-child {
        border-bottom: 0; }
    .ui-panel-reply .ui-reply-list .ui-mymenu {
      width: 5px;
      height: 20px;
      background: url(../img/ic-mymenu.png) 0 0 no-repeat;
      background-size: 100% 100%;
      text-indent: -9999px;
      position: absolute;
      top: 20px;
      right: 18px; }

.ui-pop-layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 7;
  display: table;
  text-align: center; }
  .ui-pop-layer .ui-layer-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    opacity: 0.45;
    width: 100%;
    height: 100%; }
  .ui-pop-layer .ui-layer-content {
    z-index: 8;
    position: relative;
    width: 100%;
    display: table-cell;
    text-align: center;
    margin: 0 auto;
    vertical-align: middle; }
    .ui-pop-layer .ui-layer-content h5 {
      font-weight: 700;
      font-size: 1.25rem; }
    .ui-pop-layer .ui-layer-content .ui-share {
      margin: 30px 0; }
    .ui-pop-layer .ui-layer-content a {
      width: calc(100% - 60px);
      display: block;
      height: 34px;
      text-align: left;
      padding: 11px 0 0 60px;
      font-weight: 400;
      font-size: 1.0625rem;
      color: #666;
      margin-bottom: 20px; }
    .ui-pop-layer .ui-layer-content .ui-btn-cancel {
      position: absolute;
      bottom: 5px;
      right: 10px;
      color: #60c701;
      font-weight: 500;
      font-size: 1rem;
      text-align: center;
      width: 50px;
      height: 40px; }
    .ui-pop-layer .ui-layer-content .ui-pop-share {
      z-index: 9;
      background-color: #fff;
      position: relative;
      padding: 25px;
      text-align: left;
      width: calc(80.27% - 50px);
      min-width: 230px;
      max-width: 280px;
      margin: 0 auto; }
      .ui-pop-layer .ui-layer-content .ui-pop-share a {
        display: inline-block;
        background-repeat: no-repeat; }
        .ui-pop-layer .ui-layer-content .ui-pop-share a.ui-kakao-share {
          background-size: auto 46px; }
        .ui-pop-layer .ui-layer-content .ui-pop-share a.ui-fb-share {
          background-size: auto 45px; }
        .ui-pop-layer .ui-layer-content .ui-pop-share a.ui-sms-share {
          background-size: auto 45px; }
        .ui-pop-layer .ui-layer-content .ui-pop-share a.ui-url-share {
          background-size: auto 45px; }

.error404 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #ebebeb; }

.error404 .inner {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  text-align: center;
  background: url(../img/i_error1.png) 50% 0 no-repeat;
  padding-top: 5.3125rem;
  background-size: auto 4.0625rem;
  width: 100%; }

.error404 strong {
  font-size: 1.25rem;
  font-weight: 600;
  color: #232323;
  display: block;
  margin-bottom: 8px; }

.error404 .txt {
  display: block;
  font-size: 0.875rem;
  color: #666;
  line-height: 1.4;
  width: 100%;
  margin-bottom: 25px; }

.error404 a {
  display: block;
  background: url(../img/btn_tablehome.png) 0 0 no-repeat;
  width: 169px;
  height: 47px;
  background-size: 100% 100%;
  margin: 0 auto; }

.error404 button {
  background: url(../img/ic-close2.png) 0 0 no-repeat;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  background-size: 100% 100%; }

/*# sourceMappingURL=story_fix.css.map */
