/* story background */
	.ui-story-bg {z-index:1;position:fixed;top:0;left:0;right:0;bottom:0;}
	.ui-story-bg .ui-bg-img {background-size:cover;background-repeat:no-repeat;width:100%;height:100%;z-index:2;}
	.ui-story-bg .ui-bg-img:before {content:' ';position:absolute;top:0;left:0;right:0;bottom:0;background:inherit;width:100%;height:100%;z-index:1;-webkit-filter:blur(10px);-moz-filter:blur(10px);-o-filter:blur(10px);-ms-filter:blur(10px);filter:blur(10px);}
	.ui-story-bg .ui-bg-lyr {background-color:#000;opacity:0.5;position:absolute;top:0;left:0;right:0;bottom:0;z-index:3;}
/* panel main */
	.ui-panel-main {position:absolute;top:0;left:0;right:0;bottom:0;z-index:5;}
	/* header */
	.ui-panel-main .ui-main-header {width:90.27%;margin:0 auto;height:56px;position:relative;display:table;}
	.ui-panel-main .ui-main-header .ui-btn-poi {position:absolute;top:9px;right:0;width:auto;height:40px;background-image:url(../img/ic-poi.png);background-size:16px auto;background-position:0 50%;padding-left:20px;font-size:1.125rem;line-height:1;font-weight:100;z-index:6;}
	.ui-panel-main .ui-main-header .logo {position:absolute;left:0;top:11px;width:94px;height:35px;background:url(../img/bi.png) 0 10px no-repeat;background-size:94px 15px;z-index:2;}
	.ui-panel-main .ui-main-header a {display:block;overflow:hidden;width:94px;height:35px;white-space:nowrap;text-indent:100%;}
	.ui-panel-main .ui-main-header .ui-title {position:absolute;bottom:18px;left:0;width:100%;text-align:center;line-height:1;color:#fff;}
	.ui-panel-main .ui-main-header .ui-title .ui-paging {font-size:19px;font-family:'Roboto';font-weight:100;}
	.ui-panel-main .ui-main-header .ui-title .ui-share, .ui-panel-main .ui-main-header .ui-title .ui-rcmd {font-size:1.1875rem;font-weight:500;}
	.ui-panel-main .ui-main-header .ui-link-trend {z-index:6;position:absolute;top:17px;right:0;height:20px;color:#fff;font-size:0.9375rem;}
	.ui-panel-main .ui-main-header hr {width:100%;background-color:#f3f7f8;height:1px;border:0;opacity:0.3;display:block;padding:0;margin:55px 0 0 0;}
	/* content */
	.ui-main-content {position:absolute;top:56px;bottom:62px;left:0;right:0;}
	.ui-main-content .ui-main-content-inner {box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;width:90.27%;margin:0 auto;clear:both;display:table;height:100%;}
	/* count */
	.ui-cnt {width:100%;margin:0 auto;color:#fff;}
	.ui-cnt .ui-paging {position:absolute;top:-38px;left:50%;width:65px;font-family:'Roboto';font-size:1.375rem;height:22px;text-align:center;margin-left:-32px;font-weight:100;line-height:1;}
	.ui-type-1 {margin-top:-1px;}
	.ui-type-2 h2 {width:calc(100% - 95px);}
	.ui-type-2 .ui-tag {position:absolute;top:84px;left:20px;}
	/* content title & text */
	.ui-ctitle {padding-left:7px;display:table-cell;vertical-align:middle;background:url(../img/ic-slide.png) 100% 50% no-repeat;background-size:17px 19px;}
	.ui-ctitle .ui-profile {margin-bottom:40px;}
	.ui-ctitle .ui-profile img {cursor:pointer;width:48px;height:48px;border-radius:24px;display:block;}
	.ui-ctitle .ui-profile .ui-name {cursor:pointer;display:block;font-size:0.9375rem;margin-top:10px;font-weight:400;}
	.ui-ctitle .ui-profile a {color:#fff;display:inline-block;}
	.ui-ctitle .ui-title {font-size:2.5rem;font-weight:500;letter-spacing:-1px;line-height:1.1;margin-left:-5px;max-width:80%;}
	.ui-ctitle .ui-desc {font-size:0.9375rem;font-weight:400;margin-top:10px;line-height:1.3;max-width:80%;}
	.ui-ctitle .ui-view {display:block;margin-top:10px;font-size:0.9375rem;}
	.ui-text {font-weight:400;padding:15px 0;font-size:1rem;line-height:1.4;}
	.ui-text a {font-weight:500;display:inline-block;border-bottom:1px solid #84af5d;line-height:1.1;color:#a7f066;}
	/* figure */
	.ui-figure {width:100%;position:relative;padding:0;margin:0;}
	.ui-figure img {display:block;}
	.ui-figure figcaption {position:absolute;bottom:10px;right:10px;font-size:0.6875rem;font-weight:500;}
	.ui-figure .vedio-wrap {width:100%;height:100%;position:absolute;top:0;left:0;}
	.ui-figure .vedio-wrap .bg-layer {background:#000;opacity:0.5;width:100%;height:100%;}
	.ui-figure .vedio-wrap .btn-start {background:url(../img/btn-start.png) 50% 50% no-repeat;background-size:60px;position:absolute;top:0;left:0;width:100%;height:100%;}
	/* box poi */
	.ui-box-poi {border-bottom:1px solid #eaeaea !important;background-color:#fff;height:75px;position:relative;color:#787878;padding:20px;}
	.ui-box-poi:last-child {border-bottom:0;}
	.ui-box-poi h2 {font-size:1rem;font-weight:700;color:#232323;line-height:1.2;padding-top:0;padding-right:0;text-overflow:ellipsis;width:calc(100% - 115px) !important;white-space:nowrap;word-wrap:normal;overflow:hidden;position:absolute;top:20px;left:20px;}
	.ui-box-poi .ui-badge {position:absolute;top:20px;right:20px;margin:0;padding:0;}
	.ui-box-poi .ui-badge:after {position:absolute;left:0;top:0;z-index:1;content:'';display:block;width:100%;height:100%;background:#000;opacity:0.15;}
	.ui-box-poi .ui-badge img {width:75px;height:75px;}
	.ui-box-poi .ui-badge .ui-badge-selec {position:absolute;top:37px;left:42px;z-index:3;display:block;text-indent:-9999px;background:url(../img/i-select.png) 0 0 no-repeat;width:52px;height:52px;background-size:52px;}
	.ui-box-poi .ui-badge .ui-insta {position:absolute;top:4px;left:4px;z-index:2;background:url(../img/i_photos01.png) 0 0 no-repeat;background-size:20px auto;width:20px;height:20px;}
	.ui-box-poi .ui-badge .ui-fs {position:absolute;top:4px;left:4px;z-index:2;background:url(../img/i_photos02.png) 0 0 no-repeat;background-size:auto 20px;width:20px;height:20px;}
	.ui-box-poi .ui-info {padding-top:18px;}
	.ui-box-poi .ui-info span {display:inline-block;color:#969696;font-weight:300;font-size:0.75rem;}
	.ui-box-poi .ui-info .ui-star-rate {width:68px;height:11px;background:url(../img/i-star-bg.png) 0 0 no-repeat;background-size:68px 11px;margin-top:5px;position:relative;}
	.ui-box-poi .ui-info .ui-star-rate .ui-inner-star {height:11px;background:url(../img/i-star.png) 0 0 no-repeat;background-size:68px 11px;position:absolute;top:0;left:0;}
	.ui-box-poi .ui-info .ui-review {background:url(../img/ic-bar1.gif) 0 0 no-repeat;background-size:1px 9px;height:12px;margin:0 0 0 2px;line-height:1;padding:0 0 0 5px;}
	.ui-box-poi .ui-address {margin:7px 0 5px 0;font-weight:400;font-size:0.75rem;line-height:1.2;display:block;}
	.ui-box-poi .ui-tag {text-overflow:ellipsis;width:calc(100% - 115px);white-space:nowrap;word-wrap:normal;overflow:hidden;font-size:0.75rem;line-height:1.2;margin-bottom:0;display:block;}
	.ui-box-poi .ui-tag span {display:inline;margin-right:5px;}
	/* reply input box */
	.ui-no-reply {position:relative;}
	.ui-no-reply p {font-size:0.875rem;color:#232323;text-align:center;line-height:1.5;}
	.ui-reply-box {position:relative;height:auto;}
	.ui-reply-box:before,.ui-reply-box:after {display:table;line-height:0;content:"";}
	.ui-reply-box:after {clear:both;}
	.ui-reply-box .ui-inner {padding:20px 18px 18px 18px;}
	.ui-reply-box .ui-profile {position:absolute;top:20px;left:17px;}
	.ui-reply-box .ui-profile img {cursor:pointer;width:28px;height:28px;border-radius:14px;display:inline-block;float:left;margin-right:8px;}
	.ui-reply-box .ui-profile .ui-name {color:#232323;font-weight:400;font-size:0.8125rem;float:left;margin-right:10px;}
	.ui-reply-box .ui-profile a {color:#232323;}
	.ui-reply-box .ui-profile .ui-date {color:#969696;font-weight:300;font-size:0.75rem;float:left;}
	.ui-reply-box .ui-reply-text {font-weight:300;font-size:0.875rem;line-height:1.4;color:#232323;padding:21px 10px 0 36px;}
	/* share reply */
	.ui-kakao-share {background-image:url(../img/ic-kakao.png);}
	.ui-fb-share {background-image:url(../img/ic-fb.png);}
	.ui-sms-share {background-image:url(../img/ic-sms.png);}
	.ui-url-share {background-image:url(../img/ic-url.png);}
	.ui-share-reply {background:#fff;height:100%;}
	.ui-share-reply .ui-box-share {background-color:#f5f5f5;display:table;width:100%;border-bottom:1px solid #e5e5e5;}
	.ui-share-reply .ui-box-share .ui-box-share-inner {display:table-cell;vertical-align:middle;width:100%;padding:40px 0 32px 0;}
	.ui-share-reply .ui-box-share .ui-like-btn {display:block;margin:0 auto;font-weight:500;text-align:center;padding:22px 0 0 0;line-height:1;font-size:0.875rem;}
	.ui-share-reply .ui-box-share .ui-state {display:block;color:#232323;font-size:0.8125rem;font-weight:300;text-align:center;margin-top:15px;line-height:1.3;height:44px;}
	.ui-share-reply .ui-box-share .ui-state strong {color:#f00;font-weight:300;}
	.ui-share-reply .ui-box-share .ui-like .ui-like-btn {background:url(../img/i-like-big.png) 0 0 no-repeat;color:#787878;background-size:100% auto;width:68px;height:41px;}
	.ui-share-reply .ui-box-share .ui-liked .ui-like-btn {background:url(../img/i-liked-big.png) 0 0 no-repeat;color:#fff;background-size:100% auto;width:72px;height:45px;}
	.ui-share-reply .ui-box-share .ui-share {width:100%;margin-top:19px;text-align:center;}
	.ui-share-reply .ui-box-share .ui-share a {display:inline-block;margin:0 4px;vertical-align:middle;background-repeat:no-repeat;background-position:0 0;width:35px;height:35px;background-size:100%;}
	.ui-share-reply .ui-box-share .ui-share a span {height:1px;display:block;overflow:hidden;visibility:hidden;}
	.ui-share-reply .ui-box-reply {padding:17px 0;position:relative;width:87.69%;margin:0 auto;}
	.ui-share-reply .ui-box-reply h3 {font-weight:700px;font-size:0.875rem;color:#232323;height:30px;}
	.ui-share-reply .ui-box-reply h3 .ui-count {font-weight:100;color:#969696;font-family:'Roboto';}
	.ui-share-reply .ui-box-reply .ui-btn-reply {width:100%;height:42px;background:#cbcbcb;font-size:0.875rem;font-weight:500;margin-bottom:20px;}
	.ui-share-reply .ui-box-reply .ui-btn-reply span {background:url(../img/ic-btn-reply.png) 0 1px no-repeat;display:inline-block;background-size:14px auto;padding:0 0 0 19px;visibility:visible;height:auto;}
	.ui-share-reply .ui-box-reply .ui-reply-box {padding:0;}
	.ui-share-reply .ui-box-reply .ui-reply-box .ui-inner {padding:0;}
	.ui-share-reply .ui-box-reply .ui-reply-box .ui-profile {position:absolute;top:0;left:0;}
	.ui-share-reply .ui-box-reply .ui-more-link {color:#acacac;font-weight:500;font-size:0.6875rem;position:absolute;top:20px;right:0;}
	/* main footer */
	.ui-main-footer {position:absolute;bottom:0;left:0;width:100%;height:62px;}
	.ui-main-footer .ui-main-footer-inner {width:90.27%;margin:0 auto;clear:both;padding-top:20px;}
	.ui-main-footer button {height:22px;font-size:1.125rem;font-family:'Roboto';text-align:left;font-weight:100;}
	.ui-main-footer button.ui-btn-like {background-image:url(../img/ic-like.png);background-size:23px auto;padding-left:30px;margin:0;width:68px;}
	.ui-main-footer button.ui-btn-liked {background-image:url(../img/ic-liked.png);background-size:23px auto;padding-left:30px;margin:0;width:68px;}
	.ui-main-footer button.ui-btn-reply {background-image:url(../img/ic-reply.png);background-size:24px auto;padding-left:32px;width:68px;}
	.ui-main-footer button.ui-btn-share {background-image:url(../img/ic-share.png);background-size:18px auto;padding-left:30px;float:right;}
	.ui-main-footer button.ui-btn-share span {display:none;}
	/* another story */
	.ui-anotherstory .ui-story-list {position:absolute;top:-1px;left:0;right:0;bottom:-1px;}
	.ui-anotherstory .ui-story-list .ui-list-box {position:relative;height:50%;width:90.27%;margin:0 auto;}
	.ui-anotherstory .ui-story-list .ui-bg-img {background-size:cover;background-repeat:no-repeat;width:100%;height:100%;z-index:7;}
	.ui-anotherstory .ui-story-list .ui-bg-lyr {position:absolute;top:0;left:0;width:100%;height:100%;background:linear-gradient(to bottom, transparent 55%, rgba(0, 0, 0, 0.7) 100%);z-index:8;}
	.ui-anotherstory .ui-story-list .ui-bottom {position:absolute;bottom:10px;left:20px;right:20px;z-index:9;}
	.ui-anotherstory .ui-story-list .ui-profile {position:absolute;bottom:45px;left:20px;z-index:9;padding-bottom:5px;}
	.ui-anotherstory .ui-story-list .ui-profile img {width:28px;height:28px;border-radius:14px;vertical-align:middle;}
	.ui-anotherstory .ui-story-list .ui-profile .ui-name {display:inline-block;font-size:0.8125rem;margin-top:2px;line-height:1;font-weight:400;color:#fff;margin-left:8px;vertical-align:middle;}
	.ui-anotherstory .ui-story-list .ui-profile a {color:#fff;}
	.ui-anotherstory .ui-story-list .ui-title {position:absolute;overflow:hidden;height:36px;padding-right:19px;bottom:8px;left:19px;z-index:9;font-size:15px;font-weight:500;letter-spacing:-1px;line-height:19px;color:#fff;}
/* panel poi */
	.ui-panel-poi {position:absolute;top:0;left:0;right:0;bottom:0;z-index:6;height:100%;}
	.ui-panel-poi .ui-poi-header {z-index:6;height:56px;background:transparent;position:fixed;top:0;left:0;width:100%;}
	.ui-panel-poi .ui-poi-header h3 {height:21px;background-size:16px auto;color:#fff;}
	.ui-panel-poi .ui-poi-header h3 span {display:inline-block;font-size:1.25rem;line-height:1;font-weight:700;vertical-align:top;}
	.ui-panel-poi .ui-poi-header h3 em {display:inline-block;vertical-align:top;font-size:1.25rem;font-family:'Roboto';font-weight:100;line-height:1;padding-left:2px;}
	.ui-panel-poi .ui-poi-header .ui-btn-close {width:20px;height:20px;position:absolute;top:15px;right:16px;background:url(../img/btn_close02.png) 0 0 no-repeat;background-size:20px;text-indent:-9999px;background-position:0 0;z-index:6;}
	.ui-panel-poi .ui-poi-list {overflow-y:scroll;position:fixed;top:56px;left:0;right:0;bottom:0;background-color:#fff;}
	.ui-panel-poi .ui-box-poi {border-bottom:1px solid #eaeaea !important;height:100px;position:relative;color:#787878;padding:20px;}
	.ui-panel-poi .ui-box-poi:last-child {border:0;}
	.ui-panel-poi .ui-box-poi .ui-badge {position:absolute;top:20px;right:20px;margin:0;padding:0;}
	.ui-panel-poi .ui-box-poi .ui-badge img {width:102px;height:102px;}
	.ui-panel-poi .ui-box-poi .ui-badge .ui-badge-selec {position:absolute;top:58px;left:63px;display:block;text-indent:-9999px;background:url(../img/i-select.png) 0 0 no-repeat;width:52px;height:52px;background-size:52px;}
	.ui-panel-poi .ui-box-poi .ui-badge .ui-photos {position:absolute;top:10px;left:10px;display:block;}
	.ui-panel-poi .ui-box-poi .ui-badge .ui-photos.ui-insta {background:url(../img/i_photos01.png) 0 0 no-repeat;background-size:12px auto;width:12px;height:12px;}
	.ui-panel-poi .ui-box-poi .ui-badge .ui-photos.ui-fs {background:url(../img/i_photos02.png) 0 0 no-repeat;background-size:auto 12px;width:9px;height:12px;}
	.ui-panel-poi .ui-box-poi .ui-info {margin-bottom:9px;}
	.ui-panel-poi .ui-box-poi .ui-info span {display:inline-block;color:#969696;font-weight:300;font-size:0.75rem;}
	.ui-panel-poi .ui-box-poi .ui-info .ui-star-rate {width:68px;height:11px;background:url(../img/i-star-bg.png) 0 0 no-repeat;background-size:68px 11px;margin-top:5px;position:relative;}
	.ui-panel-poi .ui-box-poi .ui-info .ui-star-rate .ui-inner-star {height:11px;background:url(../img/i-star.png) 0 0 no-repeat;background-size:68px 11px;position:absolute;top:0;left:0;}
	.ui-panel-poi .ui-box-poi .ui-address {font-size:0.8125rem;line-height:1;margin:0 0 6px 0;}
	.ui-panel-poi .ui-box-poi .ui-tag {width:calc(100% - 115px);font-size:0.8125rem;line-height:1.2;margin-bottom:4px;}
	.ui-panel-poi .ui-box-poi .ui-tag span {display:inline;margin-right:5px;}
	.ui-panel-poi .ui-box-poi .ui-stickr span {display:inline-block;height:11px;vertical-align:top;margin-right:2px;text-indent:-9999px;}
	.ui-panel-poi .ui-box-poi .ui-stickr .ui-stk-ad {width:17px;background:url(../img/ic-ad.png) 0 0 no-repeat;background-size:100% 100%;}
	.ui-panel-poi .ui-box-poi .ui-stickr .ui-stk-coupon {width:46px;background:url(../img/ic-coupon.png) 0 0 no-repeat;background-size:100% 100%;}
	.ui-panel-poi .ui-box-poi .ui-stickr .ui-stk-order {width:65px;background:url(../img/ic-syruporder.png) 0 0 no-repeat;background-size:100% 100%;}
/* panel reply */
	.ui-panel-reply {position:absolute;top:0;left:0;right:0;bottom:0;z-index:6;height:100%;}
	.ui-panel-reply .ui-reply-header {z-index:6;height:56px;background:transparent;position:fixed;top:0;left:0;width:100%;}
	.ui-panel-reply .ui-reply-header h3 {padding-top:2px;height:21px;color:#fff;}
	.ui-panel-reply .ui-reply-header h3 span {display:inline-block;font-size:1.25rem;line-height:1;font-weight:700;vertical-align:top;}
	.ui-panel-reply .ui-reply-header h3 em {display:inline-block;vertical-align:top;font-size:1.25rem;font-family:'Roboto';font-weight:100;line-height:1;padding-left:2px;}
	.ui-panel-reply .ui-reply-header .ui-btn-close {width:20px;height:20px;position:absolute;top:15px;right:16px;background:url(../img/btn_close02.png) 0 0 no-repeat;background-size:20px;text-indent:-9999px;background-position:0 0;z-index:6;}
	.ui-panel-reply .ui-reply-list {overflow-y:scroll;position:fixed;top:56px;left:0;right:0;bottom:0;background-color:#fff;}
	.ui-panel-reply .ui-reply-list .ui-list-wrap {width:100%;margin:0 auto;}
	.ui-panel-reply .ui-reply-list .ui-no-reply {padding-top:25px;}
	.ui-panel-reply .ui-reply-list .ui-write {background-color:#ebebeb;padding:15px 0;}
	.ui-panel-reply .ui-reply-list .ui-write .ui-txt-box {padding:18px 17px 15px 17px;background-color:#fff;}
	.ui-panel-reply .ui-reply-list .ui-write .ui-txt-box:before,.ui-panel-reply .ui-reply-list .ui-write .ui-txt-box:after {display:table;line-height:0;content:"";}
	.ui-panel-reply .ui-reply-list .ui-write .ui-txt-box:after {clear:both;}
	.ui-panel-reply .ui-reply-list .ui-write textarea {outline:none;width:100%;border:0;color:#232323;line-height:1.4;font-weight:400;font-size:1.1875rem;overflow-y:auto;}
	.ui-panel-reply .ui-reply-list .ui-write .ui-btn-enroll {display:none;width:67px;height:36px;background:url(../img/btn-enroll.png) 0 0 no-repeat;background-size:100% 100%;float:right;text-indent:-9999px;}
	.ui-panel-reply .ui-reply-list .ui-write .ui-words {display:none;float:left;font-size:0.75rem;color:#9ea1a4;}
	.ui-panel-reply .ui-reply-list .ui-write.ui-on textarea {height:128px;overflow-y:auto;margin-bottom:20px;}
	.ui-panel-reply .ui-reply-list .ui-write.ui-on .ui-btn-enroll {display:block;}
	.ui-panel-reply .ui-reply-list .ui-write.ui-on .ui-words {display:block;}
	.ui-panel-reply .ui-reply-list .ui-reply-box {border-bottom:1px solid #e9e9e9;}
	.ui-panel-reply .ui-reply-list .ui-reply-box:last-child {border-bottom:0;}
	.ui-panel-reply .ui-reply-list .ui-mymenu {width:5px;height:20px;background:url(../img/ic-mymenu.png) 0 0 no-repeat;background-size:100% 100%;text-indent:-9999px;position:absolute;top:20px;right:18px;}
/* popup layer */
	.ui-pop-layer {position:absolute;top:0;left:0;right:0;bottom:0;width:100%;height:100%;z-index:7;display:table;text-align:center;}
	.ui-pop-layer.disabled {display:none;}
	.ui-pop-layer .ui-layer-bg {position:absolute;top:0;left:0;right:0;bottom:0;background-color:#000;opacity:0.45;width:100%;height:100%;}
	.ui-pop-layer .ui-layer-content {z-index:8;position:relative;}
	.ui-pop-layer .ui-layer-content .ui-pop-share {z-index:9;background-color:#fff;position:relative;}
	.ui-pop-layer .ui-layer-content .ui-pop-share a {display:inline-block;background-repeat:no-repeat;}
	.ui-pop-layer .ui-layer-content .ui-pop-share a.ui-kakao-share {background-size:auto 46px;}
	.ui-pop-layer .ui-layer-content .ui-pop-share a.ui-fb-share {background-size:auto 45px;}
	.ui-pop-layer .ui-layer-content .ui-pop-share a.ui-sms-share {background-size:auto 45px;}
	.ui-pop-layer .ui-layer-content .ui-pop-share a.ui-url-share {background-size:auto 45px;}
/* ui re-define */
	.ui-wrap .ui-btn-poi em,.ui-wrap .ui-paging {font-family:'Roboto';font-weight:100;}
	.ui-wrap .ui-poi-header h3 {position:absolute;top:18px;left:17px;}
	.ui-wrap .ui-poi-header .ui-btn-close {top:18px;}
	.ui-wrap .ui-tag {white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-size:0.75rem;line-height:1.4;display:block;}
	.ui-wrap .ui-tag span {display:inline;margin-right:5px;}
	.ui-wrap .ui-type-2 h2,.ui-wrap .ui-type-2 .ui-tag {width:62%;}
	.ui-wrap .ui-panel-poi h2 {width:60%;}
	.ui-wrap .ui-panel-poi .ui-tag {width:65%;}
	.ui-wrap .ui-reply-header h3 {position:absolute;top:18px;left:17px;}
	.ui-wrap .ui-reply-header .ui-btn-close {top:18px;}
	.ui-wrap .ui-layer-content {width:100%;height:100%;display:table-cell;text-align:center;margin:0 auto;vertical-align:middle;}
	.ui-wrap .ui-layer-content .ui-pop-share {padding:25px;text-align:left;width:calc(80.27% - 50px);min-width:230px;max-width:280px;margin:0 auto;}
	.ui-wrap .ui-layer-content h5 {font-weight:700;font-size:1.25rem;}
	.ui-wrap .ui-layer-content .ui-share {margin:30px 0;}
	.ui-wrap .ui-layer-content a {box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;width:100%;display:block;height:45px;text-align:left;padding:11px 0 0 60px;font-weight:400;font-size:1.0625rem;color:#666;margin-bottom:20px;}
	.ui-wrap .ui-layer-content .ui-btn-cancel {position:absolute;bottom:5px;right:10px;color:#60c701;font-weight:500;font-size:1rem;text-align:center;width:50px;height:40px;}

/* ----- 320px Layout ----- */
@media (max-width:320px) {
/* panel main */
	/* header */
	.ui-panel-main .ui-main-header .ui-btn-poi {background-size:12px auto;top:8px;height:30px;padding:0 0 0 17px;}
	.ui-panel-main .ui-main-header .logo {left:0;top:6px;width:83px;height:33px;background-image:url(../img/bi_ios.png);background-size:83px 13px;}
	.ui-panel-main .ui-main-header a {width:83px;height:33px;}
	.ui-panel-main .ui-main-header .ui-title {bottom:25px !important;}
	.ui-panel-main .ui-main-header .ui-title .ui-paging {font-size:17px;}
	.ui-panel-main .ui-main-header .ui-link-trend {top:16px;height:15px;}
	.ui-panel-main .ui-main-header hr {margin:44px 0 0 0;}
	/* content */
	.ui-main-content {top:44px;}
	/* count */
	.ui-cnt .ui-paging {font-family:'Helvetica';font-size:1.125rem;top:-31px;}
	.ui-type-2 .ui-tag {position:absolute;top:74px;left:18px;}
	/* content title & text */
	.ui-ctitle .ui-profile {margin-bottom:15px;}
	.ui-ctitle .ui-profile img {width:44px;height:44px;border-radius:22px;}
	.ui-ctitle .ui-profile .ui-name {margin-top:6px;}
	/* box poi */
	.ui-box-poi {height:67px;padding:18px;}
	.ui-box-poi .ui-badge {top:18px;right:18px;}
	.ui-box-poi .ui-badge img {width:68px;height:68px;}
	.ui-box-poi .ui-badge .ui-badge-selec {top:35px;left:37px;width:45px;height:46px;background-size:100% 100%;}
	.ui-box-poi .ui-info .ui-star-rate {width:62px;height:11px;background-size:62px 11px;margin-top:3px;}
	.ui-box-poi .ui-info .ui-star-rate .ui-inner-star {height:11px;background-size:62px 11px;}
	.ui-box-poi .ui-address {margin:4px 0 0 0;}
	/* share reply */
	.ui-share-reply .ui-box-share .ui-box-share-inner {padding-top:31px;padding-bottom:22px;}
	.ui-share-reply .ui-box-share .ui-like-btn {padding:18px 0 0 14px;text-align:left;}
	.ui-share-reply .ui-box-share .ui-state {vertical-align:top;margin-top:0;height:40px;}
	.ui-share-reply .ui-box-share .ui-share {margin-top:7px;}
	.ui-share-reply .ui-box-share .ui-like .ui-like-btn {width:48px;background-size:62px auto;}
	.ui-share-reply .ui-box-share .ui-liked .ui-like-btn {width:48px;background-size:62px auto;}
	.ui-share-reply .ui-box-share .ui-share a {width:30px;height:30px;background-size:100%;}
	.ui-share-reply .ui-box-reply {padding:15px 0;}
	.ui-share-reply .ui-box-reply h3 {padding-top:0;height:25px;}
	.ui-share-reply .ui-box-reply .ui-btn-reply {height:40px;margin-bottom:15px;}
	.ui-share-reply .ui-box-reply .ui-more-link {top:15px;}
	/* main footer */
	.ui-main-footer {height:60px;}
	.ui-main-footer button {height:20px;}
	.ui-main-footer button.ui-btn-like {background-size:20px auto;padding-left:26px;}
	.ui-main-footer button.ui-btn-liked {background-size:20px auto;padding-left:26px;}
	.ui-main-footer button.ui-btn-reply {background-size:21px auto;padding-left:27px;}
	.ui-main-footer button.ui-btn-share {background-size:16px auto;padding-left:25px;}
	/* another story */
	.ui-anotherstory .ui-story-list .ui-profile {bottom:37px;left:15px;}
	.ui-anotherstory .ui-story-list .ui-profile img {width:24px;height:24px;border-radius:12px;}
	.ui-anotherstory .ui-story-list .ui-profile .ui-name {margin-left:6px;}
	.ui-anotherstory .ui-story-list .ui-title {height:30px;font-size:13px;line-height:16px;bottom:7px;left:14px;padding-right:14px;}
/* panel poi */
	.ui-panel-poi .ui-poi-header {height:50px;}
	.ui-panel-poi .ui-poi-list {top:50px;}
	.ui-panel-poi .ui-poi-header h3 {height:17px;background-position:0 0;background-size:auto 17px;}
	.ui-panel-poi .ui-poi-header h3 em {height:17px;}
	.ui-panel-poi .ui-poi-header .ui-btn-close {width:18px;height:18px;top:15px;right:14px;background-size:18px;}
	.ui-panel-poi .ui-box-poi {height:90px;}
	.ui-panel-poi .ui-box-poi h2 {margin-top:2px;width:calc(100% - 100px);}
	.ui-panel-poi .ui-box-poi .ui-info {margin-bottom:6px;}
	.ui-panel-poi .ui-box-poi .ui-badge img {width:90px;height:90px;}
	.ui-panel-poi .ui-box-poi .ui-badge .ui-badge-selec {top:53px;left:56px;width:45px;height:46px;background-size:100% 100%;}
	.ui-panel-poi .ui-box-poi .ui-address {margin-bottom:3px;}
	.ui-panel-poi .ui-box-poi .ui-tag {width:calc(100% - 100px);}
/* panel reply */
	.ui-panel-reply .ui-reply-header {height:50px;}
	.ui-panel-reply .ui-reply-list {top:50px;}
	.ui-panel-reply .ui-reply-header h3 {padding-top:0;height:17px;}
	.ui-panel-reply .ui-reply-header .ui-btn-close {width:18px;height:18px;top:15px;right:14px;background-size:18px;}
	.ui-panel-reply .ui-reply-list .ui-write {padding:12px 0;}
	.ui-panel-reply .ui-reply-list .ui-write .ui-txt-box {padding:13px 12px 10px 12px;}
	.ui-panel-reply .ui-reply-list .ui-reply-box .ui-inner {padding:17px 15px 14px 15px;}
	.ui-panel-reply .ui-reply-list .ui-reply-box .ui-profile {top:17px;left:15px;}
	.ui-panel-reply .ui-reply-list .ui-reply-box .ui-reply-text {padding:17px 13px 0 36px;}
	.ui-panel-reply .ui-reply-list .ui-mymenu {top:20px;right:15px;}
/* popup layer */
	.ui-wrap .ui-layer-content {position:absolute;bottom:7px;left:7px;right:7px; display:block; width:auto;}
	.ui-wrap .ui-layer-content .ui-pop-share {text-align:center;background-color:transparent; padding:0; width:auto;min-width:1px;max-width:100%;margin:0;height:100%;}
	.ui-wrap .ui-layer-content h5 {display:none;}
	.ui-wrap .ui-layer-content .ui-share {background-color:#fff;position:absolute;bottom:52px;right:0;width:100%;height:94px;margin:0;border-radius:3px;padding-top:25px;}
	.ui-wrap .ui-layer-content a {display:inline-block;height:14px;text-align:center;padding:54px 0 0 0;font-weight:500;font-size:0.875rem;color:#232323;margin:0 8px;min-width:48px;width:auto;background-position:50% 0;}
	.ui-wrap .ui-layer-content a span {display:block;}
	.ui-wrap .ui-layer-content .ui-btn-cancel {position:absolute;bottom:0;right:0;width:100%;height:44px;background-color:#fff;color:#60c701;font-weight:700;font-size:1.125rem;text-align:center;line-height:1;border-radius:3px;}
	.ui-pop-layer .ui-layer-content {bottom:7px;left:7px;right:7px;}
	.ui-pop-layer .ui-layer-content .ui-share {height:92px;}
/* ui re-define */
	.ui-wrap .ui-poi-header h3 {top:16px;left:14px;}
	.ui-wrap .ui-reply-header h3 {top:16px;left:14px;}
}

/* ----- 320px Layout ----- */
@media only all and (max-height:480px) and (max-width:320px) {
/* panel main */
	.ui-panel-main {height:480px;}
}

/* ----- 414px Layout ----- */
@media (min-width:414px) { 
/* panel poi */
	.ui-panel-poi .ui-poi-header {height:64px;}
	.ui-panel-poi .ui-poi-list {top:64px;}
	.ui-panel-reply .ui-reply-header {height:64px;}
	.ui-panel-reply .ui-reply-list {top:64px;}
/* ui re-define */
	.ui-wrap .ui-poi-header h3 {top:18px;left:18px;}
	.ui-wrap .ui-poi-header .ui-btn-close {right:19px;top:22px;}
	.ui-panel-reply .ui-reply-header h3 {top:18px;left:18px;}
	.ui-panel-reply .ui-reply-header .ui-btn-close {right:19px;top:22px;}
}

/* ----- Desktop Layout ----- */
@media only all and (min-width:730px) {
/* layout re-define */
	.ui-wrap {overflow:hidden;}
/* panel reply */
	.ui-wrap .ui-panel-reply .ui-reply-list {position:relative;overflow:visible;}
/* panel poi */
	.ui-panel-poi {z-index:1;}
	.ui-panel-poi .ui-poi-header {z-index:1;}
	.ui-panel-poi .ui-poi-list {position:relative;overflow:visible;top:64px;left:50%;width:560px;margin-left:-280px;}
}