@import url(font-noto.css);
@import url(http://fonts.googleapis.com/css?family=Roboto:100,300,400,600);
/* ----- SK Planet - Base 1.0 ----- */
html, body, form, div, p, h1, h2, h3, h4, h5, h6, dl, dt, dd, ul, ol, li, fieldset, th, td, button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: 'NotoSansCJKkr', sans-serif; }

body {
  -webkit-text-size-adjust: none; }

input, textarea, select, button {
  font: inherit;
  vertical-align: middle;
  padding: 0; }

input[type="button"], input[type="text"], input[type="image"], input[type="submit"], input[type="tel"], input[type="date"], textarea, select {
  -webkit-appearance: none;
  border-radius: 0; }

input[type="checkbox"] {
  -webkit-appearance: checkbox; }

input[type="radio"] {
  -webkit-appearance: radio; }

textarea {
  resize: none; }

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0; }

ol, ul {
  list-style: none; }

img, fieldset, iframe {
  border: none; }

address, cite, code, dfn, em, var, th, strong {
  font-style: normal; }

a {
  text-decoration: none; }

article, aside, dialog, figure, footer, header, hgroup, nav, section {
  display: block; }

html, body {
  font-size: 16px;
  height: 100%;
  position: relative;
  min-height: 600px; }

.ui-wrap-fix {
  border-right: 1px solid #eaeaea;
  border-left: 1px solid #eaeaea;
  position: relative;
  width: 560px !important;
  margin: 0 auto;
  height: 100%; }

button {
  cursor: pointer;
  margin: 0;
  padding: 0;
  border: 0;
  color: #fff;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 0 0;
  outline: none;
  box-shadow: none; }

button span {
  height: 1px;
  display: block;
  overflow: hidden;
  visibility: hidden; }

.ui-hidden {
  height: 1px;
  display: block;
  overflow: hidden;
  visibility: hidden; }

.ui-popup .ui-bg-lyr {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.6;
  z-index: 3; }
.ui-popup .ui-pop-content {
  position: absolute;
  top: 100px;
  left: 50%;
  margin-left: -175px;
  background-color: #f8f8f8;
  width: 350px;
  z-index: 4; }
  .ui-popup .ui-pop-content .top {
    background: url(../img/pop-trend-title.png) 50% 50% no-repeat;
    background-size: 73px 70px;
    height: 117px;
    width: 100%;
    text-indent: -9999px; }
  .ui-popup .ui-pop-content .cnt-box {
    text-align: center;
    width: 280px;
    border: 1px solid #d8d8d8;
    background-color: #fff;
    margin: 0 auto;
    padding: 13px 25px 25px 25px;
    font-size: 15px;
    color: #666;
    margin-bottom: 10px;
    line-height: 1.6;
    font-weight: 400;
    display: block; }
    .ui-popup .ui-pop-content .cnt-box strong {
      color: #232323;
      font-size: 16px;
      font-weight: 700px;
      display: block;
      margin-bottom: 4px;
      margin-top: 12px; }
  .ui-popup .ui-pop-content .btn-close {
    background: url(../img/ic-close2.png) 0 0 no-repeat;
    background-size: 100%;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 15px;
    right: 15px;
    text-indent: -9999px; }

.ui-trend-list header {
  position: relative;
  height: 195px;
  width: 100%;
  background: url(../img/i_trend_bg.png) 0 0 repeat-x;
  background-size: cover;
  border-bottom: 1px solid #ebebeb; }
  .ui-trend-list header .ui-keyword {
    background: url(../img/i-trend-kw.png) 0 56px no-repeat;
    background-size: 100%;
    width: 108px;
    height: 195px;
    margin: 0 auto; }
  .ui-trend-list header .ui-share {
    height: 28px;
    text-align: right;
    position: absolute;
    bottom: 20px;
    right: 12px; }
    .ui-trend-list header .ui-share button {
      background-repeat: no-repeat;
      background-size: 100%;
      margin-left: 7px; }
      .ui-trend-list header .ui-share button.ui-kakao {
        background-image: url(../img/i-share01.png);
        width: 28px;
        height: 26px; }
      .ui-trend-list header .ui-share button.ui-fb {
        background-image: url(../img/i-share02.png);
        width: 28px;
        height: 28px; }
      .ui-trend-list header .ui-share button.ui-sms {
        background-image: url(../img/i-share03.png);
        width: 28px;
        height: 28px; }
  .ui-trend-list header .ui-info {
    display: block;
    background: url(../img/i-trend-info.png) 0 0 no-repeat;
    width: 24px;
    height: 24px;
    background-size: 100%;
    position: absolute;
    bottom: 20px;
    left: 12px; }
  .ui-trend-list header .ui-btn-home {
    display: block;
    background: url(../img/i-home.png) 0 0 no-repeat;
    width: 20px;
    height: 20px;
    background-size: 100% 100%;
    position: absolute;
    top: 15px;
    left: 15px;
    text-indent: -9999px; }
  .ui-trend-list header h1 {
    display: none; }
.ui-trend-list nav ul {
  width: 100%;
  display: table;
  table-layout: fixed; }
  .ui-trend-list nav ul li {
    display: table-cell;
    width: auto;
    height: 45px;
    text-align: center;
    position: relative; }
    .ui-trend-list nav ul li a {
      font-weight: 500;
      color: #3a3a3a;
      height: 29px;
      font-size: 1rem;
      line-height: 1;
      display: inline-block;
      position: absolute;
      left: 50%;
      -webkit-transform: translate(-50%, 0);
      bottom: 0;
      width: auto;
      box-sizing: border-box; }
    .ui-trend-list nav ul li.selected a {
      color: #60c701;
      border-bottom: 3px solid #60c701; }
.ui-trend-list .ui-poi-list {
  background-color: #ebebeb;
  padding: 26px 20px; }
  .ui-trend-list .ui-poi-list .ui-box-poi {
    background-color: #fff;
    margin-bottom: 20px;
    padding-bottom: 17px; }
    .ui-trend-list .ui-poi-list .ui-box-poi.no-photo {
      margin-top: 90px; }
  .ui-trend-list .ui-poi-list .ui-badge {
    position: relative;
    padding: 0;
    margin: 0;
    width: 100%; }
    .ui-trend-list .ui-poi-list .ui-badge .ui-img-area {
      background-size: cover;
      background-position: 50% 50%;
      width: 100%;
      height: 423px;
      display: block; }
    .ui-trend-list .ui-poi-list .ui-badge .ui-photos {
      position: absolute;
      bottom: 14px;
      left: 14px;
      background: url(../img/ic-photos.png) 0 1px no-repeat;
      background-size: 21px auto;
      padding-left: 28px;
      color: #fff;
      height: 17px;
      display: block;
      line-height: 1;
      font-family: 'Roboto';
      font-weight: 600;
      font-size: 1.1875rem;
      line-height: 1; }
    .ui-trend-list .ui-poi-list .ui-badge .ui-badge-selec {
      position: absolute;
      bottom: -18px;
      right: 10px;
      display: block;
      text-indent: -9999px;
      background: url(../img/i-select.png) 0 0 no-repeat;
      width: 90px;
      height: 90px;
      background-size: 100%; }
  .ui-trend-list .ui-poi-list h2 {
    font-size: 1.3125rem;
    font-weight: 700;
    color: #232323;
    line-height: 1.1;
    padding: 17px 24px 0 24px; }
  .ui-trend-list .ui-poi-list .ui-info {
    padding: 0 0 3px 24px; }
    .ui-trend-list .ui-poi-list .ui-info span {
      display: inline-block;
      color: #969696 !important;
      font-weight: 300;
      font-size: 0.75rem; }
    .ui-trend-list .ui-poi-list .ui-info .ui-star-rate {
      width: 68px;
      height: 11px;
      background: url(../img/i-star-bg.png) 0 0 no-repeat;
      background-size: 68px 11px;
      margin-top: 5px;
      position: relative; }
      .ui-trend-list .ui-poi-list .ui-info .ui-star-rate .ui-inner-star {
        height: 11px;
        background: url(../img/i-star.png) 0 0 no-repeat;
        background-size: 68px 11px;
        position: absolute;
        top: 0;
        left: 0; }
    .ui-trend-list .ui-poi-list .ui-info .ui-review {
      background: url(../img/ic-bar1.gif) 0 1px no-repeat;
      background-size: 1px 9px;
      height: 12px;
      margin: 0 0 0 2px;
      line-height: 1;
      padding: 0 0 0 5px; }
  .ui-trend-list .ui-poi-list .ui-address {
    padding: 0 24px;
    margin: 5px 0 5px 0;
    font-weight: 400;
    font-size: 0.8125rem;
    line-height: 1;
    display: block;
    color: #666; }
  .ui-trend-list .ui-poi-list .ui-tag {
    padding: 0 24px;
    font-size: 0.8125rem; }
    .ui-trend-list .ui-poi-list .ui-tag span {
      color: #666;
      display: inline-block;
      margin-right: 5px; }
  .ui-trend-list .ui-poi-list .ui-stickr {
    height: 11px;
    padding: 7px 24px 0 24px; }
    .ui-trend-list .ui-poi-list .ui-stickr span {
      display: inline-block;
      height: 11px;
      vertical-align: top;
      margin-right: 2px;
      text-indent: -9999px; }
    .ui-trend-list .ui-poi-list .ui-stickr .ui-stk-ad {
      width: 17px;
      background: url(../img/ic-ad.png) 0 0 no-repeat;
      background-size: 100% 100%; }
    .ui-trend-list .ui-poi-list .ui-stickr .ui-stk-coupon {
      width: 46px;
      background: url(../img/ic-coupon.png) 0 0 no-repeat;
      background-size: 100% 100%; }
    .ui-trend-list .ui-poi-list .ui-stickr .ui-stk-order {
      width: 65px;
      background: url(../img/ic-syruporder.png) 0 0 no-repeat;
      background-size: 100% 100%; }

.error404 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #ebebeb; }

.error404 .inner {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  text-align: center;
  background: url(../img/i_error1.png) 50% 0 no-repeat;
  padding-top: 5.3125rem;
  background-size: auto 4.0625rem;
  width: 100%; }

.error404 strong {
  font-size: 1.25rem;
  font-weight: 600;
  color: #232323;
  display: block;
  margin-bottom: 8px; }

.error404 .txt {
  display: block;
  font-size: 0.875rem;
  color: #666;
  line-height: 1.4;
  width: 100%;
  margin-bottom: 25px; }

.error404 a {
  display: block;
  background: url(../img/btn_tablehome.png) 0 0 no-repeat;
  width: 169px;
  height: 47px;
  background-size: 100% 100%;
  margin: 0 auto; }

.error404 button {
  background: url(../img/ic-close2.png) 0 0 no-repeat;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  background-size: 100% 100%; }

/*# sourceMappingURL=trend_fix.css.map */
