/* ----- Common ----- */
/* popup */
	.ui-popup .ui-bg-lyr {position:absolute;top:0;left:0;bottom:0;right:0;width:100%;height:100%;z-index:6;background:url('../img/bg_layer.png') repeat;}
	.ui-popup .ui-pop-content {position:absolute;top:50%;left:50%;-webkit-transform:translate(-50%, -50%);-moz-transform:translate(-50%, -50%);transform:translate(-50%, -50%);background-color:#f8f8f8;width:89.02%;max-width:320px;z-index:6;margin:-281px 0 0 -160px\0;}
	.ui-popup .ui-pop-content .top {background:url(../img/pop-trend-title.png) 50% 50% no-repeat;background-size:73px 70px;height:117px;width:100%;text-indent:-9999px;}
	.ui-popup .ui-pop-content .cnt-box {text-align:center;width:268px;border:1px solid #d8d8d8;background-color:#fff;margin:0 auto;padding:13px 15px 25px 15px;font-size:15px;color:#666;margin-bottom:10px;line-height:1.6;font-weight:400;display:block;}
	.ui-popup .ui-pop-content .cnt-box strong {color:#232323;font-size:16px;font-weight:700px;display:block;margin-bottom:4px;margin-top:12px;}
	.ui-popup .ui-pop-content .btn-close {background:url(../img/ic-close2.png) 0 0 no-repeat;background-size:100%;width:20px;height:20px;position:absolute;top:15px;right:15px;text-indent:-9999px;}
/* trend list */
	/* navigation menu */
	.ui-trend-list nav {-webkit-transform:translateY(0%);-moz-transform:translateY(0%);transform:translateY(0%);-webkit-transition:all 0.1s;-moz-transition:all 0.1s;transition:all 0.1s;background-color:#fff;}
	.ui-trend-list nav ul {width:100%;display:table;table-layout:fixed;}
	.ui-trend-list nav ul li {display:table-cell;width:auto;width:33.3%\0;height:45px;text-align:center;position:relative;}
	.ui-trend-list nav ul li a {font-weight:500;color:#3a3a3a;height:29px;font-size:1rem;line-height:1;display:inline-block;position:absolute;left:50%;-webkit-transform:translate(-50%, 0);-moz-transform:translate(-50%, 0);transform:translate(-50%, 0);bottom:0;bottom:-1px\0;width:auto;box-sizing:border-box;}
	.ui-trend-list nav ul li.selected a {color:#60c701;border-bottom:3px solid #60c701;}
	.ui-trend-list.keyword-cont nav {padding:0 12px;}
	.ui-trend-list.keyword-cont nav ul li {width:50%;}
	.ui-trend-list.keyword-cont nav ul li a {display:block;width:100%;transform:none;-webkit-transform:none;left:0;}
	.ui-trend-list.keyword-cont nav ul li.selected a {font-weight:bold;}
	.ui-trend-list .ui-poi-list {background-color:#ebebeb;padding:15px 12px;}
/* re-define content area */
	#ui-content {padding-top:240px;}
	.keyword-cont #ui-content {padding-top:95px;}

/* ----- 320px Layout ----- */
@media only all and (max-width:320px) {
/* popup */
	.ui-popup .ui-pop-content {top:250px;max-width:290px;}
	.ui-popup .ui-pop-content .top {background-size:64px 55px;height:97px;}
	.ui-popup .ui-pop-content .cnt-box {width:220px;font-size:12px;margin-bottom:10px;padding:5px 20px 15px 20px;}
	.ui-popup .ui-pop-content .cnt-box strong {font-size:13px;margin-bottom:4px;margin-top:12px;}
	.ui-popup .ui-pop-content .btn-close {background:url(../img/ic-close2.png) 0 0 no-repeat;background-size:100%;width:20px;height:20px;position:absolute;top:15px;right:15px;text-indent:-9999px;}
/* trend list */
	/* navigation menu */
	.ui-trend-list nav ul li {height:40px;padding-top:0;}
	.ui-trend-list nav ul li a {height:25px;}
	.ui-trend-list .ui-poi-list {padding:12px;}
/* re-define content area */
	#ui-content {padding-top:216px !important;}
	.keyword-cont #ui-content {padding-top:85px !important;}
	.ui-wrap #ui-content {padding-top:261px;}
}

/* ----- 414px Layout ----- */
@media (min-width:414px) { 
/* re-define content area */
	#ui-content {padding-top:276px;}
	.keyword-cont #ui-content {padding-top:101px !important;}
	.ui-wrap #ui-content {padding-top:287px;}
}

/* ----- Desktop Layout ----- */
@media only all and (min-width:730px) {
/* popup */
	.ui-popup .ui-pop-content {top:150px;-webkit-transform:none;-moz-transform:none;transform:none;margin-left:-160px;}
}