@import url(font-noto.css);
@import url(http://fonts.googleapis.com/css?family=Roboto:100,300,400,600);
/* ----- SK Planet - Base 1.0 ----- */
html, body, form, div, p, h1, h2, h3, h4, h5, h6, dl, dt, dd, ul, ol, li, fieldset, th, td, button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%; }

body {
  -webkit-text-size-adjust: none; }

input, textarea, select, button {
  font: inherit;
  vertical-align: middle;
  padding: 0; }

input[type="button"], input[type="text"], input[type="image"], input[type="submit"], input[type="tel"], input[type="date"], textarea, select {
  -webkit-appearance: none;
  border-radius: 0; }

input[type="checkbox"] {
  -webkit-appearance: checkbox; }

input[type="radio"] {
  -webkit-appearance: radio; }

textarea {
  resize: none; }

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0; }

ol, ul {
  list-style: none; }

img, fieldset, iframe {
  border: none; }

address, cite, code, dfn, em, var, th, strong {
  font-style: normal; }

a {
  text-decoration: none; }

article, aside, dialog, figure, footer, header, hgroup, nav, section {
  display: block; }

html, body {
  font-size: 16px; }

.ui-wrap-android section, .ui-wrap-android article, .ui-wrap-android div, .ui-wrap-android header, .ui-wrap-android span, .ui-wrap-android em, .ui-wrap-android h1, .ui-wrap-android h2, .ui-wrap-android h3, .ui-wrap-android h4, .ui-wrap-android h5, .ui-wrap-android h6, .ui-wrap-android figcaption, .ui-wrap-android p, .ui-wrap-android address, .ui-wrap-android a, .ui-wrap-android button, .ui-wrap-android small, .ui-wrap-android textarea {
  font-family: 'NotoSansCJKkr', sans-serif; }

body {
  background-color: #ebebeb; }

button {
  cursor: pointer;
  margin: 0;
  padding: 0;
  border: 0;
  color: #fff;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 0 0;
  outline: none;
  box-shadow: none; }

button span {
  height: 1px;
  display: block;
  overflow: hidden;
  visibility: hidden; }

.ui-hidden {
  height: 1px;
  display: block;
  overflow: hidden;
  visibility: hidden; }

.ui-popup .ui-bg-lyr {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.6;
  z-index: 5; }
.ui-popup .ui-pop-content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  background-color: #f8f8f8;
  width: 89.02%;
  max-width: 320px;
  z-index: 6; }
  .ui-popup .ui-pop-content .top {
    background: url(../img/pop-trend-title.png) 50% 50% no-repeat;
    background-size: 73px 70px;
    height: 117px;
    width: 100%;
    text-indent: -9999px; }
  .ui-popup .ui-pop-content .cnt-box {
    text-align: center;
    width: 248px;
    border: 1px solid #d8d8d8;
    background-color: #fff;
    margin: 0 auto;
    padding: 13px 25px 25px 25px;
    font-size: 15px;
    color: #666;
    margin-bottom: 10px;
    line-height: 1.6;
    font-weight: 400;
    display: block; }
    .ui-popup .ui-pop-content .cnt-box strong {
      color: #232323;
      font-size: 16px;
      font-weight: 700px;
      display: block;
      margin-bottom: 4px;
      margin-top: 12px; }
  .ui-popup .ui-pop-content .btn-close {
    background: url(../img/ic-close2.png) 0 0 no-repeat;
    background-size: 100%;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 15px;
    right: 15px;
    text-indent: -9999px; }

.ui-trend-list header {
  -webkit-transform: translateY(0%);
  -moz-transform: translateY(0%);
  transform: translateY(0%);
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  transition: all 0.1s;
  position: relative;
  height: 195px;
  width: 100%;
  background: url(../img/i_trend_bg.png) 0 0 no-repeat;
  background-size: cover; }
  .ui-trend-list header .ui-keyword {
    background: url(../img/i-trend-kw.png) 0 56px no-repeat;
    background-size: 100% auto;
    width: 108px;
    height: 195px;
    margin: 0 auto; }
  .ui-trend-list header .ui-share {
    height: 28px;
    text-align: right;
    position: absolute;
    bottom: 20px;
    right: 12px; }
    .ui-trend-list header .ui-share button {
      background-repeat: no-repeat;
      background-size: 100%;
      margin-left: 7px; }
      .ui-trend-list header .ui-share button.ui-kakao {
        background-image: url(../img/i-share01.png);
        width: 28px;
        height: 26px; }
      .ui-trend-list header .ui-share button.ui-fb {
        background-image: url(../img/i-share02.png);
        width: 28px;
        height: 28px; }
      .ui-trend-list header .ui-share button.ui-sms {
        background-image: url(../img/i-share03.png);
        width: 28px;
        height: 28px; }
  .ui-trend-list header .ui-info {
    display: block;
    background: url(../img/i-trend-info.png) 0 0 no-repeat;
    width: 24px;
    height: 24px;
    background-size: 100%;
    position: absolute;
    bottom: 20px;
    left: 12px; }
  .ui-trend-list header h1 {
    display: none;
    font-size: 1rem;
    font-weight: bold;
    color: #2c5b00;
    margin: 0 auto;
    width: auto;
    text-align: center;
    line-height: 1; }
.ui-trend-list nav {
  -webkit-transform: translateY(0%);
  -moz-transform: translateY(0%);
  transform: translateY(0%);
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  transition: all 0.1s;
  background-color: #fff; }
  .ui-trend-list nav ul {
    width: 100%;
    display: table;
    table-layout: fixed; }
    .ui-trend-list nav ul li {
      display: table-cell;
      width: auto;
      height: 45px;
      text-align: center;
      position: relative; }
      .ui-trend-list nav ul li a {
        font-weight: 500;
        color: #3a3a3a;
        height: 29px;
        font-size: 1rem;
        line-height: 1;
        display: inline-block;
        position: absolute;
        left: 50%;
        -webkit-transform: translate(-50%, 0);
        bottom: 0;
        width: auto;
        box-sizing: border-box; }
      .ui-trend-list nav ul li.selected a {
        color: #60c701;
        border-bottom: 3px solid #60c701; }
.ui-trend-list .ui-poi-list {
  background-color: #ebebeb;
  padding: 15px 12px; }
  .ui-trend-list .ui-poi-list .ui-box-poi {
    background-color: #fff;
    margin-bottom: 10px;
    padding-bottom: 15px; }
    .ui-trend-list .ui-poi-list .ui-box-poi.no-photo {
      margin-top: 65px; }
  .ui-trend-list .ui-poi-list .ui-badge {
    position: relative;
    padding: 0;
    margin: 0;
    width: 100%; }
    .ui-trend-list .ui-poi-list .ui-badge .ui-img-area {
      background-size: cover;
      background-position: 50% 50%;
      width: 100%;
      height: 269px;
      display: block; }
    .ui-trend-list .ui-poi-list .ui-badge .ui-photos {
      position: absolute;
      bottom: 14px;
      left: 14px;
      background: url(../img/ic-photos.png) 0 1px no-repeat;
      background-size: 21px auto;
      padding-left: 26px;
      color: #fff;
      height: 17px;
      display: block;
      line-height: 1;
      font-family: 'Roboto';
      font-weight: 600;
      font-size: 1.1875rem;
      line-height: 1; }
    .ui-trend-list .ui-poi-list .ui-badge .ui-insta {
      position: absolute;
      top: 14px;
      left: 14px;
      background: url(../img/i_photos01.png) 0 0 no-repeat;
      background-size: 20px auto;
      width: 20px;
      height: 20px; }
    .ui-trend-list .ui-poi-list .ui-badge .ui-fs {
      position: absolute;
      top: 14px;
      left: 14px;
      background: url(../img/i_photos02.png) 0 0 no-repeat;
      background-size: auto 20px;
      width: 20px;
      height: 20px; }
    .ui-trend-list .ui-poi-list .ui-badge .ui-badge-selec {
      position: absolute;
      bottom: -15px;
      right: 5px;
      display: block;
      text-indent: -9999px;
      background: url(../img/i-select.png) 0 0 no-repeat;
      width: 57px;
      height: 57px;
      background-size: 100%; }
  .ui-trend-list .ui-poi-list h2 {
    font-size: 1.3125rem;
    font-weight: 700;
    color: #232323;
    line-height: 1.1;
    padding: 12px 15px 0 15px; }
  .ui-trend-list .ui-poi-list .ui-info {
    padding: 0 0 3px 15px; }
    .ui-trend-list .ui-poi-list .ui-info span {
      display: inline-block;
      color: #969696 !important;
      font-weight: 300;
      font-size: 0.75rem; }
    .ui-trend-list .ui-poi-list .ui-info .ui-star-rate {
      width: 68px;
      height: 11px;
      background: url(../img/i-star-bg.png) 0 0 no-repeat;
      background-size: 68px 11px;
      margin-top: 5px;
      position: relative; }
      .ui-trend-list .ui-poi-list .ui-info .ui-star-rate .ui-inner-star {
        height: 11px;
        background: url(../img/i-star.png) 0 0 no-repeat;
        background-size: 68px 11px;
        position: absolute;
        top: 0;
        left: 0; }
    .ui-trend-list .ui-poi-list .ui-info .ui-review {
      background: url(../img/ic-bar1.gif) 0 1px no-repeat;
      background-size: 1px 9px;
      height: 12px;
      margin: 0 0 0 2px;
      line-height: 1;
      padding: 0 0 0 5px; }
  .ui-trend-list .ui-poi-list .ui-address {
    padding: 0 15px;
    margin: 5px 0 5px 0;
    font-weight: 400;
    font-size: 0.8125rem;
    line-height: 1;
    display: block;
    color: #666; }
  .ui-trend-list .ui-poi-list .ui-tag {
    padding: 0 15px;
    font-size: 0.8125rem; }
    .ui-trend-list .ui-poi-list .ui-tag span {
      color: #666;
      display: inline-block;
      margin-right: 5px; }
  .ui-trend-list .ui-poi-list .ui-stickr {
    height: 11px;
    padding: 7px 15px 0 15px; }
    .ui-trend-list .ui-poi-list .ui-stickr span {
      display: inline-block;
      height: 11px;
      vertical-align: top;
      margin-right: 2px;
      text-indent: -9999px; }
    .ui-trend-list .ui-poi-list .ui-stickr .ui-stk-ad {
      width: 17px;
      background: url(../img/ic-ad.png) 0 0 no-repeat;
      background-size: 100% 100%; }
    .ui-trend-list .ui-poi-list .ui-stickr .ui-stk-coupon {
      width: 46px;
      background: url(../img/ic-coupon.png) 0 0 no-repeat;
      background-size: 100% 100%; }
    .ui-trend-list .ui-poi-list .ui-stickr .ui-stk-order {
      width: 65px;
      background: url(../img/ic-syruporder.png) 0 0 no-repeat;
      background-size: 100% 100%; }

#ui-header {
  z-index: 4;
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 241px; }
  #ui-header.ui-smaller {
    height: 112px !important; }
    #ui-header.ui-smaller header {
      height: 55px;
      background-image: url(../img/i_trend_bg2.png);
      background-size: cover; }
      #ui-header.ui-smaller header .ui-share, #ui-header.ui-smaller header .ui-keyword, #ui-header.ui-smaller header .ui-info {
        display: none; }
      #ui-header.ui-smaller header h1 {
        display: block; }

#ui-content {
  padding-top: 240px; }

.error404 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #ebebeb; }

.error404 .inner {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  text-align: center;
  background: url(../img/i_error1.png) 50% 0 no-repeat;
  padding-top: 5.3125rem;
  background-size: auto 4.0625rem;
  width: 100%; }

.error404 strong {
  font-size: 1.25rem;
  font-weight: 600;
  color: #232323;
  display: block;
  margin-bottom: 8px; }

.error404 .txt {
  display: block;
  font-size: 0.875rem;
  color: #666;
  line-height: 1.4;
  width: 100%;
  margin-bottom: 25px; }

.error404 a {
  display: block;
  background: url(../img/btn_tablehome.png) 0 0 no-repeat;
  width: 169px;
  height: 47px;
  background-size: 100% 100%;
  margin: 0 auto; }

.error404 button {
  background: url(../img/ic-close2.png) 0 0 no-repeat;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  background-size: 100% 100%; }

.ui-wrap-android .ui-smaller h1 {
  text-align: left;
  padding: 17px 0 0 40px;
  font-size: 1.25rem;
  font-weight: 700px;
  line-height: 1;
  width: auto;
  color: #fff; }

.ui-wrap-ios #ui-header {
  height: 261px; }
  .ui-wrap-ios #ui-header header {
    height: 215px; }
    .ui-wrap-ios #ui-header header .ui-share {
      padding-top: 38px; }
  .ui-wrap-ios #ui-header.ui-smaller {
    height: 132px !important; }
    .ui-wrap-ios #ui-header.ui-smaller header {
      height: 75px; }
      .ui-wrap-ios #ui-header.ui-smaller header .ui-share, .ui-wrap-ios #ui-header.ui-smaller header .ui-keyword, .ui-wrap-ios #ui-header.ui-smaller header .ui-info {
        display: none; }
      .ui-wrap-ios #ui-header.ui-smaller header h1 {
        display: block;
        text-align: center;
        padding: 38px 0 0 0;
        font-size: 1.25rem;
        font-weight: 700px;
        line-height: 1;
        width: auto;
        color: #fff; }
.ui-wrap-ios #ui-content {
  padding-top: 261px; }

/* 320px Layout */
@media (max-width: 320px) {
  html, body {
    font-size: 14px; }

  .ui-trend-list header {
    height: 175px !important; }
    .ui-trend-list header .ui-keyword {
      width: 91px;
      height: 175px;
      margin: 0 auto;
      background-position: 0 52px; }
    .ui-trend-list header .ui-share {
      height: 28px;
      bottom: 15px;
      right: 11px; }
      .ui-trend-list header .ui-share button {
        margin-left: 6px; }
    .ui-trend-list header .ui-info {
      width: 22px;
      height: 22px;
      bottom: 15px;
      left: 11px; }
  .ui-trend-list nav ul li {
    height: 40px;
    padding-top: 0; }
    .ui-trend-list nav ul li a {
      height: 25px; }
  .ui-trend-list .ui-poi-list {
    padding: 12px; }
    .ui-trend-list .ui-poi-list .ui-box-poi {
      padding-bottom: 12px; }
      .ui-trend-list .ui-poi-list .ui-box-poi .ui-img-area {
        height: 244px; }
      .ui-trend-list .ui-poi-list .ui-box-poi.no-photo {
        margin-top: 50px; }
    .ui-trend-list .ui-poi-list .ui-badge .ui-insta {
      top: 12px;
      left: 13px;
      background-size: 11px auto;
      width: 11px;
      height: 11px; }
    .ui-trend-list .ui-poi-list .ui-badge .ui-fs {
      top: 12px;
      left: 13px;
      background-size: auto 11px;
      width: 20px;
      height: 11px; }
    .ui-trend-list .ui-poi-list .ui-badge .ui-badge-selec {
      bottom: -10px;
      right: 5px;
      width: 50px;
      height: 50px; }
    .ui-trend-list .ui-poi-list h2 {
      padding: 12px 12px 0 12px; }
    .ui-trend-list .ui-poi-list .ui-info {
      padding: 0 0 3px 12px; }
    .ui-trend-list .ui-poi-list .ui-address {
      padding: 0 12px; }
    .ui-trend-list .ui-poi-list .ui-tag {
      padding: 0 12px; }
    .ui-trend-list .ui-poi-list .ui-stickr {
      padding: 7px 12px 0 12px; }

  #ui-header {
    height: 216px !important; }
    #ui-header.ui-smaller {
      height: 108px !important; }
      #ui-header.ui-smaller header {
        height: 64px !important; }
      #ui-header.ui-smaller h1 {
        padding: 32px 0 0 0 !important; }

  #ui-content {
    padding-top: 216px !important; }

  .ui-popup .ui-pop-content {
    top: 300px;
    max-width: 290px; }
    .ui-popup .ui-pop-content .top {
      background-size: 64px 55px;
      height: 97px; }
    .ui-popup .ui-pop-content .cnt-box {
      width: 220px;
      font-size: 14px;
      margin-bottom: 10px;
      padding: 5px 20px 15px 20px; }
      .ui-popup .ui-pop-content .cnt-box strong {
        font-size: 13px;
        margin-bottom: 4px;
        margin-top: 12px; }
    .ui-popup .ui-pop-content .btn-close {
      background: url(../img/ic-close2.png) 0 0 no-repeat;
      background-size: 100%;
      width: 20px;
      height: 20px;
      position: absolute;
      top: 15px;
      right: 15px;
      text-indent: -9999px; } }
/* 414px Layout */
@media (min-width: 361px) {
  html, body {
    font-size: 18px; }

  .ui-trend-list header {
    height: 224px; }
    .ui-trend-list header .ui-keyword {
      width: 124px;
      height: 224px;
      margin: 0 auto;
      background-position: 0 66px; }
    .ui-trend-list header .ui-share {
      height: 32px;
      bottom: 22px;
      right: 14px; }
      .ui-trend-list header .ui-share button {
        width: 32px;
        height: 32px;
        margin-left: 12px; }
    .ui-trend-list header .ui-info {
      width: 28px;
      height: 28px;
      bottom: 22px;
      left: 14px; }
  .ui-trend-list nav ul li {
    height: 51px;
    padding-top: 0; }
    .ui-trend-list nav ul li a {
      height: 34px;
      font-size: 1.125rem; }
  .ui-trend-list .ui-poi-list .ui-badge .ui-img-area {
    height: 316px; }
  .ui-trend-list .ui-poi-list .ui-badge .ui-photos {
    height: 21px; }
  .ui-trend-list .ui-poi-list .ui-badge .ui-badge-selec {
    bottom: -14px;
    right: 9px;
    width: 68px;
    height: 68px; }
  .ui-trend-list .ui-poi-list h2 {
    padding: 15px 15px 0 15px; }
  .ui-trend-list .ui-poi-list .ui-info {
    padding: 2px 0 7px 15px; }
    .ui-trend-list .ui-poi-list .ui-info .ui-star-rate {
      width: 90px;
      height: 14px;
      background-size: 100%; }
      .ui-trend-list .ui-poi-list .ui-info .ui-star-rate .ui-inner-star {
        height: 14px;
        background-size: 90px 14px; }
  .ui-trend-list .ui-poi-list .ui-stickr {
    height: 13px;
    padding: 9px 15px 0 15px; }
    .ui-trend-list .ui-poi-list .ui-stickr span {
      height: 13px; }
    .ui-trend-list .ui-poi-list .ui-stickr .ui-stk-ad {
      width: 20px; }
    .ui-trend-list .ui-poi-list .ui-stickr .ui-stk-coupon {
      width: 54px; }
    .ui-trend-list .ui-poi-list .ui-stickr .ui-stk-order {
      width: 77px; }

  #ui-header {
    height: 276px; }
    #ui-header.ui-smaller {
      height: 118px !important; }
      #ui-header.ui-smaller header {
        height: 64px; }

  #ui-content {
    padding-top: 276px; }

  .ui-wrap-ios #ui-header {
    height: 287px; }
    .ui-wrap-ios #ui-header header {
      height: 235px; }
      .ui-wrap-ios #ui-header header .ui-share {
        padding-top: 38px; }
    .ui-wrap-ios #ui-header.ui-smaller {
      height: 152px !important; }
      .ui-wrap-ios #ui-header.ui-smaller header {
        height: 75px; }
        .ui-wrap-ios #ui-header.ui-smaller header .ui-share, .ui-wrap-ios #ui-header.ui-smaller header .ui-keyword, .ui-wrap-ios #ui-header.ui-smaller header .ui-info {
          display: none; }
        .ui-wrap-ios #ui-header.ui-smaller header h1 {
          display: block;
          text-align: center;
          padding: 30px 0 0 0;
          font-size: 1.25rem;
          font-weight: 700px;
          line-height: 1;
          width: auto;
          color: #fff; }
  .ui-wrap-ios #ui-content {
    padding-top: 287px; }

  .ui-wrap-android .ui-smaller h1 {
    padding-top: 20px; } }

/*# sourceMappingURL=trend.css.map */
