<!DOCTYPE html>
<html lang="ko">
<head>
#set($pageId = "/detail/review/photo")
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width">
<meta name="format-detection" content="telephone=no">
#if("#isMobile()"==false)<meta http-equiv="X-UA-Compatible" content="IE=edge">#end
<title>Syrup Table</title>
<link rel="stylesheet" type="text/css" href="/css/common.css" />
<link rel="stylesheet" type="text/css" href="/css/swiper.css" />
</head>
<body>
<div class="ui-wrap full-page">
	<div class="photo-view-grp">
		<div class="photo-tit-box">
			<h1>$esc.html($pickDetail.pick.poi.name)</h1>
		</div>

		<div class="swiper-container photo-swipe-module">
			<div class="swiper-wrapper">
				#foreach($image in $pickDetail.pick.images)
				<div class="swiper-slide">
					<div class="swiper-slide-outer">
						<div class="swiper-slide-inner">
							<img src="${image}_480" alt="$esc.html($pickDetail.pick.poi.name)" />
						</div>
					</div>
				</div>
				#end
			</div>
		</div>

		<div class="ui-photo-box">
			<p class="info">
				<span class="main-txt">$esc.html($pickDetail.pick.editor.nickname) · $timeViewFormat.getPeriod($pickDetail.pick.createdAt)</span>
				<span class="sub-txt"><em id="current-page">1</em>/$pickDetail.pick.images.size()</span>
			</p>
			<div class="count">
				<a href="#none" class="like #if($pickDetail.pick.isLike)selected#end">#moreThan($pickDetail.pick.scoreboard.likes, 999)</a>
				<a href="#none" class="reply">#moreThan($pickDetail.pick.scoreboard.comments, 999)</a>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript" src="/js/swiper.min.js"></script>
#parse("sentinel.vm")
<script type="text/javascript">
##페이지뷰 통계
shuttle.setPoi_id($pickDetail.pick.poi.poiId);
shuttle.setReview_id($pickDetail.pick.pickId);
rakeTrack('$pageId', '');

##Swiper init
var swiper = new Swiper('.swiper-container',{
	initialSlide: Number(location.hash.replace(/[^(0-9)]/gi,'')),
	loop:false,
	grabCursor: true,
	onSlideChangeStart: function(swiper){
		document.getElementById('current-page').textContent = swiper.activeIndex+1;
		location.replace('#'+swiper.activeIndex);
		rakeTrack('$pageId', 'swipe.photo');
	}
});

</script>
#include("/googleAnalytics.vm")
</body>
</html>