<!DOCTYPE html>
<html lang="ko">
<head>
#set($pageId = "/main_trend/list/certificatedlist")
#set($sharePreLabel = "Syrup 테이블")
#set($shareLabel = "인증맛집")
#set($shareUrl = "http://map.table.syrup.co.kr/webview")
#set($shareRealUrl = "http://m.table.syrup.co.kr/verifieds")
##인증맛집 지역 aoiId:지역명 map생성
#set($aoisMap = {})
#foreach($verified in $verifieds.verifieds)
	#set($dummy = $aoisMap.put($verified.aoiId, $verified.name))
#end
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=no;" />
<meta content="telephone=no" name="format-detection" />
#if("#isMobile()"==false)<meta http-equiv="X-UA-Compatible" content="IE=Edge"/>#end

<meta property="al:android:package" content="com.skt.tmaphot" />
<meta property="al:android:url" content="pickat2://webview/$esc.url($shareRealUrl)/$!{aoiId}?src=mweb" />
<meta property="al:android:app_name" content="Syrup Table" />
<meta property="al:ios:url" content="pickat2://webview/$esc.url($shareRealUrl)/$!{aoiId}?src=mweb" />
<meta property="al:ios:app_store_id" content="489789094" />
<meta property="al:ios:app_name" content="Syrup Table" />
<meta property="al:web:url" content="${shareRealUrl}?externalLink=facebook" />	
	
<meta property="og:type" content="website"/>
<meta property="og:url" content="${shareRealUrl}/$!{aoiId}" />
<meta property="og:title" content="Syrup 테이블 인증맛집" />
<meta property="og:description" content="#if($aoiId)$aoisMap[$aoiId]#{else}${verifieds.verifieds[0].name}#end 인증맛집을 공유했습니다." />
<meta property="og:image" content="http://m.table.syrup.co.kr/img/img_share_verifieds.png" />

<title>Syrup Table</title>
#if($type=='app')
<link rel="stylesheet" type="text/css" href="/css/trend.css" />
#else
<link rel="stylesheet" type="text/css" href="/css/common.css" />
<link rel="stylesheet" type="text/css" href="/css/trend.mweb.css" />
#end
<link type="text/css" rel="stylesheet" href="/css/swiper.min.css">
<style>
.ui-trend-list nav div.swiper-wrapper div.swiper-slide { float: left; width: 20%; height: 45px; text-align: center; position: relative; }
.ui-trend-list nav div.swiper-wrapper div.swiper-slide a { font-weight: 500; color: #3a3a3a; height: 29px; font-size: 1rem; line-height: 1; display: inline-block; position: absolute; left: 50%; -webkit-transform: translate(-50%, 0); bottom: 0; width: auto; box-sizing: border-box; }
.ui-trend-list nav div.swiper-wrapper div.selected a { color: #60c701; border-bottom: 3px solid #60c701; }
.ui-trend-list .ui-poi-list .ui-badge .ui-insta { position: absolute; top: 14px; left: 14px; background: url(../img/i_photos01.png) 0 0 no-repeat; background-size: 20px auto; width: 20px; height: 20px; }
.ui-trend-list .ui-poi-list .ui-badge .ui-fs { position: absolute; top: 14px; left: 14px; background: url(../img/i_photos02.png) 0 0 no-repeat; background-size: auto 20px; width: 20px; height: 20px; }
@media (max-width: 320px) {
.ui-trend-list nav ul li { height: 28px; padding-top: 12px; }
.ui-trend-list nav ul li a { height: 26px; }
.ui-trend-list .ui-poi-list .ui-badge .ui-insta { top: 12px; left: 13px; background-size: 11px auto; width: 11px; height: 11px; }
.ui-trend-list .ui-poi-list .ui-badge .ui-fs { top: 12px; left: 13px; background-size: auto 11px; width: 20px; height: 11px; }
}
.hidden{display:none;}
</style>
</head>
<body>
<div class="#if($type=='app')ui-wrap-#getOS()#{else}ui-wrap#end">
<section class="ui-trend-list">  
<div id="ui-header">
	<header class=""> <!-- scroll down  class : .ui-scroll-down -->
		#if($type!='app')<div class="logo"><a href="/main" onclick="rakeTrack('$pageId', 'click.logo', function(){location.href=this.href;}.bind(this)); return false;">Syrup Table</a></div>#end
		<div class="ui-share">
			#if("#isMobile()"==true)<button class="ui-kakao" onclick="rakeTrack('$pageId', 'share_click.kakaotalkbtn', pickatMon.share.call(this, 'kakaotalk'));"><span>kakao TALK</span></button>#end
			<button class="ui-fb" onclick="rakeTrack('$pageId', 'share_click.facebookbtn', pickatMon.share.call(this, 'facebook'));"><span>facebook</span></button>
			#if("#isMobile()"==true)<button class="ui-sms" onclick="rakeTrack('$pageId', 'share_click.smsbtn', pickatMon.share.call(this, 'sms'));"><span>SMS</span></button>#end
		</div>
		<div class="ui-keyword"><span class="ui-hidden">2015 TABLE SELECT</span></div>
		#if($type=='app')<h1>시럽 테이블 인증 맛집</h1>#else<h2>시럽 테이블 인증 맛집</h2>#end
		<a href="#info" class="ui-info" onclick="pickatMon.openVerifiedInfo(true); rakeTrack('$pageId', 'click.infobtn');"><span class="ui-hidden">Info.</span></a>
		##if("#isMobile()"==false)<a href="/main" class="ui-btn-home" data-ajax="false">Home</a>#end
	</header>
	<nav class="swiper-menu swiper-container">
		<div class="swiper-wrapper">
			#foreach($verified in $verifieds.verifieds)
			<div class="swiper-slide #if($foreach.isFirst())selected#end" onclick="pickatMon.clickMenuItem(this); return false;"><a href="#none">$!esc.html($verified.name)</a></div>
			#end
		</div>
	</nav>
</div>
<div id="ui-content" class="swiper-contents swiper-container">
	<div class="swiper-wrapper">
		#foreach($verified in $verifieds.verifieds)
		<div class="swiper-slide">
	    	<section class="ui-poi-list">
	    		#foreach($poi in $verified.pois)
	    		<article class="ui-box-poi #if(!$poi.mainImage || $poi.mainImage.type=='blog')no-photo#end" onclick="shuttle.setPoi_id($poi.poiId); rakeTrack('$pageId', 'click.poi', function(){ window.location = '#if($type=='app')pickat2://poi/${poi.poiId}?src=mweb#{else}/poi/$poi.poiId#end'});">
	    			<figure class="ui-badge">
					#if($poi.mainImage && $poi.mainImage.type!='blog')
						<span class="ui-img-area" style="background-image:url('#getThumbnail($poi.mainImage, "480")');"></span>
						<span class="ui-photos">$poi.scoreboard.images</span>
						#if($poi.mainImage.type=='instagram')
						<span class="ui-insta"></span>
						#elseif($poi.mainImage.type=='foursquare')
						<span class="ui-fs"></span>
						#end
					#end
					#if($poi.tagPOI.isVerified)
						<figcaption class="ui-badge-selec">2015 TABLE SELECT</figcaption>
					#end
					</figure>
	    			<h2>$!esc.html($poi.name)</h2>
	    			<div class="ui-info">
	    				<span class="ui-star-rate"><span class="ui-inner-star" style="width:#getRating($poi.scoreboard.rating)%;"></span></span>
	    				<span class="ui-voter"><em>$poi.scoreboard.rater</em>명</span>
	    				<span class="ui-review">리뷰<em>$math.add($poi.scoreboard.picks, $poi.scoreboard.blogReviews)</em></span>
	    			</div>
	    			<div class="ui-address">$!esc.html($poi.abbrAddress)</div>
	    			<div class="ui-tag">#foreach($hashtag in $poi.hashtags)<span>#$!esc.html($hashtag.name)</span>#end</div>
	    			#if($poi.tagPOI.isAdsence || $poi.tagPOI.isAdsence || $poi.tagPOI.isOrder)<div class="ui-stickr">#if($poi.tagPOI.isAdsence)<span class="ui-stk-ad">AD</span>#end #if($poi.tagPOI.isOrder)<span class="ui-stk-order">SYRUP ORDER</span>#end #if($poi.tagPOI.isCoupon)<span class="ui-stk-coupon">COUPON</span>#end</div>#end
				</article>
	    		#end
	    	</section>
    		<input type="hidden" name="view-more" value="$!verified.paging.next" autocomplete="off" />
		</div>
		#end
	</div>
	<div id="loading" class="hidden" style="text-align:center; padding:10px 0 5px;">
		<img src="/img/loading_web.gif" width="32px" height="32px" alt="로딩이미지"/>
	</div>
</div>
</section>
<section id="verifieds-info-popup" class="ui-popup hidden">
	<div class="ui-bg-lyr" onclick="pickatMon.openVerifiedInfo(false);"></div>
	<div class="ui-pop-content">
		<div class="top">table select</div>
		<div class="cnt-box">
			<strong>Syrup Table 인증맛집 선정과정</strong>
			Syrup Table 인증맛집은 이용자가 직접 생성한 정보는 물론 블로그, SNS 등에 등록된 다양한 정보를 수집, 분석하여 정해집니다. <br />
			<strong>국내 최대 규모의 맛집 데이터 분석</strong>
			전국 80만개 음식점 정보에 대한 450만개 이상의 리뷰와 사진 정보 등 국내 최대 규모의 Syrup Table 맛집 데이터와 리뷰를 분석해 맛, 분위기, 위치들을 기준으로 점수를 주고 패널, 전문가 평가단의 평가를 합산하여 종합한 믿을 수 있는 맛집 리스트 입니다.
		</div>
		<button class="btn-close" onclick="pickatMon.openVerifiedInfo(false);">X</button>
	</div>	
</section>
#set($URLscheme = "webview/$esc.url($shareRealUrl)")
#parse("appdownloadPopup.vm")
</div>
## Script
<script type="text/javascript" src="/js/$rc.getMessage('lib.js.jquery')"></script>
<script type="text/javascript" src="/js/jquery.endless-scroll.js"></script>
<script type="text/javascript" src="/js/kakao.min.js"></script>
<script type="text/javascript" src="/js/snsShare.js"></script>
<script type="text/javascript" src="/js/swiper.min.js"></script>
#parse("sentinel.vm")
<script>
##페이지뷰 통계
rakeTrack('$pageId', '');

##더보기
$(document).endlessScroll({
	fireDelay: 100,
	bottomPixels: 200,
	callback: function(i) {
		pickatMon.more();
	}
});

$(function(){
	var uiHeader = document.getElementById('ui-header');
	$(window).scroll(function(){
		uiHeader.classList.toggle('ui-smaller', window.scrollY >= 100)
    });
    
});

var pickatMon = (function(){
	var xhr = null;
	var aoiIds = [#foreach($verified in $verifieds.verifieds)$verified.aoiId#if(!$foreach.isLast()),#end#end];
	
	##DOM Caching
	var elBody = document.body;
	var elViewMore = document.getElementsByName('view-more');
	var elLoading = document.getElementById('loading');
	var elInfoPopup = document.getElementById('verifieds-info-popup');
	
	var jqSwiperWrapper = $('.swiper-contents .swiper-wrapper');
	var jqPOIList = $('.ui-poi-list');
	var jqMenuSlides = $('.swiper-menu .swiper-slide');
	
	
	##Swiper init
    var menuSwiper = new Swiper('.swiper-menu', {
		#if($verifieds.verifieds.size()<5)
        slidesPerView: $verifieds.verifieds.size()
		#else
		slidesPerView: 5
		#end
        , loop:false
        , grabCursor: true
        , spaceBetween: 1
    });
    
    var contentsSwiper = new Swiper('.swiper-contents', {
		initialSlide: aoiIds.indexOf($!aoiId),
    	loop:false,
        grabCursor: true,
        onSlideChangeStart: function(swiper){
        	var idx = swiper.activeIndex;
        	var h = jqPOIList.eq(idx).height() + 30;
        	jqSwiperWrapper.height(h);
    		jqMenuSlides.removeClass('selected');
			jqMenuSlides.eq(idx).addClass('selected');
    		
    		rakeTrack('$pageId', 'swipe.tab');
        }
    });
	contentsSwiper.params.control = menuSwiper;
	
	return {
		more: function(){
			var idx = contentsSwiper.activeIndex;
			if(!elViewMore[idx].value){
				return;
			}
			if(xhr){
    			return;
    		}
    		var fragment = document.createDocumentFragment();
            var div = document.createElement("div");
    		
    		xhr = $.ajax({
                url: '/verifieds/'+aoiIds[idx]+'/'+elViewMore[idx].value+'/20'
        		, beforeSend: function(){
        			elLoading.classList.remove('hidden');
        		}
            }).done(function(ret) {
        		elLoading.classList.add('hidden');
        		div.innerHTML = ret;
            	fragment.appendChild(div);
            	var moreContent = $(fragment).children().find('article');
    			jqPOIList.eq(idx).append(moreContent);
        		
    			var h = jqPOIList.eq(idx).height() + 30;
    	    	jqSwiperWrapper.height(h);
    			
        		var next = $(ret).find('#view-more').val();
        		if(next){
        			elViewMore[idx].value = next;
        		}else{
        			elViewMore[idx].value = '';
        		}
        		xhr=null;
				rakeTrack('$pageId', 'all_scroll');
            });
		}
		, getAOI: function(){
			return aoiIds[contentsSwiper.activeIndex];
		}
		, openVerifiedInfo: function(isOpen){
        	window.scrollTo(0, 0);
        	if(isOpen){
            	elBody.addEventListener('touchmove', stopScroll);
        		elBody.style.overflow = 'hidden';
        		elInfoPopup.classList.remove('hidden');
        	}else{
            	elBody.removeEventListener('touchmove', stopScroll);
        		elBody.style.overflow = 'auto';
				elInfoPopup.classList.add('hidden');
				if(location.hash){
        			history.back();
        		}
        	}
		}
		, share: function(target){
			var aoiName = document.querySelector('.swiper-slide.selected a').textContent;
			if(target == 'kakaotalk'){
				var link = 'http://m.table.syrup.co.kr/web/verifieds/'+pickatMon.getAOI()+'/kakaotalk/1';
				snsShare.link('kakaotalk').send({
					url: link
					, label: '${sharePreLabel} '+aoiName+' ${shareLabel}\n'+link
					, image: 'http://m.table.syrup.co.kr/img/img_share_verifieds.png'
				});
			}else if(target == 'facebook'){
				snsShare.link('facebook').send({
					url: '${shareRealUrl}/'+pickatMon.getAOI()
				});
			}else if(target == 'sms'){
				window.location='sms:#if("#getOS()"=='ios')&#{else}?#{end}body='+'${sharePreLabel} '+aoiName+' ${shareLabel}%0A${shareUrl}/sms/1?uri=verifieds/'+pickatMon.getAOI();
			}
		}
		, clickMenuItem: function(element){
			if(element.classList.contains('selected')){
        		return;
        	}
			shuttle.setSubtab_name('$!esc.javascript($verified.name)');
			rakeTrack('$pageId', 'subtab_click.tab', function(){
				shuttle.setSubtab_name();
			});
			
        	document.querySelector('.selected').classList.remove('selected');
        	element.classList.add('selected');
        	
        	var index = jqMenuSlides.index(element);
        	if(index > contentsSwiper.previousIndex){
        		menuSwiper.slideNext();
        	}else{
        		menuSwiper.slidePrev();
        	}
        	contentsSwiper.slideTo(index);
		}
	}
})();

</script>
#include("/googleAnalytics.vm")
</body>
</html>