#set($pageId = "/detail/story/poilist")
<div>
#foreach($poi in $storyPois.pois)
<article class="ui-box-poi" onclick="rakeTrack('$pageId', 'click.poi', function(){ location.href = '#if($type=='app')pickat2://poi/${poi.poiId}?src=mweb#{else}/poi/$poi.poiId#end' });">
	<h2>$!esc.html($poi.name)</h2>
	<figure class="ui-badge">#if($poi.mainImage.image)<img src="#getThumbnail($poi.mainImage, '180x180')" alt="$!esc.html($poi.name)" /><span class="ui-photos#if($poi.mainImage.type=='instagram') ui-insta#elseif($poi.mainImage.type=='foursquare') ui-fs#end"></span>#end #if($poi.tagPOI.isVerified)<figcaption class="ui-badge-selec">2015 TABLE SELECT</figcaption>#end</figure>
	<div class="ui-info">
		<span class="ui-star-rate"><span class="ui-inner-star" style="width:#getRating($poi.scoreboard.rating)%;"></span></span>
		<span class="ui-voter"><em>$poi.scoreboard.rater</em>명</span>
		<span class="ui-review">리뷰<em>$math.add($poi.scoreboard.picks, $poi.scoreboard.blogReviews)</em></span>
	</div>
	<address class="ui-address">$!esc.html($poi.abbrAddress)</address>
	<div class="ui-tag">#foreach($hashtag in $poi.hashtags)#if($foreach.index<3)<span>#$!esc.html($hashtag.name)</span>#end#end</div>
</article>
#end
<input type="hidden" id="view-more" value="$!storyPois.paging.next" autocomplete="off" />
</div>