<!DOCTYPE html>
<html lang="ko">
<head>
#set($pageId = "/main_myloc/mapview")
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width">
<meta name="format-detection" content="telephone=no">
#if("#isMobile()"==false)<meta http-equiv="X-UA-Compatible" content="IE=Edge"/>#end
<title>Syrup Table</title>
<link rel="stylesheet" type="text/css" href="/css/common.css" />
<link rel="stylesheet" type="text/css" href="/css/detail.mweb.css" />
<link rel="stylesheet" type="text/css" href="/css/swiper.min.css" />
<link rel="stylesheet" type="text/css" href="/css/jquery.toast.min.css">
<style>
.jq-toast-wrap{z-index:999;}
</style>
</head>
<body>
<div class="ui-wrap full-page">
	<section class="ui-trend-list">
		<div id="ui-header" class="ui-smaller">
			<header>
				<h1><span class="lbs">$esc.html($aoiName)</span></h1>
			</header>
		</div>
	</section>

	<!-- main snb group -->
	<nav class="main-snb-grp map-view-st">
		<div class="swiper-container main-snb-module">
    		<div class="swiper-wrapper">
    			#foreach($suggestion in $suggestions)
    			#if($suggestion.pSet != "coupon")
					#if($suggestion.pSet)#set($pSet=$suggestion.pSet)#{else}#set($pSet="0")#end
                    #if($suggestion.pHashtagId)#set($pHashtagId=$suggestion.pHashtagId)#{else}#set($pHashtagId="0")#end
    				#if($suggestion.pCategoryId)#set($pCategoryId=$suggestion.pCategoryId)#{else}#set($pCategoryId="00-00")#end
					#if(!$suggestion.name && $suggestion.pCategoryId == $categoryId)#set($pName="#getCategoryName($categoryId)")#{else}#set($pName="$esc.html($suggestion.name)")#end
				<div class="swiper-slide #if($suggestion.pSet==$set || $suggestion.pHashtagId==$hashtagId || $suggestion.pCategoryId==$categoryId)selected#end"><a href="/main-map/$pSet/$pHashtagId/$pCategoryId/1/20">$pName</a></div>
    			#end
    			#end
    		</div>
		</div>
	</nav>
	<!--// main snb group -->

	<!-- map group -->
	<div class="ui-map-grp">
		<div id="map" class="map-module">
			<div id="loading" class="hidden" style="text-align:center;">
        		<img src="/img/loading_web.gif" style="position:fixed;z-index:999;width:32px;height:32px;top:49%;left:49%;" width="32px" height="32px" alt="로딩이미지"/>
        	</div>
		</div>
		<div class="poi-container">
    		<div class="swiper-wrapper" style="z-index:999;">
    		#if($set == "latest")
    			#foreach($card in $mainPlaces.cards)
				#if($card.type == 1 && $card.poi)
    			#set($poi = $card.poi)
    			<div class="swiper-slide">
    				<div class="certi-list-grp">
    					<article class="ui-box-poi" onclick="shuttle.setPoi_id($poi.poiId); shuttle.setDisplay_order($foreach.index); rakeTrack('$pageId', 'map_click.poi', function(){location.href='/poi/$poi.poiId';});">
    						<h2>$esc.html($poi.name)</h2>
    						<figure class="ui-badge">#if($poi.mainImage && $poi.mainImage.type!='blog')<img src="#getThumbnail($poi.mainImage, '180x180')" alt="$esc.html($poi.name)" />#end#if($poi.mainImage.type=='instagram')<span class="ui-photos ui-insta"></span>#elseif($poi.mainImage.type=='foursquare')<span class="ui-fs"></span>#end#if($poi.tags.contains("verified"))<figcaption class="ui-badge-selec">2015 TABLE SELECT</figcaption>#end</figure>
    						<div class="ui-info">
    							<span class="ui-star-rate"><span class="ui-inner-star" style="width:#getRating($poi.scoreboard.starRating)%;"></span></span>
    							<span class="ui-voter"><em>$poi.scoreboard.rater</em>명</span>
    							<span class="ui-bar">리뷰$math.add($poi.scoreboard.picks, $poi.scoreboard.blogReviews)</span>
    							#if($longitude && $latitude)<span class="ui-bar">$EPSG4326.getDistance($longitude, $latitude, $poi.location.coordinates[0], $poi.location.coordinates[1], "km")</span>#end
    						</div>
    						<div class="ui-tag">#foreach($hashtag in $poi.hashtags)<span>#$!esc.html($hashtag.hashtag)</span>#end</div>
    					</article>
    				</div>
    			</div>
				#end
    			#end
    		#else
    			#foreach($poi in $mainPlaces.pois)
    			<div class="swiper-slide">
    				<div class="certi-list-grp">
    					<article class="ui-box-poi" onclick="shuttle.setPoi_id($poi.poiId); shuttle.setDisplay_order($foreach.index); rakeTrack('$pageId', 'map_click.poi', function(){location.href='/poi/$poi.poiId';});">
    						<h2>#if($set=="ranking" && $startIdx)<em>$math.add($startIdx, $foreach.index)위</em> #end$esc.html($poi.name)</h2>
    						<figure class="ui-badge">#if($poi.mainImage && $poi.mainImage.type!='blog')<img src="#getThumbnail($poi.mainImage, '180x180')" alt="$esc.html($poi.name)" />#end#if($poi.mainImage.type=='instagram')<span class="ui-photos ui-insta"></span>#elseif($poi.mainImage.type=='foursquare')<span class="ui-fs"></span>#end#if($poi.tags.contains("verified"))<figcaption class="ui-badge-selec">2015 TABLE SELECT</figcaption>#end</figure>
    						<div class="ui-info">
    							<span class="ui-star-rate"><span class="ui-inner-star" style="width:#getRating($poi.scoreboard.starRating)%;"></span></span>
    							<span class="ui-voter"><em>$poi.scoreboard.rater</em>명</span>
    							<span class="ui-bar">리뷰$math.add($poi.scoreboard.picks, $poi.scoreboard.blogReviews)</span>
    							#if($longitude && $latitude)<span class="ui-bar">$EPSG4326.getDistance($longitude, $latitude, $poi.location.coordinates[0], $poi.location.coordinates[1], "km")</span>#end
    						</div>
							#if($set=="sorder")<div class="ui-clock">$poi.businessHours</div>#end
    						<div class="ui-tag">#foreach($hashtag in $poi.hashtags)<span>#$!esc.html($hashtag.hashtag)</span>#end</div>
    					</article>
    				</div>
    			</div>
    			#end
    		#end
    		</div>
		</div>
	</div>
	<!--// map group -->
</div>
#parse("footer.vm")

## Script
<script type="text/javascript" src="/js/$rc.getMessage('lib.js.jquery')"></script>
<script type="text/javascript" src="/js/jquery.toast.min.js"></script>
<script type="text/javascript" src="${rc.getMessage('sk.map.js.skplanetx.url')}"></script>
<script type="text/javascript" src="/js/XY.js"></script>
#parse("sentinel.vm")
<script src="/js/swiper.min.js"></script>

<script>
##페이지뷰 통계
rakeTrack('$pageId', '');

## Event handling
var snbSlides = $('.main-snb-module .swiper-wrapper .swiper-slide').on('click', function(e){
	e.stopPropagation();
	e.preventDefault();
	if($(this).hasClass('selected')){
		return false;
	}
	snbSlides.removeClass('selected');
	$(this).addClass('selected');
	
	var requestUrl = $(this).children('a').attr('href').replace('/1/20','');
	pickatMon.clickSuggestion(requestUrl);
	
	shuttle.setSubtab_name($('.main-snb-grp .swiper-slide.selected a').text());
	rakeTrack('$pageId', 'subtab_click.tab', function(){shuttle.setSubtab_name();});
	
});

function showToast(msg){
	$.toast({
        text: msg, // Text that is to be shown in the toast
        showHideTransition: 'fade', // fade, slide or plain
        allowToastClose: false, // Boolean value true or false
        hideAfter: 1500, // false to make it sticky or number representing the miliseconds as time after which toast needs to be hidden
        stack: false, // false if there should be only one toast at a time or a number representing the maximum number of toasts to be shown at a time
        position: 'mid-center', // bottom-left or bottom-right or bottom-center or top-left or top-right or top-center or mid-center or an object representing the left, right, top, bottom values
        
        bgColor: '#444444',  // Background color of the toast
        textColor: '#eeeeee',  // Text color of the toast
        textAlign: 'center',  // Text alignment i.e. left, right or center
    });
}

var pickatMon = (function(){
	
	var xhr;
	var map;
	var markerLayer;
	var useStorage = typeof(Storage) != undefined ? true:false;
	
	## DOM Caching
	var elLoading = document.getElementById('loading');
	var elPOIContainer = document.querySelector('.poi-container');
	var jqPOIWrapper = $('.poi-container .swiper-wrapper');
	var jqMarkers = $('.map-marker');
	
	## Swiper
	var snbSwiper = new Swiper('.main-snb-module', {
		slidesPerView: 'auto'
		, initialSlide: $('.main-snb-grp .selected').index()
		, spaceBetween: 15
		, centeredSlides: false
		, slideToClickedSlide: true
	});
	
	var contentsSwiper = new Swiper('.poi-container', {
		setWrapperSize: true
		, onSlideChangeStart: function(swiper){
			if(markerLayer.markers.length>0){
				var idx = swiper.activeIndex;
				map.panTo(markerLayer.markers[idx].lonlat);
				jqMarkers.removeClass('marker-selected');
				jqMarkers.css('z-index', 'auto');
				jqMarkers.eq(idx).addClass('marker-selected');
				jqMarkers.eq(idx).css('z-index', 900);
				rakeTrack('$pageId', 'map_swipe.poi');
			}
		}
	});
	
	## map관련 function
	function addMarker(point, poiId){
		var markerSize = new Tmap.Size(41,46);
		var markerOffset = new Tmap.Pixel(-(markerSize.w/2), -(markerSize.h));
		##var markerIcon = new Tmap.Icon('/img/marker.png', markerSize, markerOffset);
		var iconHtml = '<div class="map-marker marker-default"></div>';
		var markerIcon = new Tmap.IconHtml(iconHtml, markerSize, markerOffset);
		var marker = new Tmap.Marker(point, markerIcon);
		
		marker.events.register('#if("#isMobile()"==true)touchstart#{else}click#end', marker, function() {
			contentsSwiper.slideTo(markerLayer.markers.indexOf(this));
			elPOIContainer.classList.remove('hidden');
			shuttle.setPoi_id(poiId);
			rakeTrack('$pageId', 'map_click.poipin', function(){shuttle.setPoi_id();});
		});
		
		markerLayer.addMarker(marker);
	}
	
	function zoomToExtent(){
		var extent = markerLayer.getDataExtent();
		if(extent){
			var gap = 100;
			extent.bottom -= gap;
			extent.top += gap;
			extent.left -= gap;
			extent.right += gap;
			map.zoomToExtent(extent);
		}
	}
	
	return {
		initMap: function(){
			map = new Tmap.Map({div:"map", minZoom:7, maxZoom:19});
			markerLayer = new Tmap.Layer.Markers('markerLayer');
			map.addLayer(markerLayer, 13);
			
			map.removeAllControls();
			
			##마커등록
		#if($set=="latest")
			#foreach($card in $mainPlaces.cards)
			#if($card.type == 1)
			#set($poi = $card.poi)
			var xy = XY.conv4326to3857($poi.location.coordinates[0], $poi.location.coordinates[1]);
			var center = new Tmap.LonLat(xy.x, xy.y);
			addMarker(center, $poi.poiId);
			#end
			#end
		#else
			#foreach($poi in $mainPlaces.pois)
			var xy = XY.conv4326to3857($poi.location.coordinates[0], $poi.location.coordinates[1]);
			var center = new Tmap.LonLat(xy.x, xy.y);
			addMarker(center, $poi.poiId);
			#end
		#end
			jqMarkers = $('.map-marker');
			jqMarkers.eq(0).addClass('marker-selected');
			jqMarkers.eq(0).css('z-index', 900);	
		
		
			##줌
			zoomToExtent();
			
			if(markerLayer.markers.length>0){
				map.setCenter(markerLayer.markers[0].lonlat);
			}else{
				showToast('검색결과가 없습니다.');
			}
			
			##Event handling
			#if("#isMobile()"==true)
			map.events.register('touchmove', map, function() {
				elPOIContainer.classList.add('hidden');
			});
			#else
			var dragcontrol = new Tmap.Control.DragPan({'map':map, 'panMapDone':function(evt){
                elPOIContainer.classList.add('hidden');
            }});
            dragcontrol.draw();
            map.addControl(dragcontrol);
            dragcontrol.activate();
			#end
		}
		, clickSuggestion: function(requestUrl){
			if(xhr){
				return;
			}
			markerLayer.clearMarkers();
			contentsSwiper.slides.remove();
			
			var fragment = document.createDocumentFragment();
            var div = document.createElement("div");
			
			##세션스토리지에 있는 캐시 사용
    		if(useStorage && sessionStorage[requestUrl]!=undefined){
				var ret = sessionStorage[requestUrl];
    			div.innerHTML = ret;
            	fragment.appendChild(div);
        		
				var moreContent = $(fragment).children().find('.swiper-slide');
				if(moreContent.length==0){
        			showToast('검색결과가 없습니다.');
				}else{
					jqPOIWrapper.html(moreContent);
					for(var i=0; i<moreContent.length; i++){
						var xy = XY.conv4326to3857(moreContent[i].getAttribute('data-coordinates-lng'), moreContent[i].getAttribute('data-coordinates-lat'));
            			var center = new Tmap.LonLat(xy.x, xy.y);
            			addMarker(center, moreContent[i].getAttribute('data-poi-id'));
					}
					jqMarkers = $('.map-marker');
        			jqMarkers.eq(0).addClass('marker-selected');
        			jqMarkers.eq(0).css('z-index', 900);
				}
				zoomToExtent();
				contentsSwiper.slideTo(0);
				contentsSwiper.update();
    			return;
    		}
			
			xhr = $.ajax({
                url: requestUrl
				, data:{aoiId:$aoiId}
        		, beforeSend: function(){
					elLoading.classList.remove('hidden');
        		}
            }).done(function(ret) {
        		elLoading.classList.add('hidden');
        		
        		div.innerHTML = ret;
            	fragment.appendChild(div);
        		
				var moreContent = $(fragment).children().find('.swiper-slide');
				if(moreContent.length==0){
        			showToast('검색결과가 없습니다.');
				}else{
					jqPOIWrapper.html(moreContent);
					for(var i=0; i<moreContent.length; i++){
						var xy = XY.conv4326to3857(moreContent[i].getAttribute('data-coordinates-lng'), moreContent[i].getAttribute('data-coordinates-lat'));
            			var center = new Tmap.LonLat(xy.x, xy.y);
            			addMarker(center, moreContent[i].getAttribute('data-poi-id'));
					}
					jqMarkers = $('.map-marker');
        			jqMarkers.eq(0).addClass('marker-selected');
        			jqMarkers.eq(0).css('z-index', 900);
				}
				zoomToExtent();
				contentsSwiper.slideTo(0);
				contentsSwiper.update();
        		xhr = null;
				if(useStorage){
					sessionStorage[requestUrl] = ret;
				}
            });
		}
	}
})();

pickatMon.initMap();

</script>
#include("/googleAnalytics.vm")
</body>
</html>