<div>
#if($imageType == "picks")
    #foreach($image in $picks.images)
    #if($foreach.index%3 == 0)<ul>#end
	<li><a href="/poi/$poiId/image-view#$foreach.index" style="background-image:url('#getThumbnail($image, '180x180')')" onclick="rakeTrack('$pageId', 'click.photo', function(){location.href=this.href;}.bind(this)); return false;">사진 이미지 영역 #$foreach.index #if($image.type=="instagram")<span class="sns insta">인스타그램 연동 사진</span>#elseif($image.type=="foursquare")<span class="sns fb">포스퀘어 연동 사진</span>#end</a></li>
    #if($foreach.index%3 == 2 || $foreach.isLast())</ul>#end
    #end
#elseif($imageType == "blogs")
	#foreach($image in $blogs.images)
	#if($foreach.index%3 == 0)<ul>#end
		<li><a href="$image.blogReview.link" style="background-image:url('${rc.getMessage('pickat.thumb.server')}/s180/$image.image')" onclick="rakeTrack('$pageId', 'click.blogphoto', function(){location.href=this.href;}.bind(this)); return false;">사진 이미지 영역 #$foreach.index</a></li>
	#if($foreach.index%3 == 2 || $foreach.isLast())</ul>#end
	#end
#end
<input type="hidden" id="view-more" value="$!paging.next" autocomplete="off" />
</div>